﻿@model Alchemy.Models.EmailSetting

@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/AdminMaster.cshtml";
    Layout = null;
}

@using (Html.BeginForm("Index", "EmailSetting", FormMethod.Post))
{

    <div class="w3-container">
        <table class="w3-table-all w3-tiny">
            <tr>
                <td>
                    Server Name :
                </td>
                <td>
                    @Html.TextBoxFor(m => m.ServerName)
                </td>
            </tr>
            <tr>
                <td>
                    Port :
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Port)
                </td>
            </tr>
            <tr>
                <td>
                    Username :
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Username)
                </td>
            </tr>
            <tr>
                <td>
                    Password :
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Password)
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    @Html.CheckBoxFor(m => m.UserDefaultCredentials) UseDefaultCredentials
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    @Html.CheckBoxFor(m => m.EnableSSL) EnableSsl
                </td>
            </tr>
            <tr>
                <td>
                    From :
                </td>
                <td>
                    @Html.TextBoxFor(m => m.From)
                </td>
            </tr>
            <tr>
                <td>
                    To :
                </td>
                <td>
                    @Html.TextBoxFor(m => m.To)
                </td>
            </tr>
            <tr>
                <td>
                    CC :
                </td>
                <td>
                    @Html.TextBoxFor(m => m.CC)
                </td>
            </tr>
            <tr>
                <td>
                    BCC :
                </td>
                <td>
                    @Html.TextBoxFor(m => m.BCC)
                </td>
            </tr>
            <tr>
                <td>
                    Body :
                </td>
                <td>
                    @Html.TextAreaFor(m => m.Body)
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    @Html.CheckBoxFor(m => m.IsBodyHtml) IsBodyHtml
                    (will append &lt;b&gt;YOUR TEXT&lt;/b&gt;)
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    @Html.CheckBoxFor(m => m.WriteEmailToDisk) Write emails to disk
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Submit" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @if (ViewBag.Result != "")
                    {@ViewBag.Result}
                </td>
            </tr>
        </table>
    </div>

        <style>
            table, th, td {
                border: 1px solid black;
            }

            table {
                border-collapse: collapse;
                align-content: center;
                text-align: center;
            }

            th, td {
                padding: 15px;
                text-align: left;
            }
        </style>
}