﻿.tile-stats
{
    text-align: center;
}

    .tile-stats:hover
    {
        background-color: #2a3f54;
        color: white;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .tile-stats h6
    {
        position: relative;
        margin: 0 0 0 10px;
        z-index: 5;
        padding: 0;
        font-size: 24px;
    }

        .tile-stats h6:hover
        {
            color: white;
        }
