﻿.myformclass .login_content
{
    margin: 20px 0 !important;
    position: relative !important;
}

.myformclass input[type=text],
.myformclass input[type=email],
.myformclass input[type=password]
{
    border-radius: 3px;
    -ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, .08) inset;
    -o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, .08) inset;
    box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, .08) inset;
    border: 1px solid #c8c8c8;
    color: #777;
    margin: 0 0 20px;
    width: 100%;
}

    .myformclass input[type=text]:focus,
    .myformclass input[type=email]:focus,
    .myformclass input[type=password]:focus
    {
        -ms-box-shadow: 0 0 2px #ed1c24 inset;
        -o-box-shadow: 0 0 2px #ed1c24 inset;
        box-shadow: 0 0 2px #A97AAD inset;
        background-color: #fff;
        border: 1px solid #A878AF;
        outline: 0;
    }

/* Change the white to any color ;) */
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill
{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
