/**
 * Template name :Sina-nav Multi Purpose Menu
 * Author 		 :shaonsina
 */

.sina-nav {margin-bottom:0;border-radius:0px;min-height:60px;z-index:999;left:0;right:0;}
.sina-nav ul,
.sina-nav ul ul {padding:0;margin:0;list-style:none;}
.sina-nav ul li a {display:block;white-space:normal;text-decoration:none;line-height:20px;background:transparent;}
.sina-nav .animated {animation-duration:1s;animation-fill-mode:both;}
.sina-nav .container,
.sina-nav .container-fluid {position:relative;}

.sina-nav .dropdown-toggle::after {width:inherit;height:inherit;border:0;margin:0;}
.sina-nav .dropdown {position:relative;}
.sina-nav .dropdown-menu {position:absolute;display:none;top:100%;left:0;z-index:1000;}
.sina-nav .open > .dropdown-menu {display:block;}
.sina-nav .collapse:not(.show) {display:none;}
.sina-nav .collapsing {position:relative;height:0;overflow:hidden;transition:height 0.35s ease;}
.sina-nav .navbar-collapse {overflow-x:visible;padding-right:15px;padding-left:15px;-webkit-overflow-scrolling:touch;}
.sina-nav .navbar-collapse.show {overflow-y:auto;}
.sina-nav .navbar-collapse:before,
.sina-nav .navbar-collapse:after {content:" ";display:table;}
.sina-nav .navbar-collapse:after {clear:both;}
.sina-nav .sina-menu li a {position:relative;display:block;font-size:14px;}
.sina-nav .sina-menu li .fa-icon-left {margin-right:8px;}
.sina-nav .sina-menu li .fa-icon-right {margin-left:8px;}
.sina-nav .sina-menu > li > a {padding:0;font-size:17px;font-weight:600;color:#333;line-height:90px;}
.sina-nav .sina-menu > li.active > a,
.sina-nav .sina-menu > li > a:hover,
.sina-nav .sina-menu > li > a:focus,
.sina-nav .sina-menu > li.dropdown.on > a {color:#fb6e06;background-color:transparent;}
.sina-nav .sina-menu .dropdown-menu {background-color:#fff;margin:0;}
.sina-nav .sina-menu .dropdown-menu li a {color:#333;font-family:'Open Sans',sans-serif;font-size:14px;}
.sina-nav .sina-menu .dropdown-menu li.active > a,
.sina-nav .sina-menu .dropdown-menu li > a:hover,
.sina-nav .sina-menu .dropdown-menu li > a:focus,
.sina-nav .sina-menu .dropdown-menu li.dropdown.on > a {color:#f58640;background-color:#fafafa;}
.sina-nav .sina-menu .dropdown-toggle:focus {outline:0;}

.sina-nav .sina-menu .mega-menu-col-title:before,
.sina-nav .sina-menu .dropdown .dropdown-toggle:before,
.sina-nav .sina-menu .dropdown .dropdown-toggle:after {font-family:"Font Awesome 5 Free";display:inline-block;font-style:normal;font-variant:normal;	text-rendering:auto;-webkit-font-smoothing:antialiased;}
.sina-nav .navbar-collapse {padding:0;}

.sina-nav.navbar-fixed {position:relative;margin-bottom:-151px}
/*
.sina-nav.navbar-fixed.navbar-freez.wp-topbar,
.sina-nav.mobile-sidebar.wp-topbar .navbar-collapse,
.sina-nav.wp-topbar .widget-bar {top:32px;
}
*/.sina-nav.navbar-fixed.navbar-freez {position:fixed !important;top:0;}
 
@media (min-width:1051px) {
.sina-nav .navbar-toggle {display:none;}
.sina-nav .navbar-collapse.collapse {display:block;}
.sina-nav.navbar-reverse .sina-nav-header {float:right;}
.sina-nav .sina-menu {float:left;}
.sina-nav .sina-menu > li {float:left;padding:0 15px;position:relative;}
/*.sina-nav .sina-menu > li:first-child {display:none;}*/
.sina-nav .sina-menu > li:last-child {padding-right:0;}
.sina-nav .sina-menu > li:after {border-left:1px solid #eee;height:20px;display:block;position:absolute;top:50%;right:0px;margin-top:-10px;}
.sina-nav .sina-menu > li:last-child:after {display:none;}
.sina-nav .sina-menu.navbar-left {float:left !important;}
.sina-nav .sina-menu > .dropdown > .dropdown-toggle:after {font-family:"Font Awesome 5 Free";content:"\f0d7";position:absolute;top:20px;right:5px;
display:none;}
.sina-nav .sina-menu .dropdown .dropdown-menu {box-shadow:0 3px 8px #666;border-radius:0px;width:210px;border:0px solid #eee;border-top:2px solid #f58640;}
.sina-nav .sina-menu .dropdown .dropdown-menu .dropdown-menu {left:100%;top:0;}
.sina-nav .sina-menu .dropdown .dropdown-menu .dropdown:first-child .dropdown-menu {top:-1px;}
.sina-nav .sina-menu .dropdown .dropdown-menu > li > a {padding:10px 12px;border-top:solid 1px #eee;}
.sina-nav .sina-menu .dropdown .dropdown-menu > li:first-child > a {border-top:0;}
.sina-nav .sina-menu .dropdown .dropdown-menu .dropdown > .dropdown-toggle {padding:10px 20px 10px 12px;}
.sina-nav .sina-menu .dropdown .dropdown-menu .dropdown > .dropdown-toggle:before {float:right;font-family:"Font Awesome 5 Free";content:"\f054";font-weight:900;
font-size:11px;position:absolute;right:8px;}
.sina-nav .sina-menu .dropdown .mega-menu.dropdown-menu {max-height:400px;overflow-y:auto;}
.sina-nav .sina-menu.navbar-right {float:right !important;left:auto;right:0;}
.sina-nav .sina-menu.navbar-right .dropdown-menu .dropdown-menu {left:-200px;}
.sina-nav .sina-menu.navbar-right > .dropdown > .dropdown-toggle:after {left:5px;}
.sina-nav .sina-menu.navbar-right .dropdown .dropdown-menu {text-align:right;}
.sina-nav .sina-menu.navbar-right .dropdown .dropdown-menu .dropdown > .dropdown-toggle {padding:10px 12px 10px 20px;}
.sina-nav .sina-menu.navbar-right .dropdown .dropdown-menu .dropdown > .dropdown-toggle:before {float:left;font-family:"Font Awesome 5 Free";content:"\f104";font-weight:900;left:8px;right:inherit;}
.sina-nav.navbar-fixed.navbar-freez {position:fixed !important;top:0;}
.sina-nav.navbar-freez .sina-menu > li > a {line-height:60px;}
.sina-nav.navbar-transparent {background-color:transparent;border-color:transparent;}
.sina-nav.navbar-transparent .sina-brand {color:#dddddd;}
.sina-nav.navbar-transparent .sina-menu > li > a {color:#dddddd;}
.sina-nav.navbar-transparent .extension-nav > ul > li.active > a,
.sina-nav.navbar-transparent .extension-nav > ul > li > a:hover,
.sina-nav.navbar-transparent .extension-nav > ul > li > a:focus,
.sina-nav.navbar-transparent .sina-menu > li.active > a,
.sina-nav.navbar-transparent .sina-menu > li > a:hover,
.sina-nav.navbar-transparent .sina-menu > li > a:focus {color:#fff;}
.sina-nav.logo-center .sina-nav-header {width:100%;position:absolute;text-align:center;top:0;left:0;}
.sina-nav.logo-center .sina-brand {float:none;display:inline-block;margin:0;}
.sina-nav.logo-center .navbar-collapse {text-align:center;}
.sina-nav.logo-center .navbar-collapse .col-half {width:50%;float:left;display:block;}
.sina-nav.logo-center .navbar-collapse .col-half.left {text-align:right;padding-right:120px;}
.sina-nav.logo-center .navbar-collapse .col-half.right {text-align:left;padding-left:120px;}
.sina-nav.logo-center .sina-menu {float:none !important;margin:0 0 -7px 0;display:inline-block;padding:0;}
.sina-nav.logo-center .sina-menu > li > .dropdown-menu {margin-top:-1px;}
.sina-nav .sina-menu.navbar-center {float:none;margin:0 auto;display:table;}
}
@media (min-width:1100px) {
.sina-nav .sina-menu > li {float:left;padding:0 20px;}
} 

@media (max-width:1050px) {
.sina-nav {background-color:#fcfcfc;border-color:#eee;}
.sina-nav .sina-nav-header {float:none;display:block;text-align:center;height:60px;}
.sina-nav .navbar-toggle {display:inline-block;position:relative;float:right;font-size:24px;margin:24px 0 0 0;padding:0px;width:40px;line-height:40px;cursor:pointer;background-color:#fafafa;background-image:none;border:1px solid #eee;border-radius:4px;transition:all 0.3s ease-in-out;color:#fb6e06;}
.sina-nav.navbar-freez .navbar-toggle {margin:10px 0 0 0;}
.sina-nav .navbar-toggle:hover,
.sina-nav .navbar-toggle:focus {outline:0;}
.sina-nav.navbar-reverse .navbar-toggle {float:right;}
.sina-nav .navbar-collapse {overflow-y:auto !important;border:1px solid #eee;}
.sina-nav .dropdown .dropdown-toggle {padding:10px 24px 10px 5px;}
.sina-nav .dropdown .dropdown-toggle:before {float:right;font-family:"Font Awesome 5 Free";content:"\f054";font-weight:900;font-size:12px;position:absolute;right:8px;}
.sina-nav .dropdown.on > .dropdown-toggle:before {font-family:"Font Awesome 5 Free";content:"\f078";font-weight:900;}
.sina-nav .sina-menu {float:none !important;}
.sina-nav .sina-menu.navbar-right,
.sina-nav .sina-menu.navbar-right li a {text-align:right;}
.sina-nav .sina-menu.navbar-right .dropdown .dropdown-toggle {padding:10px 12px 10px 24px;}
.sina-nav .sina-menu.navbar-right .dropdown .dropdown-toggle:before {font-family:"Font Awesome 5 Free";content:"\f104";font-weight:900;float:left;font-size:12px;left:8px;right:inherit;}
.sina-nav .sina-menu.navbar-right .dropdown.on > .dropdown-toggle:before {font-family:"Font Awesome 5 Free";content:"\f107";font-weight:600;}
.sina-nav .sina-menu li {float:none;}
.sina-nav .sina-menu li a {max-width:inherit;padding:10px 12px 10px 5px;font-weight:400;display:block;cursor:pointer;font-size:15px;line-height:20px;transition:all 0.3s ease-in-out;color:#333;border-top:solid 1px #ddd;}
.sina-nav .sina-menu li a:hover,
.sina-nav .sina-menu li a:focus,
.sina-nav .sina-menu li.active > a,
.sina-nav .sina-menu li .dropdown-menu li.active > a,
.sina-nav .sina-menu li .dropdown-menu li a:hover,
.sina-nav .sina-menu li .dropdown-menu li a:focus {color:#f6781b;background-color:#f6f6f6;}
.sina-nav .sina-menu > li:first-child > a {border-top:0;}
.sina-nav .sina-menu .dropdown .dropdown-menu {float:none;position:relative!important;left:0;box-shadow:0px 0px 0px;border-radius:0px 0px 0px;
	border:0;border-left:1px solid #F60;background-color:#f9f9f9;	height:auto;}
.sina-nav .sina-menu .dropdown .dropdown-menu > li a {padding-left:20px;}
.sina-nav .sina-menu .dropdown .dropdown-menu .dropdown .dropdown-menu {background:#f1f1f1;}
.sina-nav .sina-menu .dropdown .dropdown-menu .dropdown .dropdown-menu > li a {padding-left:30px;}
.sina-nav.navbar-transparent {border-color:transparent;}
.sina-nav.logo-center .sina-menu .dropdown .dropdown-toggle:before {font-family:"Font Awesome 5 Free";content:"\f105";font-weight:600;float:right;}
.sina-nav.logo-center .sina-menu .dropdown.on > .dropdown-toggle:before {font-family:"Font Awesome 5 Free";content:"\f107";font-weight:600;}
.sina-nav.logo-center .sina-menu,
.sina-nav.logo-center .sina-menu.navbar-right,
.sina-nav.logo-center .sina-menu.navbar-right .mega-menu-col-title,
.sina-nav.logo-center .sina-menu.navbar-right li a,
.sina-nav.logo-center .sina-menu li a {text-align:left;font-weight:900;}
/*.sina-nav.logo-center .sina-menu.navbar-right .mega-menu-col .mega-menu-col-title,*/
.sina-nav.logo-center .sina-menu.navbar-right .dropdown .dropdown-toggle {padding:10px 24px 10px 12px;}
/*.sina-nav.logo-center .sina-menu.navbar-right .mega-menu-col .mega-menu-col-title:before,*/
.sina-nav.logo-center .sina-menu.navbar-right .dropdown .dropdown-toggle:before {font-family:"Font Awesome 5 Free";content:"\f105";font-weight:600;float:right;right:8px;left:inherit;}
/*.sina-nav.logo-center .sina-menu.navbar-right .mega-menu-col.on .mega-menu-col-title:before,*/
.sina-nav.logo-center .sina-menu.navbar-right .dropdown.on > .dropdown-toggle:before {font-family:"Font Awesome 5 Free";content:"\f107";font-weight:600;}
.sina-nav.logo-center .col-half:first-child .sina-menu {padding-bottom:0;}
.sina-nav.logo-center .col-half:first-child .sina-menu > li:first-child > a {border-top:0;}
.sina-nav.logo-center .col-half:last-child .sina-menu {padding-top:0;}
.sina-nav.logo-center .col-half:last-child .sina-menu > li:first-child > a {border-top:solid 1px #eee;}
.sina-nav.mobile-sidebar .navbar-collapse {position:fixed;overflow-x:hidden;display:block;z-index:99;width:300px;height:100% !important;max-height:100%;right:-300px;top:0;padding:0 0 60px;margin:0;transition:all 0.3s ease-in-out;background-color:#fcfcfc;}
.sina-nav.mobile-sidebar .navbar-collapse.show {right:0;}
.sina-nav.mobile-sidebar .navbar-collapse .mega-menu-col {width:100%;max-width:100%;}
.sina-nav.mobile-sidebar .sina-menu {padding:15px 8px;margin:0;}
.sina-nav.mobile-sidebar.navbar-reverse .navbar-collapse {right:-300px;left:inherit;}
.sina-nav.mobile-sidebar.navbar-reverse .navbar-collapse.show {right:0;left:inherit;}
body.mobile-left > .wrapper {margin-left:300px;margin-right:-300px;}
body.mobile-right > .wrapper {margin-right:300px;margin-left:-300px;}
body > .wrapper {transition:all 0.3s ease-in-out;position:relative;}
body.mobile-right header.navbar-freez {right:300px;left:-300px;}
}
/*@media (max-width:767px) {
.sina-nav .sina-nav-header,
.sina-nav .navbar-collapse {margin:0;}
.sina-nav .sina-brand.social-on {margin-top:60px;}
}*/
@media (max-width:479px) {
body.on-side {margin-left:-250px;}
body.mobile-left > .wrapper {margin-left:250px;margin-right:-250px;}
body.mobile-right > .wrapper {margin-right:250px;margin-left:-250px;}
.sina-nav.mobile-sidebar .navbar-collapse {width:250px;}
body.mobile-right header.navbar-freez {right:250px;left:-250px;}
}
/*@media (max-width:782px) {
.sina-nav.mobile-sidebar.wp-topbar .navbar-collapse {top:46px;}
.sina-nav.wp-topbar .widget-bar {top:46px;}
}*/