@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {font-size:16px;line-height:2;}
@media (max-width: 575.98px) {
body {font-size:14px;}
}
.titillium {font-family:'Titillium Web',sans-serif;}
body, .opensans {font-family:'Open Sans',sans-serif;}

ul, li {list-style:none;padding:0;margin:0;}
a, a:hover {text-decoration:none;}
strong {font-weight:700;}
*:before, *:after {content:'';}
::-webkit-scrollbar{width:7px;background-color:#ccc;border-left:1px solid #ccc;} ::-webkit-scrollbar-thumb{background-color:#f6781b;}
::selection {background:#fff212;color:#222} ::-moz-selection {background:#fff212;color:#222}

.fade_anim, .fade_anim *, *:before, *:after {-webkit-transition:all .3s ease-in-out; -moz-transition:all .3s ease-in-out; -o-transition:all .3s ease-in-out; transition:all .3s ease-in-out;}
.no_anim, .no_anim * {-webkit-transition:none;-moz-transition:none;-o-transition:none;transition:none;}

.maxWidth {max-width:1300px;width:100%;padding-left:50px;padding-right:50px;margin-left:auto;margin-right:auto;}
@media (max-width: 1199.98px) {
.maxWidth {padding-left:25px;padding-right:25px;}
}
@media (max-width: 767.98px) {
.maxWidth {padding-left:15px;padding-right:15px;}
}

.orangeColor {color:#f6781b;}
.blueColor {color:#1a5a8f/*0071a7*/;}
.whiteColor {color:#fff;}

.orangeBtn {background:#f6781b;border:0;color:#fff!important;font-size:15px;padding:15px 20px;-webkit-transition:all .3s ease-in-out; -moz-transition:all .3s ease-in-out; -o-transition:all .3s ease-in-out; transition:all .3s ease-in-out;cursor:pointer;text-shadow:none!important;}
.orangeBtn:hover {background:#e36203!important;color:#fff;text-shadow:none!important;}

.whiteBtn {background:#fff;border:1px solid rgba(255,255,255,.7);color:#333!important;font-size:15px;padding:15px 20px;-webkit-transition:all .3s ease-in-out; -moz-transition:all .3s ease-in-out; -o-transition:all .3s ease-in-out; transition:all .3s ease-in-out;cursor:pointer;}
.whiteBtn:hover {background:#e36203;color:#fff!important;}

.scrollToTop {position:fixed;bottom:20px;right:20px;width:35px;height:35px;display:none;z-index:3;opacity:0.9;background:url(../images/scrolltotop.png) no-repeat center center #000;box-shadow:0 0 5px #666;}
.scrollToTop:hover {opacity:1;background-color: #f6781b;}

.form-control:focus {box-shadow:none;}
.form-control::-webkit-input-placeholder{color:#333;opacity:1}
.form-control::-moz-placeholder{color:#333;opacity:1}
.form-control:-ms-input-placeholder{color:#333;opacity:1}
.form-control::-ms-input-placeholder{color:#333;opacity:1}
.form-control::placeholder{color:#333;opacity:1}


/* xxxxxxxxxxx Slick slider css xxxxxxxxxxx */
.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y; touch-action:pan-y;-webkit-tap-highlight-color:transparent;}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0;}
.slick-list:focus{outline:none;}
.slick-list.dragging{cursor:pointer;cursor:hand;}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0, 0, 0); -moz-transform:translate3d(0, 0, 0); -ms-transform:translate3d(0, 0, 0); -o-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0);}
.slick-track{position:relative;top:0;left:0;display:block;}
.slick-track:before,.slick-track:after{display:table;content:'';}
.slick-track:after{clear:both;}
.slick-loading .slick-track{visibility:hidden;}
.slick-slide{display:none;float:left;height:100%;min-height:1px;outline:none;}
[dir='rtl'] .slick-slide{float:right;}
.slick-slide img{display:block;}
.slick-slide.slick-loading img{display:none;}
.slick-slide.dragging img{pointer-events:none;}
.slick-initialized .slick-slide{display:block;}
.slick-loading .slick-slide{visibility:hidden;}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent;}
.slick-arrow {cursor:pointer;}
.slick-arrow.slick-hidden {display:none;}
.slick-dots{position:relative;left:0;right:0;margin:auto;display:block;padding:0;list-style:none;text-align:center;}
.slick-dots li{position:relative;display:inline-block;width:20px;height:20px;margin:0;padding:0;cursor:pointer;}
.slick-dots li button{font-size:0;line-height: 0;display:block;width:20px;height:20px;cursor:pointer;border:0;outline:none;background:none;text-indent:-9999px;}
.slick-dots li button:hover, .slick-dots li button:focus{outline: none;}
.slick-dots li button:hover:before,.slick-dots li button:focus:before{opacity:1;}
.slick-dots li button:before{line-height:0;position:absolute;top:6px;left:6px;width:8px;height:8px;text-align:center;opacity:1;background:#eee;border:1px solid #ccc;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;}
.slick-dots li.slick-active button:before {opacity:1;background:#bbb;}


/* Fancybox popups */

body.compensate-for-scrollbar{overflow:hidden;-ms-overflow-style:none}.fancybox-active{height:auto}.fancybox-is-hidden{left:-9999px;margin:0;position:absolute!important;top:-9999px;visibility:hidden}.fancybox-container{-webkit-backface-visibility:hidden;backface-visibility:hidden;height:100%;left:0;outline:none;position:fixed;-webkit-tap-highlight-color:transparent;top:0;-ms-touch-action:manipulation;touch-action:manipulation;-webkit-transform:translateZ(0);transform:translateZ(0);width:100%;z-index:99992}.fancybox-container *{box-sizing:border-box}.fancybox-bg,.fancybox-inner,.fancybox-outer,.fancybox-stage{bottom:0;left:0;position:absolute;right:0;top:0}.fancybox-outer{-webkit-overflow-scrolling:touch;overflow-y:auto}.fancybox-bg{background:#1e1e1e;opacity:0;transition-duration:inherit;transition-property:opacity;transition-timing-function:cubic-bezier(.47,0,.74,.71)}.fancybox-is-open .fancybox-bg{opacity:.87;transition-timing-function:cubic-bezier(.22,.61,.36,1)}.fancybox-caption,.fancybox-infobar,.fancybox-navigation .fancybox-button,.fancybox-toolbar{direction:ltr;opacity:0;position:absolute;transition:opacity .25s ease,visibility 0s ease .25s;visibility:hidden;z-index:99997}.fancybox-show-caption .fancybox-caption,.fancybox-show-infobar .fancybox-infobar,.fancybox-show-nav .fancybox-navigation .fancybox-button,.fancybox-show-toolbar .fancybox-toolbar{opacity:1;transition:opacity .25s ease 0s,visibility 0s ease 0s;visibility:visible}.fancybox-infobar{color:#ccc;font-size:13px;-webkit-font-smoothing:subpixel-antialiased;height:44px;left:0;line-height:44px;min-width:44px;mix-blend-mode:difference;padding:0 10px;pointer-events:none;top:0;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.fancybox-toolbar{right:0;top:0}.fancybox-stage{direction:ltr;overflow:visible;-webkit-transform:translateZ(0);transform:translateZ(0);z-index:99994}.fancybox-is-open .fancybox-stage{overflow:hidden}.fancybox-slide{-webkit-backface-visibility:hidden;backface-visibility:hidden;display:none;height:100%;left:0;outline:none;overflow:auto;-webkit-overflow-scrolling:touch;padding:44px 44px 0;position:absolute;text-align:center;top:0;transition-property:opacity,-webkit-transform;transition-property:transform,opacity;transition-property:transform,opacity,-webkit-transform;white-space:normal;width:100%;z-index:99994}.fancybox-slide:before{content:"";display:inline-block;font-size:0;height:100%;vertical-align:middle;width:0}.fancybox-is-sliding .fancybox-slide,.fancybox-slide--current,.fancybox-slide--next,.fancybox-slide--previous{display:block}.fancybox-slide--next{z-index:99995}.fancybox-slide--image{padding:44px 0 0;overflow:visible}.fancybox-slide--image:before{display:none}.fancybox-slide--html{padding:6px 6px 0}.fancybox-content{background:#fff;display:inline-block;margin:0 0 44px;max-width:100%;overflow:auto;-webkit-overflow-scrolling:touch;padding:2px;position:relative;text-align:left;vertical-align:middle}.fancybox-slide--image .fancybox-content{-webkit-animation-timing-function:cubic-bezier(.5,0,.14,1);animation-timing-function:cubic-bezier(.5,0,.14,1);-webkit-backface-visibility:hidden;backface-visibility:hidden;background:transparent;background-repeat:no-repeat;background-size:100% 100%;left:0;max-width:none;overflow:visible;padding:0;position:absolute;top:0;-webkit-transform-origin:top left;transform-origin:top left;transition-property:opacity,-webkit-transform;transition-property:transform,opacity;transition-property:transform,opacity,-webkit-transform;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;z-index:99995}.fancybox-slide--html .fancybox-content{margin:0 0 6px}.fancybox-can-zoomOut .fancybox-content{cursor:zoom-out}.fancybox-can-zoomIn .fancybox-content{cursor:zoom-in}.fancybox-can-pan .fancybox-content,.fancybox-can-swipe .fancybox-content{cursor:-webkit-grab;cursor:grab}.fancybox-is-grabbing .fancybox-content{cursor:-webkit-grabbing;cursor:grabbing}.fancybox-container [data-selectable=true]{cursor:text}.fancybox-image,.fancybox-spaceball{background:transparent;border:0;height:100%;left:0;margin:0;max-height:none;max-width:none;padding:0;position:absolute;top:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;width:100%}.fancybox-spaceball{z-index:1}.fancybox-slide--iframe .fancybox-content,.fancybox-slide--map .fancybox-content,.fancybox-slide--video .fancybox-content{height:calc(100% - 44px);overflow:visible;padding:0;width:100%}.fancybox-slide--video .fancybox-content{background:#000}.fancybox-slide--map .fancybox-content{background:#e5e3df}.fancybox-slide--iframe .fancybox-content{background:#fff}.fancybox-iframe,.fancybox-video{background:transparent;border:0;display:block;height:100%;margin:0;overflow:hidden;padding:0;vertical-align:top;width:100%}.fancybox-error{background:#fff;cursor:default;max-width:400px;padding:40px;width:100%}.fancybox-error p{color:#444;font-size:16px;line-height:20px;margin:0;padding:0}.fancybox-button{background:rgba(30,30,30,.6);border:0;border-radius:0;cursor:pointer;display:inline-block;height:44px;margin:0;padding:10px;transition:color .2s;vertical-align:top;visibility:inherit;width:44px}.fancybox-button,.fancybox-button:link,.fancybox-button:visited{color:#fb6e06}.fancybox-button:hover{color:#fb6e06}.fancybox-button:focus{outline:none}.fancybox-button.fancybox-focus{outline:1px dotted}.fancybox-button.disabled,.fancybox-button.disabled:hover,.fancybox-button[disabled],.fancybox-button[disabled]:hover{color:#888;cursor:default;outline:none}.fancybox-button svg{display:block;height:100%;overflow:visible;position:relative;width:100%}.fancybox-button svg path{fill:currentColor;stroke-width:0}.fancybox-button--fsenter svg:nth-child(2),.fancybox-button--fsexit svg:nth-child(1),.fancybox-button--pause svg:nth-child(1),.fancybox-button--play svg:nth-child(2){display:none}.fancybox-close-small{background:transparent;border:0;border-radius:0;color:#ccc;cursor:pointer;opacity:.8;padding:8px;position:absolute;right:-12px;top:-44px;z-index:401}.fancybox-close-small:hover{color:#fff;opacity:1}.fancybox-slide--html .fancybox-close-small{color:currentColor;padding:10px;right:0;top:0}.fancybox-is-scaling .fancybox-close-small,.fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small{display:none}.fancybox-navigation .fancybox-button{background:transparent;height:100px;margin:0;opacity:0;position:absolute;top:calc(50% - 50px);width:70px}.fancybox-navigation .fancybox-button div{background:rgba(30,30,30,.6);height:100%;padding:7px}.fancybox-navigation .fancybox-button--arrow_left{left:0;padding:31px 26px 31px 6px}.fancybox-navigation .fancybox-button--arrow_right{padding:31px 6px 31px 26px;right:0}.fancybox-caption{bottom:0;color:#fff;font-size:14px;font-weight:400;left:0;line-height:1.5;padding:25px 44px;right:0}.fancybox-caption:before{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAEtCAQAAABjBcL7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHRJREFUKM+Vk8EOgDAIQ0vj/3+xBw8qIZZueFnIKC90MCAI8DlrkHGeqqGIU6lVigrBtpCWqeRWoHDNqs0F7VNVBVxmHRlvoVqjaYkdnDIaivH2HqZ5+oZj3JUzWB+cOz4G48Bg+tsJ/tqu4dLC/4Xb+0GcF5BwBC0AA53qAAAAAElFTkSuQmCC);background-repeat:repeat-x;background-size:contain;bottom:0;content:"";display:block;left:0;pointer-events:none;position:absolute;right:0;top:-25px;z-index:-1}.fancybox-caption:after{border-bottom:1px solid hsla(0,0%,100%,.3);content:"";display:block;left:44px;position:absolute;right:44px;top:0}.fancybox-caption a,.fancybox-caption a:link,.fancybox-caption a:visited{color:#ccc;text-decoration:none}.fancybox-caption a:hover{color:#fff;text-decoration:underline}.fancybox-loading{-webkit-animation:a .8s infinite linear;animation:a .8s infinite linear;background:transparent;border:6px solid hsla(0,0%,39%,.5);border-radius:100%;border-top-color:#fff;height:60px;left:50%;margin:-30px 0 0 -30px;opacity:.6;padding:0;position:absolute;top:50%;width:60px;z-index:99999}@-webkit-keyframes a{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes a{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}.fancybox-animated{transition-timing-function:cubic-bezier(0,0,.25,1)}.fancybox-fx-slide.fancybox-slide--previous{opacity:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}.fancybox-fx-slide.fancybox-slide--next{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}.fancybox-fx-slide.fancybox-slide--current{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}.fancybox-fx-fade.fancybox-slide--next,.fancybox-fx-fade.fancybox-slide--previous{opacity:0;transition-timing-function:cubic-bezier(.19,1,.22,1)}.fancybox-fx-fade.fancybox-slide--current{opacity:1}.fancybox-fx-zoom-in-out.fancybox-slide--previous{opacity:0;-webkit-transform:scale3d(1.5,1.5,1.5);transform:scale3d(1.5,1.5,1.5)}.fancybox-fx-zoom-in-out.fancybox-slide--next{opacity:0;-webkit-transform:scale3d(.5,.5,.5);transform:scale3d(.5,.5,.5)}.fancybox-fx-zoom-in-out.fancybox-slide--current{opacity:1;-webkit-transform:scaleX(1);transform:scaleX(1)}.fancybox-fx-rotate.fancybox-slide--previous{opacity:0;-webkit-transform:rotate(-1turn);transform:rotate(-1turn)}.fancybox-fx-rotate.fancybox-slide--next{opacity:0;-webkit-transform:rotate(1turn);transform:rotate(1turn)}.fancybox-fx-rotate.fancybox-slide--current{opacity:1;-webkit-transform:rotate(0deg);transform:rotate(0deg)}.fancybox-fx-circular.fancybox-slide--previous{opacity:0;-webkit-transform:scale3d(0,0,0) translate3d(-100%,0,0);transform:scale3d(0,0,0) translate3d(-100%,0,0)}.fancybox-fx-circular.fancybox-slide--next{opacity:0;-webkit-transform:scale3d(0,0,0) translate3d(100%,0,0);transform:scale3d(0,0,0) translate3d(100%,0,0)}.fancybox-fx-circular.fancybox-slide--current{opacity:1;-webkit-transform:scaleX(1) translateZ(0);transform:scaleX(1) translateZ(0)}.fancybox-fx-tube.fancybox-slide--previous{-webkit-transform:translate3d(-100%,0,0) scale(.1) skew(-10deg);transform:translate3d(-100%,0,0) scale(.1) skew(-10deg)}.fancybox-fx-tube.fancybox-slide--next{-webkit-transform:translate3d(100%,0,0) scale(.1) skew(10deg);transform:translate3d(100%,0,0) scale(.1) skew(10deg)}.fancybox-fx-tube.fancybox-slide--current{-webkit-transform:translateZ(0) scale(1);transform:translateZ(0) scale(1)}@media (max-height:576px){.fancybox-slide{padding-left:6px;padding-right:6px}.fancybox-slide--image{padding:6px 0 0}.fancybox-slide--image .fancybox-content{margin-bottom:6px}.fancybox-slide--image .fancybox-close-small{background:#4e4e4e;color:#f2f4f6;height:36px;opacity:1;padding:6px;right:0;top:0;width:36px}}.fancybox-share{background:#f4f4f4;border-radius:3px;max-width:90%;padding:30px;text-align:center}.fancybox-share h1{color:#222;font-size:35px;font-weight:700;margin:0 0 20px}.fancybox-share p{margin:0;padding:0}.fancybox-share__button{border:0;border-radius:3px;display:inline-block;font-size:14px;font-weight:700;line-height:40px;margin:0 5px 10px;min-width:130px;padding:0 15px;text-decoration:none;transition:all .2s;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;white-space:nowrap}.fancybox-share__button:link,.fancybox-share__button:visited{color:#fff}.fancybox-share__button:hover{text-decoration:none}.fancybox-share__button--fb{background:#3b5998}.fancybox-share__button--fb:hover{background:#344e86}.fancybox-share__button--pt{background:#bd081d}.fancybox-share__button--pt:hover{background:#aa0719}.fancybox-share__button--tw{background:#1da1f2}.fancybox-share__button--tw:hover{background:#0d95e8}.fancybox-share__button svg{height:25px;margin-right:7px;position:relative;top:-1px;vertical-align:middle;width:25px}.fancybox-share__button svg path{fill:#fff}.fancybox-share__input{background:transparent;border:0;border-bottom:1px solid #d7d7d7;border-radius:0;color:#5d5b5b;font-size:14px;margin:10px 0 0;outline:none;padding:10px 15px;width:100%}.fancybox-thumbs{background:#fff;bottom:0;display:none;margin:0;-webkit-overflow-scrolling:touch;-ms-overflow-style:-ms-autohiding-scrollbar;padding:2px 2px 4px;position:absolute;right:0;-webkit-tap-highlight-color:transparent;top:0;width:212px;z-index:99995}.fancybox-thumbs-x{overflow-x:auto;overflow-y:hidden}.fancybox-show-thumbs .fancybox-thumbs{display:block}.fancybox-show-thumbs .fancybox-inner{right:212px}.fancybox-thumbs__list{font-size:0;height:100%;list-style:none;margin:0;overflow-x:hidden;overflow-y:auto;padding:0;position:absolute;position:relative;white-space:nowrap;width:100%}.fancybox-thumbs-x .fancybox-thumbs__list{overflow:hidden}.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar{width:7px}.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track{background:#fff;border-radius:10px;box-shadow:inset 0 0 6px rgba(0,0,0,.3)}.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb{background:#2a2a2a;border-radius:10px}.fancybox-thumbs__list a{-webkit-backface-visibility:hidden;backface-visibility:hidden;background-color:rgba(0,0,0,.1);background-position:50%;background-repeat:no-repeat;background-size:cover;cursor:pointer;float:left;height:75px;margin:2px;max-height:calc(100% - 8px);max-width:calc(50% - 4px);outline:none;overflow:hidden;padding:0;position:relative;-webkit-tap-highlight-color:transparent;width:100px}.fancybox-thumbs__list a:before{border:4px solid #cc0000;bottom:0;content:"";left:0;opacity:0;position:absolute;right:0;top:0;transition:all .2s cubic-bezier(.25,.46,.45,.94);z-index:99991}.fancybox-thumbs__list a:focus:before{opacity:.5}.fancybox-thumbs__list a.fancybox-thumbs-active:before{opacity:1}@media (max-width:768px){.fancybox-thumbs{width:110px}.fancybox-show-thumbs .fancybox-inner{right:110px}.fancybox-thumbs__list a{max-width:calc(100% - 10px)}}.fancybox-slide.watermark .fancybox-spaceball {background:url('../images/watermark.png') repeat;}

/* xxxxxxxxxxxxxxxxxxxxxx */

header {/*position:fixed;*/width:100%;top:0;z-index:100;margin-right:0px;}

.topHeader {background:#333;color:#fff;font-size:14px;margin-top:0px;}

.brandTagline {float:left;padding:0;line-height:40px;}
.brandTagline img {max-width:100%;}

.searchbox {width:100%;max-width:230px;height:30px;float:right;margin-top:5px;position:relative;}
.searchbox input {width:100%;height:30px;background:#fb6e06;border:1px solid rgba(255,255,255,.3);border-radius:15px;color:#fff;padding:0 10px;outline:none;position:absolute;right:0;}
.searchbox input:focus {background:rgba(255,255,255,1);color:#333;}
.searchbox button {width:28px;height:28px;background:#fb6e06;color:#fff;border-radius:15px;font-size:14px;border:0;position:absolute;right:1px;top:1px;cursor:pointer;}

.searchbox input::-webkit-input-placeholder{color:#f1f1f1;opacity:1}
.searchbox input::-moz-placeholder{color:#f1f1f1;opacity:1}
.searchbox input:-ms-input-placeholder{color:#f1f1f1;opacity:1}
.searchbox input::-ms-input-placeholder{color:#f1f1f1;opacity:1}
.searchbox input::placeholder{color:#f1f1f1;opacity:1}

.loginBox {float:right;margin-left:25px;}
.loginBox a {line-height:40px;display:block;padding:0 30px}

.top_social {float:right;}
.top_social ul {display:block;margin:10px 0;white-space:nowrap;}
.top_social ul li {margin:0 8px;display:inline-block;height:20px;float:left;}
.top_social ul li a {color:#fff;line-height:20px;}
.top_social ul li a:hover {color:#fb6e06;}

@media (max-width: 575.98px) {
.brandTagline {font-size:12px;}
.top_social{display:none}
}
@media (max-width:450px) {
.searchbox input:focus {width:220%;}
}

.bottomHeader {padding:10px 0;border-bottom:1px solid #eee;background:#fff;}
.logo {float:left;width:90px;}
.logo img {width:100%;} 

.menuBox {float:right;}

.menu_overlay {width:100%;height:100%;background:rgba(0,0,0,.8);position:fixed;top:0;left:0;z-index:99;display:none;}
.mobile-right .menu_overlay {display:block;}

header.navbar-freez {/*margin-top:-40px;*/box-shadow:0 2px 6px #aaa;}
header.navbar-freez .logo {width:60px;}
/*header.navbar-freez .menuBox > ul > li > a {line-height:60px;}
body.mobile-right header.navbar-freez {margin-right:300px}*/


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.mainContainer {margin-top:151px;}

.homeBanner {height:auto;background:#000;padding:0;}

.homeSlider {height:650px;/*max-width:1400px;width:100%;*/margin:auto;}
.homeSlider .slide {height:650px;background-size:cover;background-repeat:no-repeat;background-position:center center;}
.homeSlider .slide:before {width:100%;height:100%;display:block;position:absolute;top:0;left:0;opacity:.3;z-index:0;
background: rgb(35,35,35);
background: -moz-linear-gradient(-45deg, rgba(35,35,35,1) 0%, rgba(0,0,0,1) 100%);
background: -webkit-linear-gradient(-45deg, rgba(35,35,35,1) 0%,rgba(0,0,0,1) 100%);
background: linear-gradient(135deg, rgba(35,35,35,1) 0%,rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232323', endColorstr='#000000',GradientType=1 );
}

.homeSlider .textSlide {width:90%;text-align:left;margin-top:200px;position:relative;opacity:0;color:#FFF;text-shadow:0 0 30px #333;}
.homeSlider .slick-active .textSlide {opacity:1;-webkit-transition:all .5s 1s ease-in-out;-moz-transition:all .5s 1s ease-in-out;transition:all .5s 1s ease-in-out;}

.homeSlider .textSlide .text_1 {font-size:40px;line-height:1.2;font-family:'Titillium Web',sans-serif;font-weight:400;width:0%;white-space:nowrap;opacity:0;-webkit-transition:all 1s 1.5s ease-in-out;-moz-transition:all 1s 1.5s ease-in-out;transition:all 1s 1.5s ease-in-out;-webkit-transform:translate(0px,50px);-moz-transform:translate(0px,50px);transform:translate(0px,50px);}
.homeSlider .textSlide .text_2 {font-size:60px;line-height:1.2;margin-bottom:10px;color:#fb6e06;font-family:'Titillium Web',sans-serif;font-weight:700;width:0%;white-space:nowrap;opacity:0;-webkit-transition:all 1s 2s ease-in-out;-moz-transition:all 1s 2s ease-in-out;transition:all 1s 2s ease-in-out;-webkit-transform:translate(0px,30px);-moz-transform:translate(0px,30px);transform:translate(0px,30px);}
.homeSlider .textSlide .text_3 {line-height:1.5;margin-bottom:40px;opacity:0;-webkit-transition:all .5s 2.5s ease-in-out;-moz-transition:all .5s 2.5s ease-in-out;transition:all .5s 2.5s ease-in-out;}
.homeSlider .textSlide .slideBtn {opacity:0;-webkit-transition:all .5s 3s ease-in-out;-moz-transition:all .5s 3s ease-in-out;transition:all .5s 3s ease-in-out;}

.homeSlider .slick-active .textSlide .text_1 {width:100%;opacity:1;-webkit-transform:translate(0px,0px);-moz-transform:translate(0px,0px);transform:translate(0px,0px);}
.homeSlider .slick-active .textSlide .text_2 {width:100%;opacity:1;-webkit-transform:translate(0px,0px);-moz-transform:translate(0px,0px);transform:translate(0px,0px);}
.homeSlider .slick-active .textSlide .text_3 {opacity:1;}
.homeSlider .slick-active .textSlide .slideBtn {opacity:1;}

.homeSlider .slick-arrow {outline:none;width:40px;height:40px;position:absolute;top:50%;margin-top:-20px;border:0;z-index:1;opacity:.8;background:#111;color:#FFF;}
.homeSlider .slick-arrow:hover {opacity:1;color:#f58634;}
.homeSlider .slick-prev {left:20px;}
.homeSlider .slick-next {right:20px;}

@media (max-width: 991.98px) {
.homeSlider, .homeSlider .slide {height:550px;}
.homeSlider .textSlide {margin-top:170px;}
.homeSlider .textSlide .text_1 {font-size:30px;}
.homeSlider .textSlide .text_2 {font-size:50px;}
.homeSlider .slick-prev {left:0px;}
.homeSlider .slick-next {right:0px;}
}
@media (max-width: 767.98px) {
.homeSlider, .homeSlider .slide {height:450px;}
.homeSlider .textSlide {margin-top:130px;}
.homeSlider .textSlide .text_1 {font-size:20px;}
.homeSlider .textSlide .text_2 {font-size:30px;}
.homeSlider .textSlide .text_3 {margin-bottom:30px;}
}
@media (max-width: 575.98px) {
.homeSlider, .homeSlider .slide {height:400px;}
.homeSlider .textSlide {margin-top:0;bottom:30px;top:auto;position:absolute;width:auto;margin-left:30px;margin-right:30px;}
.homeSlider .textSlide .text_1 {font-size:18px;}
.homeSlider .textSlide .text_2 {font-size:30px;}
.homeSlider .textSlide .text_3 {font-size:13px;margin-bottom:20px;}
.homeSlider .slick-arrow {width:30px;height:30px;margin-top:-15px;}
.homeSlider .textSlide a {padding:7px 10px;font-size:13px}
}

.homeIntro {background:#1a5a8f/*#0071a7*/;margin:auto;color:#fff;padding:40px 15px;text-align:center;}
.homeIntro .tagText {font-size:35px;font-weight:300;line-height:1.4;margin-bottom:20px;}
.homeIntro p {line-height:2;max-width:750px;margin:auto;}

@media (max-width: 575.98px) {
.homeIntro {padding:40px 15px 40px;}
.homeIntro .tagText {font-size:30px;line-height:40px;}
}

.homeservices_section {width:100%;background:#fff;margin:0 auto 50px;box-shadow:0 0 6px #aaa;padding:0;}
.homeservices_section .hs_column {padding:50px 20px;text-align:center;width:25%;position:relative;}
.homeservices_section .hs_column:hover {background:#fafafa;}
.homeservices_section .hs_column:after {border-left:1px solid #eee;height:70%;display:block;position:absolute;top:15%;right:0px;}
.homeservices_section .hs_column:last-child:after {display:none;}
.homeservices_section .hs_column img {margin:10px auto;}
.homeservices_section .hs_column h2 {font-size:20px;color:#333;font-weight:600}
.homeservices_section .hs_column p {color:#666;line-height:1.5;}
.homeservices_section .hs_column a {font-size:13px;color:#1a5a8f/*0071a7*/;font-weight:600}
.homeservices_section .hs_column a i {margin-left:4px;}
.homeservices_section .hs_column a:hover {color:#f58634;}
.homeservices_section .slick-dots {position:absolute;bottom:5px;}

.homeservices_section {}
.homeservices_section .slick-arrow {width:30px;height:100%;background:none;padding:0;position:absolute;top:0;border:0;z-index:1;outline:none;font-size:16px;cursor:pointer;opacity:0;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;transition:all .2s ease-out;}
.homeservices_section .slick-arrow i {width:30px;height:30px;color:#fff;background:#333;line-height:30px;}
.homeservices_section .slick-arrow:hover i {background:#f58640;}
.homeservices_section .slick-prev {left:-10px;-webkit-transform:translate(-10px,0);-moz-transform:translate(-10px,0);transform:translate(-10px,0);}
.homeservices_section .slick-next {right:-10px;-webkit-transform:translate(10px,0);-moz-transform:translate(10px,0);transform:translate(10px,0);}
.homeservices_section:hover .slick-arrow {opacity:1;transform:translate(0,0)}

@media (max-width: 767.98px) {
.homeservices_section .hs_column {padding:30px 20px;}
.homeservices_section .slick-prev {left:-14px;-webkit-transform:translate(10px,0);-moz-transform:translate(10px,0);transform:translate(10px,0);}
.homeservices_section .slick-next {right:-14px;-webkit-transform:translate(-10px,0);-moz-transform:translate(-10px,0);transform:translate(-10px,0);}
}

.title {display:block;margin-bottom:25px;color:#333;}
.title h4 {font-size:18px;margin:0 0 5px;text-transform:uppercase;}
.title h2,.title .txtBig {font-size:35px;font-weight:300;line-height:45px;margin:0;}
.title h2 strong,.title .txtBig strong {display:block;font-size:45px;font-weight:600}
.title.whiteColor {color:#FFF;}

@media (max-width: 767.98px) {
.title h2,.title .txtBig {font-size:28px;line-height:38px;}
.title h2 strong,.title .txtBig strong {font-size:40px;}
}

@media (max-width: 575.98px) {
.title h4 {font-size:16px;}
.title h2,.title .txtBig {font-size:24px;line-height:30px;}
.title h2 strong,.title .txtBig strong {font-size:30px;}	
}

.aboutSection {background:#fb6e06;position:relative;}
.buildingimage {width:55%;height:100%;display:block;position:absolute;top:0;left:0;background:url(../images/building.jpg) no-repeat center center;background-size:cover;z-index:0;}

.aboutTextHolder {width:auto;padding:50px;margin:80px 80px 80px 0px;background:rgba(255,255,255,.93);color:#333;border-left:0px solid #f58634;display:block;box-shadow:0 0 5px rgba(0,0,0,.2);}
.aboutTextHolder p {margin-bottom:20px;}

.statisticContainer {width:auto;margin:80px;margin-right:0;display:block;}
.statisticHolder {width:100%;display:table;}
.statisticHolder .iconBox {width:110px;display:table-cell;vertical-align:middle;padding:25px 0;}
.statisticHolder .iconBox span {width:80px;height:80px;padding:3px;display:block;text-align:center;border:2px solid #ed3338;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
.statisticHolder .iconBox i {width:70px;height:70px;font-size:35px;color:#fff;line-height:70px;background:#1a5a8f/*0071a7*/;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
.statisticHolder .iconTxt {display:table-cell;padding:30px 0 30px 30px;color:#fff;font-size:18px;vertical-align:text-bottom;border-left:1px solid #185888;position:relative;line-height:1.5}
.statisticHolder .iconTxt strong {font-size:50px;display:block;}
.statisticHolder .iconTxt:after {width:10px;height:10px;display:block;background:#fff112;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;position:absolute;top:50%;left:-5px;margin-top:-5px;}
.statisticHolder .iconTxt:before {width:20px;height:1px;display:block;background:#185888;position:absolute;top:50%;left:-25px;}


.solnSection {background:#1a5a8f;padding:50px 0 200px;margin-bottom:-150px;
/*background: rgb(0,113,167);
background: -moz-linear-gradient(-45deg, rgba(0,113,167,1) 0%, rgba(12,63,101,1) 100%);
background: -webkit-linear-gradient(-45deg, rgba(0,113,167,1) 0%,rgba(12,63,101,1) 100%);
background: linear-gradient(135deg, rgba(0,113,167,1) 0%,rgba(12,63,101,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0071a7', endColorstr='#0c3f65',GradientType=1 );*/}

@media (max-width: 991.98px) {
.buildingimage {display:none;}
.buildingimg_mobile {background:url(../images/building.jpg) no-repeat center center;background-size:cover;}
.aboutTextHolder {margin:50px;}
.statisticContainer {margin:50px auto;display:table;}
}

@media (max-width: 767.98px) {
.statisticContainer {margin:30px auto;display:table;}
}
@media (max-width: 575.98px) {
.aboutTextHolder {margin:30px 0px;padding:25px;}
.statisticHolder .iconTxt {font-size:14px;}	
}


.title_table {width:100%;display:table;}
.title_left {display:table-cell;width:420px;}
.title_left .title {margin-bottom:0;}
.title_right {display:table-cell;padding:0 170px 0 50px;border-left:1px solid #eee;vertical-align:middle;position:relative;line-height:24px;}
.title_right a {position:absolute;right:0;top:50%;margin-top:-27px;}

@media (min-width: 992px) {
.title_right.wo_btn {padding:0 20px 0 50px;}
.title_right p {margin-bottom:0 !important;}
}

@media (max-width: 991.98px) {
.title_left {width:40%;}
.title_left .title {margin-bottom:20px;}
.title_right {width:60%;padding:0 0px 0 30px;}
.title_right p {margin-bottom:25px;}
.title_right a {position:static;margin-top:0;clear:both;display:inline-block;}
}

@media (max-width: 767.98px) {
.title_left, .title_right {width:100%;display:block;}
.title_right {border-left:0;padding-left:0;}
}

.solnListSection {margin-bottom:30px;}

.homeSolnCarousel .slick-slide {padding:0 10px;}

.prod_box {width:auto;height:100%;margin:0 auto 15px;padding-bottom:30px;border:5px solid #fff;box-shadow:0 0 5px #aaa;background:#FFF;position:relative;display:block;}
.prod_box:hover {background:#fff;border:5px solid #fb6e06;box-shadow:0 5px 15px #666;}
.prod_box .prod_img {width:100%;display:block;background:#000;overflow:hidden;}
.prod_box .prod_img img {width:100%;display:block;opacity:.85;-webkit-transform:scale(1);-moz-transform:scale(1);transform:scale(1);-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;transition:all .5s ease-in-out;}
.prod_box:hover .prod_img img {opacity:1;-webkit-transform:scale(1.05);-moz-transform:scale(1.05);transform:scale(1.05);-webkit-transition:transform 2.5s ease-in-out;-moz-transition:transform 2.5s ease-in-out;transition:transform 2.5s ease-in-out;}
.prod_box .prod_info {padding:20px 15px 0;}
/*.prod_box:hover .prod_info * {color:#fff;}*/
.prod_box .prod_info h1,.prod_box .prod_info .prodTitle {margin:0 0 10px;font-size:20px;color:#333;font-weight:600;margin-bottom:10px;}
.prod_box .prod_info p {line-height:24px;}
.prod_box .prod_info a.readmore {font-size:13px;color:#fb6e06;font-weight:600;text-transform:capitalize;position:absolute;bottom:15px;}
.prod_box .prod_info a.readmore i {margin-left:4px;}
.prod_box .prod_info a.readmore:hover {color:#1a5a8f;}

.homeSolnCarousel .slick-arrow {width:30px;height:100%;background:none;padding:0;position:absolute;top:0;border:0;z-index:1;outline:none;font-size:16px;cursor:pointer;opacity:0;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;transition:all .2s ease-out;}
.homeSolnCarousel .slick-arrow i {width:30px;height:30px;color:#fff;background:#333;line-height:30px;}
.homeSolnCarousel .slick-arrow:hover i {background:#f58640;}
.homeSolnCarousel .slick-prev {left:-10px;-webkit-transform:translate(-10px,0);-moz-transform:translate(-10px,0);transform:translate(-10px,0);}
.homeSolnCarousel .slick-next {right:-10px;-webkit-transform:translate(10px,0);-moz-transform:translate(10px,0);transform:translate(10px,0);}
.homeSolnCarousel:hover .slick-arrow {opacity:1;transform:translate(0,0)}

@media (max-width: 991.98px) {
.homeSolnCarousel .slick-prev {left:-10px;-webkit-transform:translate(-10px,0);-moz-transform:translate(-10px,0);transform:translate(-10px,0);}
.homeSolnCarousel .slick-next {right:-10px;-webkit-transform:translate(10px,0);-moz-transform:translate(10px,0);transform:translate(10px,0);}
}

@media (max-width: 767.98px) {
.homeSolnCarousel .slick-prev {left:-5px;-webkit-transform:translate(10px,0);-moz-transform:translate(10px,0);transform:translate(10px,0);}
.homeSolnCarousel .slick-next {right:-5px;-webkit-transform:translate(-10px,0);-moz-transform:translate(-10px,0);transform:translate(-10px,0);}	
}

.solutionContact {width:100%;height:auto;text-align:center;margin:0px auto 50px;padding:50px 40px;border:5px solid #fff;box-shadow:0 0 5px #aaa;position:relative;background:url(../images/factory_bg.jpg) no-repeat center center #FFF;background-size:cover;}
.solutionContact:before {width:100%;height:100%;display:block;position:absolute;top:0;left:0;opacity:.9;background:#1a5a8f;
/*background: rgb(0,113,167);
background: -moz-linear-gradient(-45deg, rgba(0,113,167,1) 0%, rgba(12,63,101,1) 52%, rgba(12,63,101,1) 100%);
background: -webkit-linear-gradient(-45deg, rgba(0,113,167,1) 0%,rgba(12,63,101,1) 52%,rgba(12,63,101,1) 100%);
background: linear-gradient(135deg, rgba(0,113,167,1) 0%,rgba(12,63,101,1) 52%,rgba(12,63,101,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0071a7', endColorstr='#0c3f65',GradientType=1 );*/}

.solnText_holder {position:relative;color:#fff;text-align:center;}
.solnText_holder p {max-width:750px;margin:0 auto 30px;line-height:30px;}

.industriesList {width:auto;margin:0 auto;text-align:center;}
.industriesList > a {margin-bottom:20px;opacity:.8}
.industriesList > a:hover {opacity:1}
.industriesList > a img {margin:0 auto 10px;display:inline-block;-webkit-transform:scale(.9);-moz-transform:scale(.9);transform:scale(.9);border:1px solid #fff;border-radius:50%;}
.industriesList > a:hover img {-webkit-transform:scale(1);-moz-transform:scale(1);transform:scale(1);border:1px solid transparent;border-radius:0%;}
.industriesList > a h3 {font-size:13px;color:#fff;}
.industriesList > a:hover h3 {color:#fb6e06;}

@media (max-width: 767.98px) {
.solutionContact {padding:30px 20px;}
.solnText_holder {margin-bottom:30px;}	
}

.whyChoose_container {background:#fb6e06;position:relative;margin-bottom:50px;}
.whyChoose_container:before {width:100%;height:100%;position:absolute;top:0;left:0;border-top:50px solid #fff;border-bottom:50px solid #fff;}

.whyChoose_table {display:table;}
.wc_text {padding-top:100px;padding-bottom:100px;}
.wc_text a {color:#fff;font-weight:700;}
.wc_text a:hover {color:#1a5a8f;}
.wc_img {position:relative;overflow:visible;}
.whyChoose_table p {color:#fff;opacity:.95;}

.wcImg_holder {width:auto;height:100%;display:block;position:absolute;top:0px;left:40px;right:15px;margin-right:0px;background:no-repeat center center #f6f6f6;background-size:cover;}

.wc_dwnText {color:#FFF;}
.wc_dwnText .wc_icon {width:40px;height:40px;font-size:35px;float:left;line-height:40px;text-align:center;}
.wc_dwnText h3 {margin-left:50px;margin-top:0;font-size:20px;font-weight:600;}
.wc_dwnText p {margin-left:50px;padding-right:20px;margin-bottom:0;}

.logosContainer {background:#fff;padding-top:40px;padding-bottom:40px;text-align:center;position:relative}
.logosContainer:before {border-top:20px solid #1a5a8f/*0071a7*/;border-left:24px solid transparent;border-right:24px solid transparent;position:absolute;top:0px;left:50%; margin-left:-24px;z-index:2}
.logosContainer:after {border-top:24px solid #fb6e06;border-left:28px solid transparent;border-right:28px solid transparent;position:absolute;top:5px;left:50%;margin-left:-28px;z-index:1}
.homepartners_text {max-width:800px;margin:auto;}
.clientLogoScroll .clogoBox {width:auto;margin:auto 15px;padding-bottom:50%;position:relative;}
.clientLogoScroll .clogoBox img {width:auto;max-width:90%;height:auto;max-height:90%;display:block;margin:auto;position:absolute;top:0;left:0;bottom:0;right:0;	
}

/*@media (min-width: 992px) {
.clientLogoScroll .clogoBox img {-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);filter:grayscale(100%);opacity:.7}
.clientLogoScroll .clogoBox img:hover {-webkit-filter: grayscale(0%);-moz-filter: grayscale(0%);filter:grayscale(0%);opacity:1}
}*/
@media (max-width: 991.98px) {
.wc_text {padding-bottom:70px;}
.wc_dwnText p {margin-bottom:30px;}
}
@media (max-width: 767.98px) {	
.whyChoose_container:before{}
.wcImg_holder {left:0;}	
.wc_text {}	
}
@media (max-width: 575.98px) {	
.wc_text {padding-bottom:0}
.wcImg_holder {height:300px;position:static}
}

.news_box {width:100%;height:auto;margin:0 auto 50px;background:#FFF;position:relative;}
.news_box .news_img {width:100%;display:block;background:#000;overflow:hidden;border:1px solid #f3f3f3;}
.news_box .news_img img {width:100%;display:block;opacity:.65;-webkit-transform:scale(1);-moz-transform:scale(1);transform:scale(1);-webkit-transition:all .5s ease-out;-moz-transition:all .5s ease-out;transition:all .5s ease-out;}
.news_box:hover .news_img img {opacity:1;-webkit-transform:scale(1.05);-moz-transform:scale(1.05);transform:scale(1.05);-webkit-transition:all 1s ease-out;-moz-transition:all 1s ease-out;transition:all 1s ease-out;}
.news_box .news_info {padding:20px 0 0;}
.news_box .news_info h3 {margin:0 0 20px;font-size:20px;line-height:30px;color:#222;font-weight:400;padding-bottom:5px;border-bottom:1px solid #ddd;min-height:65px;}
.news_box:hover .news_info h3{color:#fb6e06;}
.news_box .news_info p {line-height:24px;font-size:14px;margin-bottom:10px;color:#666;}
.news_box .news_info a {font-size:13px;color:#fb6e06;font-weight:600;text-transform:capitalize}
.news_box .news_info a i {margin-left:4px;}
.news_box .news_info a:hover {color:#1a5a8f;}

.footerContacts {padding-top:50px;padding-bottom:50px;text-align:center;line-height:1.2;background:#1a5a8f;
/*background: rgb(0,113,167);
background: -moz-linear-gradient(-45deg, rgba(0,113,167,1) 0%, rgba(12,63,101,1) 52%, rgba(12,63,101,1) 100%);
background: -webkit-linear-gradient(-45deg, rgba(0,113,167,1) 0%,rgba(12,63,101,1) 52%,rgba(12,63,101,1) 100%);
background: linear-gradient(135deg, rgba(0,113,167,1) 0%,rgba(12,63,101,1) 52%,rgba(12,63,101,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a5a8f', endColorstr='#0c3f65',GradientType=1 );*/}
.footerContacts .icon {width:40px;height:40px;margin:auto;color:#fff;line-height:50px;font-size:35px;margin-bottom:20px;}
.footerContacts .ic_tl {font-size:22px;color:#fb6e06;margin-bottom:10px;}
.footerContacts a {font-size:16px;line-height:1.5;color:#FFF!important;font-weight:600;}
.footerContacts a:hover {text-decoration:underline;}

.footerMain {background:#fafafa}
.footerMain .maxWidth {background:url(../images/footer_map.png) no-repeat right center #fafcfc;background-size:auto;}

.fm_space {padding-top:50px;padding-bottom:50px;position:relative;}
.footAbout img {width:60px;margin:0 0 10px;}
.footAbout p {line-height:24px;}
.footAbout * {position:relative;}

.foot_social {float:left;}
.foot_social ul {display:block;margin:0;}
.foot_social ul li {width:20px;height:20px;display:inline-block;margin:0 10px 0 0;}
.foot_social ul li a {color:#1a5a8f;font-size:18px;display:block;line-height:20px;text-align:center;}
.foot_social ul li a:hover {color:#fb6e06;}

.foottl {font-size:20px;font-weight:600;position:relative;padding-bottom:3px;margin-bottom:20px;}
.foottl:after {width:35px;height:2px;background:#fb6e06;display:block;position:absolute;bottom:0;}

.quickLinks li {padding:5px 0 5px 8px;margin-bottom:5px;position:relative;line-height:1.3;}
.quickLinks li a {color:#444;font-size:14px;display:block;}
.quickLinks li:hover a {color:#fb6e06;margin-left:2px;}
.quickLinks li:before {width:3px;height:1px;background:#444;position:absolute;left:0;top:14px;}
.quickLinks li:hover:before {width:5px;background:#fb6e06;}

.newletter input {border:1px solid #ccc;font-size:14px;}
.newletter button {color:#fff;background:#fb6e06;padding:8px;}

.bottomFooter {background:#222;padding:15px 0;color:#FFF;font-size:14px;}
.bottomFooter a {color:#eee;margin:0 15px;}
.bottomFooter a:hover {color:#fb6e06;}

@media (min-width: 992px) {
.footAbout:before {width:1000px;height:100%;position:absolute;right:100%;top:0;background:#f3f7f9;display:block;margin-right:-25px;z-index:0;}
.footAbout {background:#f3f7f9;}
}
@media (max-width: 991.98px) {
.footAbout {border-bottom:1px solid #e6e6e6;}
.quickLinks {margin-bottom:20px;}
}
@media (max-width: 575.98px) {
.newsletterBox {padding-top:0;}
.footcontact {margin:15px 0;position:relative;}
.footcontact:after {width:250px;border-bottom:1px dashed rgba(255,255,255,.1);position:absolute;bottom:-18px;left:50%;margin-left:-125px}
.footcontact:last-child:after {display:none;}
}

.innerPageBanner {background-color:#232323;}
.innerPageBanner .inpageImg {width:100%;margin:auto;display:block;position:relative;
background-position:center center;background-repeat:no-repeat;background-size:cover;}

.innerPageBanner .inpageImg:before {width:100%;height:100%;display:block;position:absolute;z-index:0;opacity:.45;
background: rgb(17,17,17);
background: -moz-linear-gradient(-45deg, rgba(17,17,17,1) 0%, rgba(35,35,35,1) 80%, rgba(35,35,35,1) 80%, rgba(17,17,17,1) 100%);
background: -webkit-linear-gradient(-45deg, rgba(17,17,17,1) 0%,rgba(35,35,35,1) 80%,rgba(35,35,35,1) 80%,rgba(17,17,17,1) 100%);
background: linear-gradient(135deg, rgba(17,17,17,1) 0%,rgba(35,35,35,1) 80%,rgba(35,35,35,1) 80%,rgba(17,17,17,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#111111',GradientType=1 );
/*background: rgb(35,35,35);
background: -moz-linear-gradient(-45deg, rgba(35,35,35,1) 0%, rgba(0,0,0,1) 100%);
background: -webkit-linear-gradient(-45deg, rgba(35,35,35,1) 0%,rgba(0,0,0,1) 100%);
background: linear-gradient(135deg, rgba(35,35,35,1) 0%,rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232323', endColorstr='#000000',GradientType=1 );*/
}

.innerPageBanner .inpageImg .pageTitle {position:relative;z-index:1;padding:170px 0;}
.innerPageBanner .inpageImg .pageTitle h1 {font-size:45px;line-height:1.2;margin-bottom:10px;color:#fff;font-family:'Titillium Web',sans-serif;font-weight:700;position:relative;}
.innerPageBanner .inpageImg .pageTitle h1:after {width:50px;height:3px;background:#fb6e06;position:absolute;bottom:-15px;left:0;right:0;margin:auto;}
.innerPageBanner .breadcrums {color:#FFF;position:absolute;top:5px;left:0;}
.innerPageBanner .breadcrums a {color:#FFF;display:inline-block;margin:0 7px;line-height:30px;font-size:14px;}
.innerPageBanner .breadcrums a:after {content:"\276f";margin-left:10px;color:#FFF;font-size:12px;}
.innerPageBanner .breadcrums a[href]:hover {color:#fb6e06;}

@media (max-width: 575.98px) {
.innerPageBanner .inpageImg .pageTitle {padding:70px 0;}
.innerPageBanner .inpageImg .pageTitle h1 {font-size:30px;}	
}

.pageContent {line-height:1.9;color:#333;font-weight:300;}
.pageContent h2 {margin-bottom:20px;font-size:24px;}
.pageContent h3 {margin-bottom:20px;font-size:20px;}
.pageContent p {margin-bottom:20px;}
.pageContent ul {margin-left:0px;margin-bottom:20px;}
.pageContent ul li {margin-bottom:10px;position:relative;padding-left:18px;}
.pageContent ul li:before {content:'\25cf';color:#fb6e06;font-size:8px;line-height:5px;position:absolute;left:0px;top:10px;border:2px solid #fb6e06;width:11px;height:11px;border-radius:50%;text-align:center;}
.pageContent a {color:#1a5a8f;text-shadow:0 0 1px #1a5a8f;}
.pageContent a:hover {color:#fb6e06;text-shadow:0 0 1px #fb6e06;}

.pageContent ul.decimal li {list-style:decimal;}
.pageContent ul.loweralpha li {list-style:lower-alpha;}
.pageContent ul.upperalpha li {list-style:upper-alpha;}
.pageContent ul.lowerroman li {list-style:lower-roman;}

.pageContent ul.decimal, .pageContent ul.loweralpha, .pageContent ul.upperalpha, .pageContent ul.lowerroman {margin-left:20px;}
.pageContent ul.decimal li, .pageContent ul.loweralpha li, .pageContent ul.upperalpha li, .pageContent ul.lowerroman li {padding-left:10px;}
.pageContent ul.decimal li:before, .pageContent ul.loweralpha li:before, .pageContent ul.upperalpha li:before, .pageContent ul.lowerroman li:before  {display:none;}

@media (min-width: 576px) {
.pageContent ul.twoinrow li {width:48%;display:inline-block;vertical-align:top;margin-right:1%;}	
}

.cmpyProf {padding:50px;}
.cmpy_usp {width:auto;height:100%;background:url(../images/building.jpg) no-repeat center bottom #1a5a8f;background-size:cover;position:relative;margin-right:-15px;}

@media (max-width: 991.98px) {
.cmpyProf {padding:20px;}
}
@media (max-width: 767.98px) {
.cmpy_usp {height:400px;margin:0 -15px;}
}
@media (max-width: 575.98px) {
.cmpyProf {padding:15px;}
.pageContent h2 {margin-bottom:20px;font-size:20px;}
.pageContent h3 {margin-bottom:20px;font-size:16px;}
}

.uspScroll {width:auto;height:auto;display:block;margin:0;position:absolute;bottom:0px;left:0;right:0;color:#FFF;}
.uspScroll .slick-list {background:#fb6e06;}
.uspScroll .slick-slide {padding:10px 25px;font-size:18px;line-height:1.5;text-align:center;}
.uspScroll .slick-dots {padding:0;margin:0;}
.uspScroll .slick-dots li:before {display:none;}

.statsBox {background:#fb6e06;margin-bottom:30px;}

.statsBox .statisticHolder {width:100%;display:block;padding:0;}
.statsBox .statisticHolder .iconBox {width:100%;display:block;vertical-align:top;padding:25px 0;}
.statsBox .statisticHolder .iconBox span {width:80px;height:80px;padding:3px;margin:auto;display:block;text-align:center;border:2px solid #ed3338;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
.statsBox .statisticHolder .iconBox i {width:70px;height:70px;font-size:35px;color:#fff;line-height:70px;background:#1a5a8f;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}

.statsBox .statisticHolder .iconTxt {display:block;padding:15px 0;color:#fff;font-size:18px;vertical-align:text-bottom;border-top:1px solid #185888;border-left:0;position:relative;text-align:center;line-height:1.5;}
.statsBox .statisticHolder .iconTxt strong {font-size:36px;display:block;}
.statsBox .statisticHolder .iconTxt:after {width:10px;height:10px;display:block;background:#fff112;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;position:absolute;top:0;left:50%;margin-top:-5px;margin-left:-5px;}
.statsBox .statisticHolder .iconTxt:before {width:1px;height:20px;display:block;background:#185888;position:absolute;top:-20px;left:50%;}

.flamesBg {background:url(../images/logo_flames.png) no-repeat left top;min-height:230px}
.flamesBg h2 {font-size:30px;}

.mvq_tabs {border-left:0px solid #eee;padding-left:50px;}
.mvq_tabs ul {margin:0 0 20px 0;}
.mvq_tabs ul li {margin:0;padding:0 10px 0 0;}
.mvq_tabs ul li:last-child {padding-right:0;}
.mvq_tabs ul li:before {display:none;}
.mvq_tabs ul li a.nav-link.active {background:#fb6e06;color:#fff;}
.mvq_tabs ul li a.nav-link:after {content:'';border-top:10px solid #fb6e06;border-left:10px solid transparent;border-right:10px solid transparent;position:absolute;bottom:-10px;left:50%;margin-left:-10px;display:none;}
.mvq_tabs ul li a.nav-link.active:after {display:block;}
.mvq_tabs ul li a {background:#f6f6f6;color:#999;text-align:center;min-width:120px;position:relative;text-shadow:none;}
.mvq_tabs ul li a i {font-size:30px;display:block;}
.mvq_tabs ul li a:hover {color:#666;text-shadow:none;}

@media (max-width: 767.98px) {
.flamesBg {background:url(../images/logo_flames.png) no-repeat right top;}
.mvq_tabs {padding-left:0;}
}
@media (max-width: 575.98px) {
.mvq_tabs ul li {margin:0;padding:0 5px 0 0 ;}
.mvq_tabs ul li a {min-width:100px;padding:.5rem}
.mvq_tabs ul li a i {font-size:24px;}
}

.cmpyAdvantages {background:#fb6e06;position:relative;}
.cmpyAdvantages:before {width:60%;height:100%;display:block;background:#1a5a8f;position:absolute;top:0;left:0;}

.contactEmails {padding-top:50px;padding-bottom:50px;}
.contactDetails {background:#1a5a8f;height:100%;box-shadow:2px 5px 10px #aaa;}
.contactDetails .qe_box {text-align:center;color:#fff;min-height:150px;}
.contactDetails .qe_box strong {display:block;text-transform:uppercase;font-size:13px;font-weight:700;letter-spacing:.04em; color:#fb6e06}
.contactDetails .qe_box a {color:#fff;font-weight:600}
.contactDetails .qe_box a:hover {color:#fff;text-decoration:underline;}/*185888*/
.contactDetails .qe_box i {width:50px;height:50px;background:#fb6e06;font-size:22px;color:#fff;text-align:center;display:block;margin:5px auto;border-radius:50%;line-height:50px;}

.contactForm {padding:30px 50px;border:1px solid #ddd;background:url(../images/big_envelope.png) no-repeat right bottom #f6f6f6;box-shadow:5px 10px 20px #aaa;}
.contactForm .form-control {border:0;background:none;border-bottom:1px solid #aaa;font-size:14px;border-radius:0;padding-left:0;padding-right:0;}
.contactForm .form-control:focus {border-bottom:1px solid #fb6e06;}
.contactForm textarea {min-height:80px;}

.addressTitle {position:relative;margin-bottom:20px;}
.addressTitle:before {border-top:1px solid #eee;width:100%;position:absolute;top:30px;}
.addressTitle .title {background:#fff;z-index:1;position:relative;display:table;margin:0 auto;padding:0 20px;}

.addressBox {padding-top:10px;padding-bottom:30px;position:relative;overflow:hidden;top:0;}
.addressBox:hover {background:#fcfcfc;box-shadow:0 0 15px #ccc;top:-2px;}
.addressBox h3 {margin-bottom:5px;font-size:14px;border-bottom:1px solid #e2e2e2;padding-bottom:5px;font-weight:600;text-transform:uppercase}
.addressBox p {margin-bottom:10px;}
.addressBox p.contNo {padding-left:25px;position:relative;}
.addressBox p.contNo i {position:absolute;left:0;top:6px;-webkit-transform:scaleX(-1);transform:scaleX(-1);}
.addressBox .locateBtn {padding:0px 15px;color:#FFF!important;cursor:pointer;position:absolute;bottom:-50px;left:15px;}
.addressBox:hover .locateBtn {bottom:10px;}

.gm-style-iw {}
.gm-style-iw h1 {font-size:16px;margin-bottom:5px;color:#1a5a8f;}
.gm-style-iw h2 {font-size:12px;margin-bottom:5px;color:#111;}
.gm-style-iw p {margin-bottom:0;font-size:14px;line-height:1.5;}
.gm-style-mtc {font-size:14px;}

@media (max-width: 991.98px) {
.addressBox {margin-bottom:10px;}
.addressBox .locateBtn {bottom:10px;}
}

@media (max-width: 767.98px) {
.contactEmails {padding-top:0px;}	
.contactDetails {box-shadow:none;}
}

@media (max-width: 575.98px) {
.contactDetails {padding:10px 20px;}
.contactDetails .qe_box {min-height:50px;text-align:left;margin-bottom:20px;position:relative;padding-left:85px;}
.contactDetails .qe_box i {float:left;margin:0 15px 0 0;position:absolute;left:15px;top:5px;}
.contactForm {padding:30px;}
}

.punchline {padding:20px 0;background:#1a5a8f;color:#fff;font-weight:600; position:relative}
.punchline:before {border-top:15px solid #fff;border-left:19px solid transparent;border-right:19px solid transparent;position:absolute;top:-10px;left:50%; margin-left:-19px;z-index:2}
.punchline:after {border-top:19px solid #fb6e06;border-left:23px solid transparent;border-right:23px solid transparent;position:absolute;top:-7px;left:50%;margin-left:-23px;z-index:1}

.productContent {margin-right:30px;margin-bottom:50px;}

@media (max-width: 991.98px) {
.productContent {margin-right:0px;}	
}

.productCarousel {width:100%;padding:5px;background:#000;}
.productCarousel .productImgSlider {border:1px solid #fff;}
.productCarousel .pc_img_slide {width:100%;padding-bottom:65%;position:relative;overflow:hidden;background:#eee;}
.productCarousel img {width:100%;height:100%;max-width:110%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;zoom:1.1;object-fit:cover;object-position:center center;}
.productCarousel .pc_img_slide a:after {background:rgba(251,110,6,.85);color:#fff;position:absolute;bottom:0;content:attr(data-caption);width:100%;padding:0px 10px;line-height:30px;text-shadow:none!important;}
.productCarousel .pc_img_slide a.fancyimg:hover:before {font-family: "Font Awesome 5 Free";font-weight:900;line-height:30px;content:'\f00e';font-size:24px;color:#FFF;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;width:27px;height:30px;z-index:1;}
.productCarousel .pc_img_slide a.fancyvideo:before {content:'';position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;width:60px;height:60px;background:url(../images/play_btn.png) no-repeat center center;z-index:1;}
/*.productCarousel .pc_img_slide a.fancyvideo:before {content:'';border-left:38px solid #fff;border-top:25px solid transparent;border-bottom:25px solid transparent;position:absolute;top:0;bottom:0;left:19px;right:0;margin:auto;width:0;height:0;z-index:1;}*/

.productCarousel .slick-arrow {width:30px;height:100%;background:none;padding:0;position:absolute;top:0;border:0;z-index:1;outline:none;font-size:16px;cursor:pointer;opacity:0;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;transition:all .2s ease-out;}
.productCarousel .slick-arrow i {width:30px;height:30px;color:#fff;background:#333;line-height:30px;}
.productCarousel .slick-arrow:hover i {background:#f58640;}
.productCarousel .slick-prev {left:-15px;-webkit-transform:translate(-15px,0);-moz-transform:translate(-15px,0);transform:translate(-15px,0);}
.productCarousel .slick-next {right:-15px;-webkit-transform:translate(15px,0);-moz-transform:translate(15px,0);transform:translate(15px,0);}
.productCarousel:hover .slick-arrow {opacity:1;transform:translate(0,0)}
.productCarousel .slick-arrow.slick-disabled:hover i {color:#fff;background:#333;}

@media (max-width: 767.98px) {
.productCarousel .slick-prev {left:-10px;-webkit-transform:translate(-10px,0);-moz-transform:translate(-10px,0);transform:translate(-10px,0);}
.productCarousel .slick-next {right:-10px;-webkit-transform:translate(10px,0);-moz-transform:translate(10px,0);transform:translate(10px,0);}
}

.prodFormContainer {padding:10px 30px;border:1px solid #ccc;position:relative;height:100%;
background: rgb(0,113,167);
background: -moz-linear-gradient(-45deg, rgba(0,113,167,1) 0%, rgba(12,63,101,1) 65%, rgba(12,63,101,1) 100%);
background: -webkit-linear-gradient(-45deg, rgba(0,113,167,1) 0%,rgba(12,63,101,1) 65%,rgba(12,63,101,1) 100%);
background: linear-gradient(135deg, rgba(0,113,167,1) 0%,rgba(12,63,101,1) 65%,rgba(12,63,101,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a5a8f', endColorstr='#0c3f65',GradientType=1 );
/*background: rgb(239,239,239);
background: -moz-linear-gradient(-45deg, rgba(239,239,239,1) 0%, rgba(232,232,232,1) 48%, rgba(191,191,191,1) 100%);
background: -webkit-linear-gradient(-45deg, rgba(239,239,239,1) 0%,rgba(232,232,232,1) 48%,rgba(191,191,191,1) 100%);
background: linear-gradient(135deg, rgba(239,239,239,1) 0%,rgba(232,232,232,1) 48%,rgba(191,191,191,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#bfbfbf',GradientType=1 );*/
}
.prodFormContainer:before {width:45px;height:45px;background:#0c609e;position:absolute;top:0;right:0;/*box-shadow:-3px 1px 3px #aaa;*/}
.prodFormContainer:after {width:0px;height:50px;position:absolute;top:-2px;right:-2px;border-top:48px solid #fff;border-left:48px solid transparent;}
.prodFormContainer .tl {margin-bottom:5px;font-size:18px;font-weight:700;}
.prodFormContainer .form-group {margin-bottom:15px;}
.prodFormContainer .form-control {border:0;background:none;border-bottom:1px solid #4e7e98;font-size:14px;border-radius:0;padding-left:0;padding-right:0;color:#fff;}
.prodFormContainer .form-control:focus {border-bottom:1px solid #fb6e06;}
.prodFormContainer textarea {min-height:60px;}
.prodFormContainer button {padding:10px 15px;}


.prodFormContainer .form-control::-webkit-input-placeholder{color:#f1f1f1;opacity:1}
.prodFormContainer .form-control::-moz-placeholder{color:#f1f1f1;opacity:1}
.prodFormContainer .form-control:-ms-input-placeholder{color:#f1f1f1;opacity:1}
.prodFormContainer .form-control::-ms-input-placeholder{color:#f1f1f1;opacity:1}
.prodFormContainer .form-control::placeholder{color:#f1f1f1;opacity:1}

.casestudiesSection {padding:50px 0;margin-bottom:50px;/*background:#fb6e06;*/
background: rgb(255,128,38);
background: -moz-linear-gradient(top, rgba(255,128,38,1) 0%, rgba(211,84,0,1) 100%);
background: -webkit-linear-gradient(top, rgba(255,128,38,1) 0%,rgba(211,84,0,1) 100%);
background: linear-gradient(to bottom, rgba(255,128,38,1) 0%,rgba(211,84,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8026', endColorstr='#d35400',GradientType=0 );}

.casestudyTitle {font-size:18px;padding:15px 0px;background:#1a5a8f;color:#fff;font-weight:600;position:relative;}
.casestudyTitle:before {border-top:10px solid #fff;border-left:14px solid transparent;border-right:14px solid transparent;position:absolute;bottom:-2px;left:50%; margin-left:-14px;z-index:2}
.casestudyTitle:after {border-top:14px solid #fb6e06;border-left:18px solid transparent;border-right:18px solid transparent;position:absolute;bottom:-10px;left:50%;margin-left:-18px;z-index:1}
.casestudyTitle .backBtn {font-size:30px;color:#FFF;width:30px;height:30px;line-height:30px; position:absolute;left:15px;opacity:.6;}
.casestudyTitle .backBtn:hover {opacity:1;}
.casestudyTitle .container-fluid {padding-left:50px;padding-right:50px;}

.casestudyContainer {margin-top:40px;margin-bottom:40px;background:#f6f6f6;border:1px solid #ccc;}
.csContent {margin-left:30px;margin-right:30px;}
.casestudycarousel {width:45%;float:right;margin-left:50px;}

.csResult {padding:15px 40px 0;background:#fb6e06;color:#fff;}

@media (max-width: 767.98px) {
.casestudyTitle .backBtn {left:10px;}
.casestudyTitle .container-fluid {padding-left:50px;padding-right:0px;}
.csContent {margin-left:15px;margin-right:15px;}
.casestudycarousel {width:100%;float:none;margin-left:0px;}
}

@media (max-width: 575.98px) {
.csContent {margin-left:0px;margin-right:0px;}
.csResult {padding:15px 15px 0;}
}

.csTestimonial {width:auto;min-height:358px;position:relative;border:1px solid #ccc;background:url(../images/commas2.png) no-repeat 105% 105% #f3f3f3;}
.csTestimonial:before {width:100%;height:100%;position:absolute;top:0;left:0;background:url(../images/commas1.png) no-repeat -2% -10%;}
.csTestimonial .cstitle {margin-top:15px;margin-bottom:20px;font-size:18px;text-align:center}
.csTestimonial .cs_testim {margin:0 30px 0;text-align:center}
.csTestimonial .cstestim_Img {width:100%;/*max-height:200px;*/overflow:hidden;border:1px solid #ccc;background:#fff;padding:5px;}
.csTestimonial .cstestim_Img img {width:100%;}
.csTestimonial .cstestimName {font-size:12px;}
.csTestimonial .cstestimName strong {font-size:14px}

.csFilters {padding:15px 0;margin-bottom:30px;background:#1a5a8f;color:#fff;font-weight:600;position:relative}
.csFilters .refineForm {margin-left:100px;margin-right:100px;}
.csFilters a {color:#fff;font-weight:400}
.csFilters .form-group {margin-bottom:0;}
.csFilters .form-control {border:0;background:none;border-bottom:1px solid #aaa;font-size:14px;border-radius:0;padding-left:0;padding-right:0;color:#fff;}
.csFilters .form-control:focus {border-bottom:1px solid #fb6e06;}
.csFilters option {color:#333;}

.csBox {width:100%;height:100%;margin:0 auto;padding-bottom:35px;border:5px solid #fff;box-shadow:0 0 5px #aaa;background:#fff;position:relative;display:block;text-shadow:none!important;}
.csBox:hover {border:5px solid #fb6e06;box-shadow:0 5px 15px #666;}
.csBox .cs_img {width:100%;display:block;background:#000;overflow:hidden;}
.csBox .cs_img img {width:100%;display:block;opacity:.85;-webkit-transform:scale(1);-moz-transform:scale(1);transform:scale(1);-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;transition:all .5s ease-in-out;}
.csBox:hover .cs_img img {opacity:1;-webkit-transform:scale(1.05);-moz-transform:scale(1.05);transform:scale(1.05);-webkit-transition:transform 2.5s ease-in-out;-moz-transition:transform 2.5s ease-in-out;transition:transform 2.5s ease-in-out;}
.csBox .cs_title {padding:10px 10px 0;}
.csBox .cs_title h1 {font-size:18px;color:#333;font-weight:600;margin-bottom:0px;}
.csBox .cs_title .industryName {font-size:10px;color:#1a5a8f;font-weight:600;text-transform:uppercase;letter-spacing:.08em;margin-bottom:5px;position:absolute;bottom:5px;}

.csBox .cs_title .date {font-size:13px;color:#999;text-transform:capitalize;position:absolute;bottom:10px;right:10px;}
.csBox .cs_title .date i {margin-left:4px;}

.csForm {width:95%;max-width:400px;height:auto;min-height:270px;color:#fff;
background: rgb(0,113,167);
background: -moz-linear-gradient(-45deg, rgba(0,113,167,1) 0%, rgba(12,63,101,1) 65%, rgba(12,63,101,1) 100%);
background: -webkit-linear-gradient(-45deg, rgba(0,113,167,1) 0%,rgba(12,63,101,1) 65%,rgba(12,63,101,1) 100%);
background: linear-gradient(135deg, rgba(0,113,167,1) 0%,rgba(12,63,101,1) 65%,rgba(12,63,101,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a5a8f', endColorstr='#0c3f65',GradientType=1 );}

.csForm.downloadbgicon:before {width:250px;height:250px;position:absolute;right:10px;bottom:10px;/*left:0;top:0;*/margin:auto;border:10px solid #fff;border-radius:50%;line-height:200px;text-align:center;font-size:150px;color:#fff;opacity:.03;content:'\f019';font-family:"Font Awesome 5 Free";font-weight:900;z-index:0;}
.csForm.uploadbgicon:before {width:250px;height:250px;position:absolute;right:10px;bottom:10px;/*left:0;top:0;*/margin:auto;border:10px solid #fff;border-radius:50%;line-height:220px;text-align:center;font-size:150px;color:#fff;opacity:.03;content:'\f574';font-family:"Font Awesome 5 Free";font-weight:900;z-index:0;}
.csForm:after {position:absolute;right:0;bottom:0;left:0;top:0;margin:7px;border:1px solid #3a5f7b;}

.csForm .csfContent {z-index:2;position:relative;}
.csForm .csfContent p {line-height:1.5;}
.csForm .csfTitle h2 {font-size:24px;font-weight:700;margin-bottom:15px;}
.csForm .fancybox-close-small {color:#fff;}
.csForm .form-group {margin-bottom:15px;}
.csForm .form-control {border:0;background:none;border-bottom:1px solid #4e7e98;font-size:14px;border-radius:0;padding-left:5px;padding-right:0;color:#fff;}
.csForm .form-control:focus {border-bottom:1px solid #fb6e06;}
.csForm textarea {min-height:60px;}
.csForm button {padding:10px 15px;}
.csForm .csf_dwnload {font-size:14px;line-height:1.5;font-weight:700;margin-bottom:15px;padding:5px 10px;background:#FFF;color:#333;border-radius:3px;}

.csForm .form-control::-webkit-input-placeholder{color:#fff;opacity:.8}
.csForm .form-control::-moz-placeholder{color:#fff;opacity:.8}
.csForm .form-control:-ms-input-placeholder{color:#fff;opacity:.8}
.csForm .form-control::-ms-input-placeholder{color:#fff;opacity:.8}
.csForm .form-control::placeholder{color:#fff;opacity:.8}

.productIntro {width:auto;min-height:345px;position:relative;
background: rgb(0,113,167);
background: -moz-linear-gradient(-45deg, rgba(0,113,167,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 50%, rgba(251,110,6,1) 100%);
background: -webkit-linear-gradient(-45deg, rgba(0,113,167,1) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,1) 50%,rgba(251,110,6,1) 100%);
background: linear-gradient(135deg, rgba(0,113,167,1) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,1) 50%,rgba(251,110,6,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a5a8f', endColorstr='#fb6e06',GradientType=1 );}
.productIntro:before {width:auto;height:auto;position:absolute;top:0;left:0;bottom:0;right:0;margin:8px;border:1px solid rgba(255,255,255,.3);content:'';background:rgba(255,255,255,.1) url(../images/logo_flames_light.png) no-repeat left bottom}

.productIntro .bgSliderContainer {width:100%;height:100%;position:absolute;top:0;left:0;z-index:0;background:#333;}
.bgSliderContainer .bgSlider {width:100%;height:100%;position:relative;}
.bgSliderContainer .bgSlider div {height:100%;}
.bgSliderContainer .bgSlider .bgSlide {background-repeat:no-repeat;background-position:center center;background-size:cover;-webkit-filter:grayscale(30%);filter: grayscale(30%);opacity:.5}
.bgSliderContainer .bgSlider:before {width:100%;height:100%;position:absolute;top:0;left:0;/*background:rgba(0,0,0,.7);*/content:'';z-index:1;opacity:1;
/*background: rgb(251,110,6);
background: -moz-linear-gradient(-45deg, rgba(251,110,6,1) 0%, rgba(0,0,0,.8) 25%, rgba(0,0,0,.8) 26%, rgba(0,113,167,1) 100%);
background: -webkit-linear-gradient(-45deg, rgba(251,110,6,1) 0%,rgba(0,0,0,.8) 25%,rgba(0,0,0,.8) 26%,rgba(0,113,167,1) 100%);
background: linear-gradient(135deg, rgba(251,110,6,1) 0%,rgba(0,0,0,.8) 25%,rgba(0,0,0,.8) 26%,rgba(0,113,167,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb6e06', endColorstr='#1a5a8f',GradientType=1 );*/
}
.bgSliderContainer .bgSlider:after {width:auto;height:auto;position:absolute;top:0;left:0;bottom:0;right:0;margin:7px;border:1px solid rgba(255,255,255,.4);content:'';z-index:1;background:rgba(255,255,255,.1)}

.partnersLogos {width:100%;max-width:200px;background:#fff;margin:10px auto;}
.partnersLogos .plBox {padding-bottom:50%;position:relative;}
.partnersLogos .plBox img {width:auto;max-width:90%;height:auto;max-height:90%;display:block;margin:auto;position:absolute;top:0;left:0;bottom:0;right:0;}

.pi_text {border-right:1px solid rgba(255,255,255,.3)}

@media (max-width: 991.98px) {
.pi_text {border:0;text-align:center;}	
}

.solutionLinks {background:#fafafa;border:1px solid #ddd;}
.solutionLinks .sl_title {background:#1a5a8f;color:#fff;margin-bottom:10px;color:#fff;padding:5px 15px;border-bottom:2px solid #fb6e06;font-size:16px;}
.solutionLinks ul {margin-bottom:10px}
.solutionLinks ul li {margin-bottom:5px;display:block;}
.solutionLinks ul li:before {content:'\25cf';color:#1a5a8f;font-size:8px;line-height:5px;position:absolute;left:0px;top:8px;border:2px solid #1a5a8f;width:11px;height:11px;border-radius:50%;text-align:center;}
.solutionLinks ul li a {color:#333;text-shadow:none!important;}
.solutionLinks ul li a:hover {color:#fb6e06;padding-left:3px;}

@media (max-width: 767.98px) and (min-width:576px) {
.solutionLinks ul li {width:47%;margin-right:2%;display:inline-block;vertical-align:top;}
}

.testimBox {background:#eee;border-radius:12px;}
.testimBox .testimonial {min-height:150px;background:url(../images/commas1.png) no-repeat left top #1a5a8f;border-radius:10px;position:relative;color:#fff;}
.testimBox .testimonial:before {border-top:30px solid #1a5a8f;border-right:5px solid transparent;border-left:25px solid transparent;position:absolute;bottom:-28px;left:5px;content:'';}
.testimBox .testim_author {line-height:1.5;margin-left:40px;padding:10px;font-size:12px;}
.testimBox .testim_author strong {font-size:14px;}

.testimBox:nth-child(even) .testimonial {background:url(../images/commas1.png) no-repeat left top #fb6e06;}
.testimBox:nth-child(even) .testimonial:before {border-top:30px solid #fb6e06;border-left:5px solid transparent;border-right:25px solid transparent;position:absolute;bottom:-28px;right:5px;left:auto;content:'';}
.testimBox:nth-child(even) .testim_author {text-align:right;margin-right:40px;}

.testimBox:hover .testimonial {box-shadow:0 7px 30px #888;}

.careerFirst {padding:50px;}
.careerImgside {position:relative;}

.cisGallery {height:100%;}
.cisGallery .slick-slide, .cisGallery .slick-list, .cisGallery .slick-track {height:100%;position:relative;}

.cisGallery .slick-slide {background-position:center center;background-repeat:no-repeat;background-size:cover;}
.cisGallery .slick-slide:before {background:rgba(255,255,255,.8);margin:auto;position:absolute;top:0;left:0;bottom:0;right:0;display:block;}

.cisGallery .cisImgbox {width:100%;height:100%;margin:auto;position:absolute;top:0;left:0;bottom:0;right:0;display:block;overflow:hidden;}
.cisGallery .cisImgbox img {width:auto;max-width:90%;height:auto;max-height:90%;position:absolute;margin:auto;position:absolute;top:0;left:0;bottom:0;right:0;display:block;border:3px solid #fff;box-shadow:0 0 50px #999;}

.cisGallery .slick-arrow {width:30px;height:100%;background:none;padding:0;position:absolute;top:0;border:0;z-index:1;outline:none;font-size:16px;cursor:pointer;opacity:0;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;transition:all .2s ease-out;}
.cisGallery .slick-arrow i {width:30px;height:30px;color:#fff;background:#333;line-height:30px;}
.cisGallery .slick-arrow:hover i {background:#f58640;}
.cisGallery .slick-prev {left:-10px;-webkit-transform:translate(-10px,0);-moz-transform:translate(-10px,0);transform:translate(-10px,0);}
.cisGallery .slick-next {right:-10px;-webkit-transform:translate(10px,0);-moz-transform:translate(10px,0);transform:translate(10px,0);}
.cisGallery:hover .slick-arrow {opacity:1;transform:translate(0,0)}
.cisGallery .slick-arrow.slick-disabled:hover i {color:#fff;background:#333;}

@media (max-width: 991.98px) {
.cisGallery {height:500px;}
.cisGallery .slick-prev {left:-10px;-webkit-transform:translate(10px,0);-moz-transform:translate(10px,0);transform:translate(10px,0);}
.cisGallery .slick-next {right:-10px;-webkit-transform:translate(-10px,0);-moz-transform:translate(-10px,0);transform:translate(-10px,0);}
}

.wbContainer {background:#1a5a8f;
/*background: rgb(0,113,167);
background: -moz-linear-gradient(-45deg, rgba(0,113,167,1) 0%, rgba(12,63,101,1) 100%);
background: -webkit-linear-gradient(-45deg, rgba(0,113,167,1) 0%,rgba(12,63,101,1) 100%);
background: linear-gradient(135deg, rgba(0,113,167,1) 0%,rgba(12,63,101,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a5a8f', endColorstr='#0c3f65',GradientType=1 );*/}

.wbBox {opacity:.9}
.wbBox .no {font-size:36px;}

@media (max-width: 575.98px) {
.careerFirst {padding:15px 0px;}
.cisGallery {height:400px;}
.wbBox {padding-left:40px;}
.wbBox .no {float:left;margin-left:-40px;line-height:1;font-size:30px;}
.wbBox br {display:none}
}

.employeeTestimonialContainer {width:100%;}

.employeeTestim {width:auto;max-width:350px;margin:0 auto;}
.employeeTestim .employeeImg {width:100%;padding-bottom:65%;position:relative;display:block;overflow:hidden;margin-bottom:15px;border:1px solid #eee;}
.employeeTestim .employeeImg img {width:100%;position:absolute;top:0;}
.employeeTestim .employeeContent p {line-height:1.5;text-align:justify;}
.employeeTestim .employeeContent .employeeName strong {color:#1a5a8f;}

.et_Slider .slick-slide {padding:0 15px;}
.et_Slider .slick-arrow {width:30px;height:30px;padding:0;position:absolute;top:100px;border:0;z-index:1;outline:none;font-size:16px;cursor:pointer;opacity:0;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;transition:all .2s ease-out;}
.et_Slider .slick-arrow i {width:30px;height:30px;color:#fff;background:#333;line-height:30px;}
.et_Slider .slick-arrow:hover i {background:#f58640;}
.et_Slider .slick-prev {left:-10px;-webkit-transform:translate(-10px,0);-moz-transform:translate(-10px,0);transform:translate(-10px,0);}
.et_Slider .slick-next {right:-10px;-webkit-transform:translate(10px,0);-moz-transform:translate(10px,0);transform:translate(10px,0);}
.et_Slider:hover .slick-arrow {opacity:1;transform:translate(0,0)}
.et_Slider .slick-arrow.slick-disabled:hover i {color:#fff;background:#333;}

@media (max-width: 991.98px) {
.et_Slider .slick-prev {left:-10px;-webkit-transform:translate(10px,0);-moz-transform:translate(10px,0);transform:translate(10px,0);}
.et_Slider .slick-next {right:-10px;-webkit-transform:translate(-10px,0);-moz-transform:translate(-10px,0);transform:translate(-10px,0);}	
}

.coTitleText {background:#fb6e06;position:relative}
.coTitleText:after {border-top:24px solid #fb6e06;border-left:28px solid transparent;border-right:28px solid transparent;position:absolute;bottom:-24px;left:50%;margin-left:-28px;z-index:1}

.vacancyBox {border-bottom:1px solid #ddd;border-top:2px solid #fff;margin-bottom:30px;padding:15px;}
.vacancyBox:hover {box-shadow:0 5px 10px #666;border-top:2px solid #fb6e06;}
ul.vacancyTags {margin:0;}
.vacancyTags li {background:#1a5a8f;float:left;margin:0 10px 5px 0;padding:0 10px 0 0!important;border-radius:20px;color:#FFF;border:2px solid #1a5a8f;line-height:20px;font-size:13px;}
.vacancyTags li i {margin-right:3px;width:20px;height:20px;background:#fff;line-height:20px;text-align:center;border-radius:20px;color:#fb6e06;font-size:12px;}
.vacancyTags li:before {display:none;}
.vacancyBox button {display:inline-block}

@media (min-width: 768px) {
.vacancyBox p {margin-bottom:0;}
}

.custom-file-upload-hidden {display:none;visibility:hidden;position:absolute;left:-9999px;}
.custom-file-upload {width:auto;font-size:16px;margin:0 auto 20px;}
.custom-file-upload label {display:block;margin-bottom:5px;}
.file-upload-wrapper {position:relative;height:36px;}
.file-upload-input {width:100%;height:38px;color:#333;font-size:13px;padding:0px;border:none;float:left;border-bottom:1px solid #ccc;background:#FFF;}
.file-upload-input:hover, .file-upload-input:focus {outline: none;}
button.file-upload-button {height:30px;cursor:pointer;display:block;color:#fff;font-size:12px;font-weight:bold;padding:0 10px;border:1px solid rgba(255,255,255,.3);background:rgba(255,255,255,.2);position:absolute;right:0;}
button.file-upload-button:hover {background:#fb6e06;}

.productPartners {}
.productPartners .pplogo {margin-bottom:30px;}
.productPartners .pplogo a {width:100%;height:auto;display:block;background:#fff;border:1px solid #eee;overflow:hidden;position:relative;}
.productPartners .pplogo a:hover {box-shadow:0 0 20px #ccc;background:#fbfbfb;border:1px solid #bbb;}
.productPartners .pplogo .ppimg {width:100%;padding-bottom:40%;position:relative;display:block;margin-bottom:24px}
.productPartners .pplogo .ppimg img {max-width:80%;max-height:80%;display:block;position:absolute;top:0;left:0;bottom:0;right:0;margin:auto;}
.productPartners .pplogo a:after {content:'Know more';position:absolute;right:-100px;bottom:25px;color:#fb6e06;font-size:12px;text-shadow:none;font-weight:600}
.productPartners .pplogo a:hover:after {right:10px;}
.productPartners .pplogo a span {position:absolute;left:0;bottom:0;color:#fff;font-size:14px;font-weight:700;text-align:center;padding:0 0 0 15px;width:100%;background:#1a5a8f;
background: -moz-linear-gradient(-45deg, rgba(0,113,167,1) 0%, rgba(0,113,167,0.45) 100%);
background: -webkit-linear-gradient(-45deg, rgba(0,113,167,1) 0%,rgba(0,113,167,0.45) 100%);
background: linear-gradient(135deg, rgba(0,113,167,1) 0%,rgba(0,113,167,0.45) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a5a8f', endColorstr='#731a5a8f',GradientType=1 );}
/*.productPartners .pplogo a span:before {content:'';border-left:7px solid #fb6e06;border-top:5px solid transparent;border-bottom:5px solid transparent;position:absolute;left:3px;top:7px;}*/

.productRange {background:#fafafa;position:relative;}
.productRange:before {width:100%;height:100%;position:absolute;top:0;left:0;opacity:.0;background:;}
.productRange .maxWidth {z-index:1;position:relative;background:url(../images/prodBG.jpg) no-repeat 85% bottom;background-size:50% auto;}
.productRange li {background:rgba(250,250,250,.6);}

.prod_list {}
.prod_list strong {font-size:14px}
.prod_list ul {}
.prod_list ul li {font-size:14px;margin-bottom:0}
.prod_list ul li:before {content:'\25cf';color:#fff;font-size:6px;line-height:6px;position:absolute;left:0px;top:8px;border:1px solid #fff;width:9px;height:9px;border-radius:50%;text-align:center;}

.sspTitle strong {font-size:140px;line-height:1;text-shadow:-4px 4px 0px #777;}
.sspTitle span {font-size:40px;line-height:1.5}

@media (max-width: 575.98px) {
.sspTitle strong {font-size:100px;line-height:1;text-shadow:-4px 4px 0px #777;}
.sspTitle span {font-size:25px;line-height:1.5}
}

.partnersDetails {max-width:600px;padding:30px;background:url(../images/logo_flames.png) no-repeat 97% 97% #fff;border:5px solid #1a5a8f;text-align:justify}
.partnersDetails:before {display:block;border:2px solid #ccc;position:absolute;top:0;bottom:0;left:0;right:0;margin:0px;}
.partnersDetails .partnerLogo {width:250px;height:100px; position:relative;margin:0 auto 15px;}
.partnersDetails .partnerLogo img {max-width:100%;max-height:100%;display:block;position:absolute;top:0;left:0;bottom:0;right:0;margin:auto;}

.serviceSection {background:#f6f6f6;min-height:400px;}
.serviceImgBox {position:relative;}
.serviceTextBox img {margin-bottom:10px;}

@media (min-width: 992px) {
.serviceSection:nth-child(odd) .serviceImgBox:before {width:50%;height:100%;background:#1a5a8f;position:absolute;left:0;}
.serviceSection:nth-child(even) .serviceImgBox:before {width:50%;height:100%;background:#fb6e06;position:absolute;right:0;}
.serviceSection:nth-child(odd) .serviceImgBox {-ms-flex-order:1;order:1;}
.serviceSection:nth-child(odd) .serviceTextBox {-ms-flex-order:13;order:13;}
.serviceImgBox img {width:auto;max-width:90%;height:auto;max-height:90%;margin:auto;position:absolute;top:0;left:0;bottom:0;right:0;display:block;background:#ddd;border:3px solid #fff;box-shadow:0 0 50px #999;}
}

@media (max-width: 991.98px) {
.serviceImgBox {position:relative;padding-bottom:30px!important;}
.serviceSection:nth-child(odd) .serviceImgBox:before {width:100%;height:50%;background:#1a5a8f;position:absolute;left:0;bottom:0;}
.serviceSection:nth-child(even) .serviceImgBox:before {width:100%;height:50%;background:#fb6e06;position:absolute;right:0;bottom:0;}
.serviceImgBox img {width:auto;max-width:90%;height:auto;margin:auto;display:block;background:#ddd;border:3px solid #fff;box-shadow:0 0 50px #999;position:relative;z-index:2;}
}

/* Timeline CSS */

.timelineDiv {background:url(../images/milestoneBG.jpg) no-repeat center center fixed;background-size:cover;position:relative;}
.timelineDiv:before {position:absolute;width:100%;height:100%;top:0;left:0;opacity:.85;
background: rgb(255,255,255);
background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 );}

#cd-timeline {position: relative;padding: 2em 0 2em 4px;margin-top:2em;overflow:hidden;}
#cd-timeline::before {content: '';position: absolute;top: 0;left:32px;height:100%;width:4px;background:url(../images/road_strip.png) repeat-y center center #333;}

@media only screen and (min-width: 768px) {
#cd-timeline {margin-top:3em;padding-left:0;}
#cd-timeline::before {left: 50%;margin-left: -2px;}
}

.cd-timeline-block {position: relative;margin: 1em 0; *zoom: 1;}
.cd-timeline-block:before,.cd-timeline-block:after {content: " ";display: table;}
.cd-timeline-block:after {clear: both;}
.cd-timeline-block:first-child {margin-top: 0;}
.cd-timeline-block:last-child {margin-bottom: 0;}

@media only screen and (min-width: 768px) {
.cd-timeline-block {margin: 1.5em 0;}
.cd-timeline-block:first-child { margin-top: 0; }
.cd-timeline-block:last-child { margin-bottom: 0; }
}
.cssanimations .cd-timeline-img.is-hidden {visibility: hidden;}
.cd-timeline-img {position: absolute;top:0;left:0;width:60px;height:60px;color:#FFF;line-height:60px;text-align:center;font-weight:700;font-size:22px;
border-radius: 50%;box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
background: rgb(255,128,38);
background: -moz-linear-gradient(top, rgba(255,128,38,1) 0%, rgba(211,84,0,1) 100%);
background: -webkit-linear-gradient(top, rgba(255,128,38,1) 0%,rgba(211,84,0,1) 100%);
background: linear-gradient(to bottom, rgba(255,128,38,1) 0%,rgba(211,84,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8026', endColorstr='#d35400',GradientType=0 );}
.cd-timeline-img img {display: block;width: 24px;height: 24px;position: relative;left: 50%;top: 50%;margin-left: -12px;margin-top: -12px;}

@media only screen and (min-width: 768px) {
.cd-timeline-img {left:50%;margin-left:-30px;-webkit-transform:translateZ(0);-webkit-backface-visibility:hidden;}
}
.cssanimations .cd-timeline-img.bounce-in {visibility:visible;-webkit-animation: cd-bounce-1 0.6s;-moz-animation: cd-bounce-1 0.6s;animation: cd-bounce-1 0.6s;}

@-webkit-keyframes cd-bounce-1 {
	0% {opacity:0;-webkit-transform: scale(0.5);} 60% {opacity:1;-webkit-transform: scale(1.2);} 100% {-webkit-transform: scale(1);}
}
@-moz-keyframes cd-bounce-1 {
	0% {opacity: 0;-moz-transform: scale(0.5);}	60% {opacity: 1;-moz-transform: scale(1.2);} 100% {-moz-transform: scale(1);}
}
@-o-keyframes cd-bounce-1 {
	0% {opacity: 0;-o-transform: scale(0.5);} 60% {opacity: 1;-o-transform: scale(1.2);} 100% {-o-transform: scale(1);}
}
@keyframes cd-bounce-1 {
	0% {opacity: 0;transform: scale(0.5);} 60% {opacity: 1;transform: scale(1.2);} 100% {transform: scale(1);}
}

.cd-timeline-content {position: relative;margin-left: 80px;border-radius:0.25em;padding:1em;box-shadow: 0 3px 0 #afa59f;*zoom: 1;color:#fff;
background: rgb(0,113,167);
background: -moz-linear-gradient(-45deg, rgba(0,113,167,1) 0%, rgba(12,63,101,1) 90%, rgba(12,63,101,1) 100%);
background: -webkit-linear-gradient(-45deg, rgba(0,113,167,1) 0%,rgba(12,63,101,1) 90%,rgba(12,63,101,1) 100%);
background: linear-gradient(135deg, rgba(0,113,167,1) 0%,rgba(12,63,101,1) 90%,rgba(12,63,101,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a5a8f', endColorstr='#0c3f65',GradientType=1 );}
.cd-timeline-content:before, .cd-timeline-content:after {content:" ";display:table;}
.cd-timeline-content:after {clear:both;}
.cd-timeline-content h2 {color:#303e49;}
.cd-timeline-content p:last-child {margin:0;}
.cd-timeline-content::before {content:'';position:absolute;top:16px;right:100%;height:0;width:0;border:7px solid transparent;border-right:7px solid #1a5a8f;}
.cssanimations .cd-timeline-content.is-hidden { visibility: hidden; }
.cssanimations .cd-timeline-content.bounce-in {visibility: visible;-webkit-animation: cd-bounce-2 0.6s;-moz-animation: cd-bounce-2 0.6s;animation: cd-bounce-2 0.6s;}
@media only screen and (min-width: 768px) {
.cd-timeline-content {margin-left:0;padding:1em 1.5em;width:45%}
.cd-timeline-content::before {top: 24px;left: 100%;border-color: transparent;border-left-color: #1a5a8f;}
.cd-timeline-block:nth-child(odd) .cd-timeline-content {
background: rgb(0,113,167);
background: -moz-linear-gradient(-45deg, rgba(12,63,101,1) 0%, rgba(12,63,101,1) 10%, rgba(0,113,167,1) 100%);
background: -webkit-linear-gradient(-45deg, rgba(12,63,101,1) 0%, rgba(12,63,101,1) 10%, rgba(0,113,167,1) 100%);
background: linear-gradient(135deg, rgba(12,63,101,1) 0%, rgba(12,63,101,1) 10%, rgba(0,113,167,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c3f65', endColorstr='#1a5a8f',GradientType=1 );}
.cd-timeline-block:nth-child(even) .cd-timeline-content { float: right; }
.cd-timeline-block:nth-child(even) .cd-timeline-content::before {top: 24px;left: auto;right: 100%;border-color: transparent;border-right-color: #1a5a8f;}

/* inverse bounce effect on even content blocks */
.cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {-webkit-animation: cd-bounce-2-inverse 0.6s;-moz-animation: cd-bounce-2-inverse 0.6s;animation: cd-bounce-2-inverse 0.6s;}
}
@-webkit-keyframes cd-bounce-2 {
	0% {opacity: 0; -webkit-transform: translateX(-100px);}	60% {opacity: 1;-webkit-transform: translateX(20px);} 100% {-webkit-transform: translateX(0);}
}
@-moz-keyframes cd-bounce-2 {
	0% {opacity: 0; -moz-transform: translateX(-100px);} 60% {opacity: 1; -moz-transform: translateX(20px);} 100% {-moz-transform: translateX(0);}
}
@-o-keyframes cd-bounce-2 {
	0% {opacity: 0;-o-transform: translateX(-100px);} 60% {opacity: 1;-o-transform: translateX(20px);} 100% {-o-transform: translateX(0);}
}
@keyframes cd-bounce-2 {
	0% {opacity: 0;transform: translateX(-100px);} 60% {opacity: 1;transform: translateX(20px);} 100% {transform: translateX(0);}
}
@-webkit-keyframes cd-bounce-2-inverse {
	0% {opacity: 0;-webkit-transform: translateX(100px);} 60% {opacity: 1;-webkit-transform: translateX(-20px);} 100% {-webkit-transform: translateX(0);}
}
@-moz-keyframes cd-bounce-2-inverse {
	0% {opacity: 0;-moz-transform: translateX(100px);} 60% {opacity: 1;-moz-transform: translateX(-20px);} 100% {-moz-transform: translateX(0);}
}
@-o-keyframes cd-bounce-2-inverse {
	0% {opacity: 0;-o-transform: translateX(100px);} 60% {opacity: 1;-o-transform: translateX(-20px);} 100% {-o-transform: translateX(0);}
}
@keyframes cd-bounce-2-inverse {
	0% {opacity: 0;transform: translateX(100px);} 60% {opacity: 1;transform: translateX(-20px);} 100% {transform: translateX(0);}
}

/*  XXXXXXXXXXXXXXXXXXXXXXXXXXXX  */

.infraGallery {}
.infraGallery .infra_thumb {width:100%;padding-bottom:65.5%;position:relative;border:1px solid #ccc;background:#eee;display:block;margin-bottom:30px;overflow:hidden;}
.infraGallery .infra_thumb:hover {box-shadow:0 4px 10px #666;}
.infraGallery .infra_thumb img {max-width:100%;max-height:100%;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;}
.infraGallery .infra_thumb strong {width:100%;padding:10px 15px;background:rgba(0,0,0,.6);color:#fff;position:absolute;bottom:0;}
.infraGallery .infra_thumb:hover strong {bottom:5px;background: rgb(255,128,38);
background: -moz-linear-gradient(top, rgba(255,128,38,1) 0%, rgba(211,84,0,1) 100%);
background: -webkit-linear-gradient(top, rgba(255,128,38,1) 0%,rgba(211,84,0,1) 100%);
background: linear-gradient(to bottom, rgba(255,128,38,1) 0%,rgba(211,84,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8026', endColorstr='#d35400',GradientType=0 );}

.valueContainer {width:100%;height:auto;padding:3em;margin-bottom:2em;}
.valueContainer:hover {background:#f6f6f6;}
.valueContainer h2 {height:auto;width:100%;color:#fafafa;line-height:1;text-shadow:0 0 1px #333;font-size:24px;margin-top:10px;}
.valueContainer:hover h2 {color:#1a5a8f;}
.valueContainer p {max-width:800px;margin:auto;display:block;}

@media (max-width: 766.98px) {
.valueContainer h2 {color:#1a5a8f;}	
}

@media (max-width: 575.98px) {
.valueContainer {padding:1em .5em;}
}

.filters-button-group {}
.filters-button-group button {border:1px solid #ccc;color:#333;background:#eee;padding:5px 20px;cursor:pointer;outline:none;font-size:14px;font-weight:700;text-transform:uppercase;}
button.f_all.is-checked {background:#1a5a8f;color:#fff;}
button.f_news.is-checked {background:#fb6e06;color:#fff;}
button.f_event.is-checked {background:#ed3338;color:#fff;}
button.f_award.is-checked {background:#fef211;color:#333;}

ul.newsTabs {text-align:center;background:#eee;border:1px solid #ccc;overflow:hidden;max-width:500px;margin:auto;}
ul.newsTabs li:before {display:none;}
ul.newsTabs li {margin-bottom:0px;border-right:1px solid #e2e2e2;}
ul.newsTabs li:last-child {border-right:0;}
ul.newsTabs li a.nav-link {color:#333;text-shadow:none;border-radius:0;}
ul.newsTabs li a.nav-link.active {background:#fb6e06;color:#fff;}

.articleBox {width:33.33%;}

.articleBox .articleHolder {width:auto;margin:0 15px 50px;padding:0 15px;background:#fff;border:1px solid #eee;border-bottom:3px solid #1a5a8f;min-height:200px;position:relative;color:#333;}
.articleBox .articleHolder:hover {border:1px solid #ccc;border-bottom:3px solid #1a5a8f;box-shadow:0 3px 10px 5px rgba(0,0,0,.1);}

.articleBox .tag {width:60px;height:60px;background:#1a5a8f;color:#fff;line-height:1.4;padding:0 5px;font-size:12px;text-transform:uppercase;margin:0;position:absolute;top:-30px;left:10px;box-shadow:-1px 1px 3px #999;text-align:center;}
.articleBox .tag strong {display:block;font-size:18px;}
/*.articleBox .tag {min-width:80px;background:#fb6e06;color:#fff;line-height:1.3;padding:5px 10px;font-size:14px;text-transform:uppercase;font-weight:700;margin:0;position:absolute;top:-15px;left:10px;box-shadow:0 0 2px #aaa;}*/
.articleBox .imgbox {margin:0 -15px;overflow:hidden;}
.articleBox .imgbox img {width:100%;}
.articleBox h2 {font-size:20px;margin-top:35px;margin-bottom:10px;font-weight:600;color:#666;text-shadow:none;}
.articleBox:hover h2 {color:#333;text-shadow:none;}
.articleBox p {font-size:15px;margin-bottom:5px;}
.articleBox a {color:#fb6e06;text-shadow:none;margin-bottom:15px;display:inline-block;font-weight:700;font-size:14px;}

.newsTitle {font-size:24px;border-bottom:1px solid #eee;margin-bottom:20px;min-height:70px;}
.newsTitle .date {width:60px;height:60px;background:#1a5a8f;color:#fff;line-height:1.4;padding:0 5px;font-size:12px;text-transform:uppercase;margin:0;box-shadow:-1px 1px 3px #999;text-align:center;float:left;}
.newsTitle .date strong {display:block;font-size:18px;}
.newsTitle h1 {font-size:24px;margin-left:80px;}

/*.articleBox.item-news .tag {background:#fb6e06;}
.articleBox.item-events .tag {background:#ed3338;}
.articleBox.item-awards .tag {background:#fef211;color:#333;}*/

@media (max-width: 991.98px) {
.articleBox {width:50%;}
}

@media (max-width: 575.98px) {
.articleBox {width:100%;}
ul.newsTabs {max-width:94%;}
ul.newsTabs li a.nav-link {font-size:14px;line-height:1.3;vertical-align:middle;padding:13px 5px;}
.newsTitle h1 {font-size:20px;}
}

.searchresultBox {border:1px solid #eee;border-left:2px solid #fb6e06;margin-bottom:30px;padding-top:15px;display:block;}
.searchresultBox:hover {box-shadow:0 0 15px #666;border-left:2px solid #fb6e06;}
.searchresultBox p {color:#333;text-shadow:none;}

.teamBox {background:#fafafa;border:1px solid #ddd;}
.teamBox h2 {color:#1a5a8f;margin-bottom:5px;}
.teamBox h3 {font-size:16px;}

.imgLeft {max-width:50%;float:left;margin:0 20px 20px 0;}
.imgRight {max-width:50%;float:right;margin:0 0 20px 20px;}
.imgFull {max-width:100%;margin:0 auto 20px;}

@media (max-width: 575.98px) {
.imgLeft, .imgRight, .imgFull {max-width:100%;margin:0 auto 20px;display:block;float:none;}
}

.msgAlert {background:#fbc303;font-size:14px;padding:5px 0;text-align:center}
.msgAlert p {margin-bottom:0;font-size:14px}