﻿@model Patvin.Models.ApplyForJob
@{
    ViewBag.Title = "ApplyForJob";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

<div class="right_col" role="main">
    <div class="">

        <div class="page-title">
            <div class="title_left">
                <h3>Applying For Job List</h3>
            </div>

 
        </div> 
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr No.</th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Email
                                    </th>                                    
                                    <th>
                                        Role
                                    </th>
                                    <th>
                                        Contact No
                                    </th>
                                    <th>
                                        Resume
                                    </th>
                                    <th>
                                        Apply Date
                                    </th>
                                    <th>Delete</th>
                                </tr>
                            </thead>

                            <tbody>

                                @if (Model.ApplyForJobList != null)
                                {
                                    foreach (var item in Model.ApplyForJobList)
                                    {
                                        <tr class="counter">
                                            <td>@Html.DisplayFor(modelItem => item.Sr)</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Role)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ContactNo)
                                            </td>
                                            <td>
                                                <a href="~/Content/uploads/Resume/@item.Resume" target="_blank">View Resume</a>
                                                @*@Html.DisplayFor(modelItem => item.Resume)*@
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ApplyDate)
                                            </td>

                                            <td>

                                                <a href="@Url.Action("DeleteApplyForJob", "Admin", new { id = item.Id })" title="Delete" onclick="return confirm('Are you sure you want to delete this Record?')">
                                                    <button type="button" class="btn ">
                                                        <i class="fa fa-close"></i>
                                                    </button>
                                                </a>

                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

