﻿@model Patvin.Models.Casestudyform

@{
    ViewBag.Title = "CasestudyformRegister";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}


<div class="right_col" role="main">
    <div class="">

        <div class="page-title">
            <div class="title_left">
                <h3>Case Study Register</h3>
            </div>

         @*   <div class="title_right">
                <div class="col-md-12 col-sm-12 col-xs-12 form-group pull-right top_search">
                    <div class="input-group pull-right">

                        <span class="input-group-btn"></span>

                        <a href="@Url.Action("AppyForJobExportData", "Admin")">
                            <div class="fa-hover col-md-12 col-sm-12 btn btn-success exporttoexcel">
                                Export to <i class="fa fa-file-excel-o fa-1x" aria-hidden="true"></i>
                            </div>
                        </a>

                    </div>

                </div>
            </div>*@
        </div> 
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr No.</th>
                                     <th>
                                        Title
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                     <th>
                                        Company Name
                                    </th>
                                    <th>
                                        Email
                                    </th>                                    

                                    <th>
                                        Apply Date
                                    </th>
                                    <th>Delete</th>
                                </tr>
                            </thead>

                            <tbody>

                                @if (Model.CasestudyformList != null)
                                {
                                    foreach (var item in Model.CasestudyformList)
                                    {
                                        <tr class="counter">
                                            <td>@Html.DisplayFor(modelItem => item.Sr)</td>
                                                 <td>
                                                @Html.DisplayFor(modelItem => item.Title)
                                            </td>  
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                                <td>
                                                @Html.DisplayFor(modelItem => item.CompanyName)
                                            </td>  
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>                                                                                                               
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ApplyDate)
                                            </td>

                                            <td>

                                                <a href="@Url.Action("DeleteCasestudyformRegister", "Admin", new { id = item.caseId })" title="Delete" onclick="return confirm('Are you sure you want to delete this Record?')">
                                                    <button type="button" class="btn ">
                                                        <i class="fa fa-close"></i>
                                                    </button>
                                                </a>

                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




