﻿@model Patvin.Models.CurrentOpenings
@using System.Web.Optimization

@{
    ViewBag.Title = "CurrentOpenings";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

        @using (Html.BeginForm("CurrentOpenings", "Admin", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12 col-md-offset-1">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Current Opening</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @if (TempData["Message"] != null)
                            {
                                if (TempData["Message"].ToString() == "success")
                                {
                                <div class="alert alert-success alert-dismissible fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    @TempData["Message1"].ToString()
                                </div>
                                }

                                else if (TempData["Message"].ToString() == "warning")
                                {
                                <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    @TempData["Message1"].ToString()
                                </div>
                                }
                                else if (TempData["Message"].ToString() == "error")
                                {
                                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    @TempData["Message1"].ToString()
                                </div>
                                }
                            }

                            <br>
                            <div id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Title <span class="required" style="color: red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control col-md-7 col-xs-12", @id = "txtTitle", @autocomplete = "off", @placeholder = "Title" })
                                        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Location <span class="required" style="color: red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Location, new { @class = "form-control col-md-7 col-xs-12", @id = "txtLocation", @autocomplete = "off", @placeholder = "Location" })
                                        @Html.ValidationMessageFor(m => m.Location, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        No. of Post <span class="required" style="color: red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Post, new { @class = "form-control col-md-7 col-xs-12", @id = "txtPost", @autocomplete = "off", @placeholder = "Post" })
                                        @Html.ValidationMessageFor(m => m.Post, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Qualification <span class="required" style="color: red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Qualification, new { @class = "form-control col-md-7 col-xs-12", @id = "txtQualification", @autocomplete = "off", @placeholder = "Qualification" })
                                        @Html.ValidationMessageFor(m => m.Qualification, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Experience <span class="required" style="color: red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Experience, new { @class = "form-control col-md-7 col-xs-12", @id = "txtExperience", @autocomplete = "off", @placeholder = "Experience"  })
                                        @Html.ValidationMessageFor(m => m.Experience, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Job Description   <span class="required" style="color: red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control col-md-7 col-xs-12", @id = "txtDescription ", @autocomplete = "off", @placeholder = "Description",@style = "height:150px" })
                                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>



                                <div class="ln_solid"></div>

                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        @if (ViewBag.ActionType == "Update")
                                        {
                                            <input type="submit" value="Update" id="btnsumbit" class="btn btn-success StoreDDLValueinhihhenfields" title="Submit" name="btnAction">
                                            @Html.HiddenFor(m => m.Id, new { id = "hdnId" })
                                        }
                                        else
                                        {
                                            <input type="submit" value="Submit" id="btnsumbit" class="btn btn-success StoreDDLValueinhihhenfields" title="Submit" name="btnAction">
                                        }

                                        <input type="reset" value="Cancel" id="btnreset" class="btn btn-primary" title="Cancel">
                                        @*<input type="button" value="View List" title="View List" class="btn btn-dark" id="btnviewlist">*@
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr No.</th>
                                    <th>Title
                                    </th>
                                    <th>Location
                                    </th>
                                    <th>Post</th>
                                    <th>Qualification</th>
                                    <th>Experience</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>

                                @if (Model.CurrentOpeningsList != null)
                                {
                                    foreach (var item in Model.CurrentOpeningsList)
                                    {
                                    <tr class="counter">
                                        <td>@Html.DisplayFor(modelItem => item.Sr)</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Location)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Post)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Qualification)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Experience)
                                        </td>
                                        <td>
                                            @Html.Raw(item.Description)

                                        </td>

                                        <td>
                                            <a href="@Url.Action("EditCurrentOpening", "Admin", new { id = item.Id })" title="Edit">
                                                <button type="button" class="btn ">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                            </a>

                                            <a href="@Url.Action("DeleteCurrentOpening", "Admin", new { id = item.Id })" title="Delete" onclick="return confirm('Are you sure you want to delete this Record?')">
                                                <button type="button" class="btn ">
                                                    <i class="fa fa-close"></i>
                                                </button>
                                            </a>

                                        </td>
                                    </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@Scripts.Render("~/Admin/FormValidation")

