﻿@model Patvin.Models.GetInTouchForm


@{
    ViewBag.Title = "GetInTouchForm";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Get In Touch List</h3>
            </div>

      @*      <div class="title_right">
                <div class="col-md-12 col-sm-12 col-xs-12 form-group pull-right top_search">
                    <div class="input-group pull-right">

                        <span class="input-group-btn"></span>

                        <a href="@Url.Action("ContactUsExportData", "Admin")">
                            <div class="fa-hover col-md-12 col-sm-12 btn btn-success exporttoexcel">
                                Export to <i class="fa fa-file-excel-o fa-1x" aria-hidden="true"></i>
                            </div>
                        </a>

                    </div>

                </div>
            </div>*@
        </div>   

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">  
            <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr No.</th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Phone
                                    </th>                                                               
                                    <th>
                                        Message
                                    </th>
                                    <th>
                                        Date
                                    </th>                             
                                    <th>Delete</th>
                                </tr>
                            </thead>

                            <tbody>

                                @if (Model.GetInTouchFormList != null)
                                {
                                    foreach (var item in Model.GetInTouchFormList)
                                    {
                                        <tr class="counter">
                                            <td>@Html.DisplayFor(modelItem => item.Sr)</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FullName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ContactNo)
                                            </td>                                                                              
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Comment)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ApplyDate)
                                            </td>
                                               <td>                          
                                                <a href="@Url.Action("DeleteGetInTouchForm", "Admin", new { id = item.Id })" title="Delete" onclick="return confirm('Are you sure you want to delete this Record?')">
                                                    <button type="button" class="btn ">
                                                        <i class="fa fa-close"></i>
                                                    </button>
                                                </a>

                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


<link href="~/Content/Resource/Css/AdminStyle.css" rel="stylesheet" />
