﻿@model Patvin.Models.NewsRoom
@using System.Web.Optimization
@{
    ViewBag.Title = "NewsRoom";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}


<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

        @using (Html.BeginForm("NewsRoom", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>News Room</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @if (TempData["Message"] != null)
                            {
                                if (TempData["Message"].ToString() == "success")
                                {
                                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }

                                else if (TempData["Message"].ToString() == "warning")
                                {
                                    <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                                else if (TempData["Message"].ToString() == "error")
                                {
                                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                            }

                            <br>
                            <div id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">


                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Type <span class="required" style="color:red;">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top:9px;">
                                        @Html.DropDownListFor(m => m.Type, new List<SelectListItem>
                                         {   new SelectListItem {Text="News",Value="News" },
                                         new SelectListItem {Text="Events",Value="Events" },
                                           /*  new SelectListItem {Text="Technical Articles", Value="Technical Articles" }}, "Select Type", new { @class = "form-control", title = "Select Type" })*/
                                             new SelectListItem {Text="Blogs", Value="Blogs" }}, "Select Type", new { @class = "form-control", title = "Select Type" })
                                        @Html.ValidationMessageFor(m => m.Type, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Image <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Image, new { @class = "form-control col-md-7 col-xs-12", @id = "fileUploadImage", @autocomplete = "off", @type = "file" })
                                        @Html.ValidationMessageFor(m => m.Image, "", new { @class = "text-danger" })
                                        <label style="float:right">(Recommended image size (400 * 300))</label>
                                        <img id="imgPreview" style="display:none;height:100px;width:150px;" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Title <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control col-md-7 col-xs-12", @id = "txtTitle", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                                        @*<label style="float:right">(Used imgRigt,imgLeft,imgFull class)</label>*@
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Description <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control col-md-7 col-xs-12", @id = "txtDescription", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                                        <label style="float:right">(Use imgRight, imgLeft, imgFull class for Images )</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Post Date <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Date, new { @class = "form-control col-md-7 col-xs-12 calender", @id = "txtPostDate", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.Date, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Image Alt Tag
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Img_Alt_Tag, new { @class = "form-control col-md-7 col-xs-12", @id = "txtImg_Alt_Tag", @autocomplete = "off" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Category <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Category, new { @class = "form-control col-md-7 col-xs-12", @id = "txtTitle", @autocomplete = "off" })
                                        @*<label style="float:right">(Used imgRigt,imgLeft,imgFull class)</label>*@
                                    </div>
                                </div>
                                <div class="ln_solid"></div>

                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        @if (ViewBag.ActionType == "Update")
                                        {
                                            <input type="submit" value="Update" id="btnsumbit" class="btn btn-success StoreDDLValueinhihhenfields" title="Submit" name="btnAction">
                                            @Html.HiddenFor(m => m.NewsId, new { id = "hdnId" })
                                            @Html.HiddenFor(m => m.imgPreview, new { @id = "hdnImage" })
                                        }
                                        else
                                        {
                                            <input type="submit" value="Submit" id="btnsumbit" class="btn btn-success StoreDDLValueinhihhenfields" title="Submit" name="btnAction">
                                        }

                                        <input type="reset" value="Cancel" id="btnreset" class="btn btn-primary" title="Cancel">
                                        @*<input type="button" value="View List" title="View List" class="btn btn-dark" id="btnviewlist">*@
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    @*<th>Sr No.</th>*@
                                    <th>
                                        Type
                                    </th>
                                    <th>
                                        Image
                                    </th>
                                    <th>
                                        Title
                                    </th>

                                   
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Image Alt Tag
                                    </th>
                                    <th>
                                        Category
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>

                                @if (Model.NewsRoomList != null)
                                {
                                    foreach (var item in Model.NewsRoomList)
                                    {
                                        <tr class="counter">
                                            @*<td>@Html.DisplayFor(modelItem => item.Sr)</td>*@

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Type)
                                            </td>
                                            <td>
                                                <img src="~/Content/uploads/NewsRoom/@item.Image" style="height:100px;width:150px;" />
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Title)
                                            </td>
                                           
                                            <td>
                                                @Html.Raw(item.Description)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Date)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Img_Alt_Tag)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Category)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("EditNewsRoom", "Admin", new { NewsId = item.NewsId})" title="Edit">
                                                    <button type="button" class="btn ">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                </a>

                                                <a href="@Url.Action("DeleteNewsRoom", "Admin", new { NewsId = item.NewsId })" title="Delete" onclick="return confirm('Are you sure you want to delete this Record?')">
                                                    <button type="button" class="btn ">
                                                        <i class="fa fa-close"></i>
                                                    </button>
                                                </a>

                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@Scripts.Render("~/Admin/FormValidation")

<script src="~/Content/ckeditor/ckeditor.js?@DateTime.Now.Millisecond"></script>
<script type="text/javascript" src="~/Content/ckeditor/adapters/jquery.js"></script>

<!-- Date Picker -->
<link href="@Url.Content("~/Content/datepicker/jquery-ui.css")" rel="stylesheet" />
<script src="@Url.Content("~/Content/datepicker/jquery-ui.js")"></script>

@*<script>
    CKEDITOR.replace("txtDescription");

</script>*@

<style>
    img {
    width:200px;
    }
</style>

<script type="text/javascript">
    $(function () {
        CKEDITOR.replace("txtDescription",
  { filebrowserImageUploadUrl:  '/Upload.ashx' }); //path to "Upload.ashx"
    });
</script>

<script>

    $(function () {
        $('.calender').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy'
        });
    });

    var id = $("#hdnId").val();
    // alert(id)
    if (id != undefined && id != 0) {
        $('#imgPreview').show();
        $('#imgPreview').attr('src', '/Content/uploads/NewsRoom/' + $("#hdnImage").val());
    }


    $('.StoreDDLValueinhihhenfields').click(function () {
        var imgVal = $("#hdnImage").val();
        if (imgVal != undefined && imgVal != "") {
            $('#fileUploadImage').rules('remove', 'required')
        }
    })
</script>




<script>

    $(document).ready(function () {
        $('button').click(function (e) {
            var button_classes, value = +$('.counter').val();
            button_classes = $(e.currentTarget).prop('class');
            if (button_classes.indexOf('up_count') !== -1) {
                value = (value) + 1;
            } else {
                value = (value) - 1;
            }
            value = value < 0 ? 0 : value;
            $('.counter').val(value);
        });
        $('.counter').click(function () {
            $(this).focus().select();
        });

    });


</script>

<style>
    /* MODIFIED DATE PICKER */
    .ui-datepicker {
        width: 250px !important;
        padding: 2px !important;
        font-size: 14px !important;
    }

        .ui-datepicker table {
            margin: 0 !important;
        }

        .ui-datepicker .ui-widget-header {
            background: #04869a !important;
            /*color: #fff;*/
            font-weight: normal;
        }

    .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
        background: #04869a !important;
        color: #fff !important;
        border: 1px solid #04869a !important;
    }

    .ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
        margin: 0px 4px !important;
        font-size: 13px !important;
    }

    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
        background: #04869a !important;
        color: #fff !important;
        border: 1px solid #04869a !important;
    }
</style>
