﻿@model Patvin.Models.RangeOfProduct
@using System.Web.Optimization

@{
    ViewBag.Title = "RangeOfProduct";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

        @using (Html.BeginForm("RangeOfProduct", "Admin"))
        {

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Range Of Product</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @if (TempData["Message"] != null)
                {
                    if (TempData["Message"].ToString() == "success")
                    {
                                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }

                                else if (TempData["Message"].ToString() == "warning")
                                {
                                    <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                                else if (TempData["Message"].ToString() == "error")
                                {
                                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                            }

                            <br>
                            <div id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Finishing Equipment <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextAreaFor(m =>m.Equipment, new { @class = "form-control col-md-7 col-xs-12", @id = "txtEquipment", @autocomplete = "off" })
                                        <label style="float:right">(Use imgRight, imgLeft, imgFull class for Images )</label>
                                    </div>
                                </div>

                               
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Sealant and Adhesive Applications <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextAreaFor(m => m.Applications, new { @class = "form-control col-md-7 col-xs-12", @id = "txtApplications", @autocomplete = "off" })
                                        <label style="float:right">(Use imgRight, imgLeft, imgFull class for Images )</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Pumps <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextAreaFor(m => m.Pumps, new { @class = "form-control col-md-7 col-xs-12", @id = "txtPumps", @autocomplete = "off" })
                                        <label style="float:right">(Use imgRight, imgLeft, imgFull class for Images )</label>
                                    </div>
                                </div>
                          

                               

                                <div class="ln_solid"></div>

                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        @*@if (ViewBag.ActionType == "Update")*@
        
                                            <input type="submit" value="Update" id="btnsumbit" class="btn btn-success StoreDDLValueinhihhenfields" title="Submit" name="btnAction">
                                            @Html.HiddenFor(m => m.Id, new { id = "hdnId" })
                                     
                                        
                                        @*else
                                        {
                                            <input type="submit" value="Submit" id="btnsumbit" class="btn btn-success StoreDDLValueinhihhenfields" title="Submit" name="btnAction">
                                        }*@

                                        <input type="reset" value="Cancel" id="btnreset" class="btn btn-primary" title="Cancel">
                                        @*<input type="button" value="View List" title="View List" class="btn btn-dark" id="btnviewlist">*@
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div> 
        }

    </div>


@Scripts.Render("~/Admin/FormValidation")



<script src="~/Content/ckeditor/ckeditor.js?@DateTime.Now.Millisecond"></script>


    <script type="text/javascript" src="~/Content/ckeditor/adapters/jquery.js"></script>

    <script type="text/javascript">
    $(function () {
        CKEDITOR.replace("txtEquipment",
  { filebrowserImageUploadUrl: '/Upload.ashx' });
        CKEDITOR.replace("txtApplications",
{ filebrowserImageUploadUrl: '/Upload.ashx' });
        CKEDITOR.replace("txtPumps",
{ filebrowserImageUploadUrl: '/Upload.ashx' });//path to "Upload.ashx"
    });
    </script>

@*<script>
    CKEDITOR.replace("txtEquipment");
    CKEDITOR.replace("txtApplications");
    CKEDITOR.replace("txtPumps");


</script>*@

<style>
    .counter {
        width: 45px;
        border-radius: 0px !important;
        text-align: center;
    }

    .up_count {
        margin-bottom: 10px;
        margin-left: -4px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .down_count {
        margin-bottom: 10px;
        margin-right: -4px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
</style>