﻿@model Patvin.Models.Services
@using System.Web.Optimization

@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}


<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

        @using (Html.BeginForm("Services", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Services</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @if (TempData["Message"] != null)
                            {
                                if (TempData["Message"].ToString() == "success")
                                {
                                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }

                                else if (TempData["Message"].ToString() == "warning")
                                {
                                    <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                                else if (TempData["Message"].ToString() == "error")
                                {
                                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                            }

                            <br>
                            <div id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Image <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Image, new { @class = "form-control col-md-7 col-xs-12", @id = "fileUploadImage", @autocomplete = "off", @type = "file" })
                                        @Html.ValidationMessageFor(m => m.Image, "", new { @class = "text-danger" })
                                        <label style="float:right">(Recommended image size (600 * 400))</label>
                                        <img id="imgPreview" style="display:none;height:100px;width:150px;" />
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Icon <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Icon, new { @class = "form-control col-md-7 col-xs-12", @id = "fileUploadIcon", @autocomplete = "off", @type = "file" })
                                        @Html.ValidationMessageFor(m => m.Icon, "", new { @class = "text-danger" })
                                        <label style="float:right;color:red">(Recommended image size (60 * 62))</label>
                                        <img id="iconPreview" style="display:none;height:100px;width:150px;" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Title <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control col-md-7 col-xs-12", @id = "txtTitle", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Description <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control col-md-7 col-xs-12", @id = "txtDescription", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                                        <label style="float:right">(Use imgRight, imgLeft, imgFull class for Images )</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Image Alt Tag
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Img_Alt_Tag, new { @class = "form-control col-md-7 col-xs-12", @id = "txtImg_Alt_Tag", @autocomplete = "off" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Icon Alt Tag
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Icon_Alt_Tag, new { @class = "form-control col-md-7 col-xs-12", @id = "txtIcon_Alt_Tag", @autocomplete = "off" })
                                    </div>
                                </div>
                                <div class="ln_solid"></div>

                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        @if (ViewBag.ActionType == "Update")
                                        {
                                            <input type="submit" value="Update" id="btnsumbit" class="btn btn-success StoreDDLValueinhihhenfields" title="Submit" name="btnAction">
                                            @Html.HiddenFor(m => m.ServId, new { id = "hdnId" })
                                            @Html.HiddenFor(m => m.imgPreview, new { @id = "hdnImage" })
                                            @Html.HiddenFor(m => m.iconPreview, new { @id = "hdnIcon" })
                                        }
                                        else
                                        {
                                            <input type="submit" value="Submit" id="btnsumbit" class="btn btn-success StoreDDLValueinhihhenfields" title="Submit" name="btnAction">
                                        }

                                        <input type="reset" value="Cancel" id="btnreset" class="btn btn-primary" title="Cancel">
                                        @*<input type="button" value="View List" title="View List" class="btn btn-dark" id="btnviewlist">*@
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    @*<th>Sr No.</th>*@
                                    <th>
                                        Image
                                    </th>
                                    <th>
                                        Icon
                                    </th>
                                    <th>
                                        Title
                                    </th>

                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Image Alt Tag
                                    </th>
                                    <th>
                                        Icon Alt Tag
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>

                                @if (Model.ServicesList != null)
                                {
                                    foreach (var item in Model.ServicesList)
                                    {
                                        <tr class="counter">
                                            @*<td>@Html.DisplayFor(modelItem => item.Sr)</td>*@

                                            <td>
                                                <img src="~/Content/uploads/Services/@item.Image" style="height:100px;width:150px;" />
                                            </td>

                                            <td>
                                                <img src="~/Content/uploads/Services/@item.Icon" style="height:100px;width:150px;" />
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Title)
                                            </td>
                                            <td>
                                                @Html.Raw(item.Description)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Img_Alt_Tag)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Icon_Alt_Tag)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("EditServices", "Admin", new { ServId = item.ServId})" title="Edit">
                                                    <button type="button" class="btn ">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                </a>

                                                <a href="@Url.Action("DeleteServices", "Admin", new { ServId = item.ServId })" title="Delete" onclick="return confirm('Are you sure you want to delete this Record?')">
                                                    <button type="button" class="btn ">
                                                        <i class="fa fa-close"></i>
                                                    </button>
                                                </a>

                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<style>
    img {
        width: 200px;
    }
</style>

@Scripts.Render("~/Admin/FormValidation")
<script src="~/Content/ckeditor/ckeditor.js?@DateTime.Now.Millisecond"></script>
<script type="text/javascript" src="~/Content/ckeditor/adapters/jquery.js"></script>

<script>
    var id = $("#hdnId").val();
    // alert(id)
    if (id != undefined && id != 0) {
        $('#imgPreview').show();
        $('#iconPreview').show();
        $('#imgPreview').attr('src', '/Content/uploads/Services/' + $("#hdnImage").val());
        $('#iconPreview').attr('src', '/Content/uploads/Services/' + $("#hdnIcon").val());
    }


    $('.StoreDDLValueinhihhenfields').click(function () {
        var imgVal = $("#hdnImage").val();
        var imgVal1 = $("#hdnIcon").val();
        if (imgVal != undefined && imgVal != "") {
            $('#fileUploadImage').rules('remove', 'required')
        }
        if (imgVal1 != undefined && imgVal1 != "") {
            $('#fileUploadIcon').rules('remove', 'required')
        }
    })
</script>



<script type="text/javascript">
    $(function () {
        CKEDITOR.replace("txtDescription",
  { filebrowserImageUploadUrl:  '/Upload.ashx' }); //path to "Upload.ashx"
    });
</script>


<script>

    $(document).ready(function () {
        $('button').click(function (e) {
            var button_classes, value = +$('.counter').val();
            button_classes = $(e.currentTarget).prop('class');
            if (button_classes.indexOf('up_count') !== -1) {
                value = (value) + 1;
            } else {
                value = (value) - 1;
            }
            value = value < 0 ? 0 : value;
            $('.counter').val(value);
        });
        $('.counter').click(function () {
            $(this).focus().select();
        });

    });


</script>

<style>
    .counter {
        width: 45px;
        border-radius: 0px !important;
        text-align: center;
    }

    .up_count {
        margin-bottom: 10px;
        margin-left: -4px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .down_count {
        margin-bottom: 10px;
        margin-right: -4px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
</style>