﻿@model Patvin.Models.SolutionsTechnologyIndustryDetail
@using System.Web.Optimization

@{
    ViewBag.Title = "SolutionsTechnologyIndustryDetail";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

   @using (Html.BeginForm("SolutionsTechnologyIndustryDetail", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
   {
             <div class="row">
                <div class="col-md-11 col-sm-11 col-xs-11 col-md-offset-1">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Solutions Technology Industry Detail Page</h2>
                           <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @if (TempData["Message"] != null)
                            {
                                if (TempData["Message"].ToString() == "success")
                                {
                                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }

                                else if (TempData["Message"].ToString() == "warning")
                                {
                                    <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                                else if (TempData["Message"].ToString() == "error")
                                {
                                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                            }

                            <br>
                             <div id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Menu <span class="required" style="color: red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.DropDownListFor(model => model.MasterId, Model.MasterList, "Select Menu", new { @id = "ddllist", @class = "form-control col-md-7 col-xs-12" })
                                        @*@Html.DropDownListFor(m => m.Menu,ViewData["DropdownMenu"] as List<SelectListItem>, "Select Menu", new { @class = "form-control col-md-7 col-xs-12", @id = "ddllist" })*@
                                        @Html.HiddenFor(m => m.MasterId, new { id = "hdnMasterId" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Page Name <span class="required" style="color: red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @*@Html.DropDownListFor(model => model.SubId, Model.SubList, "Select Page Name", new { @id = "ddlPagelist", @class = "form-control col-md-7 col-xs-12"})
                @Html.HiddenFor(m => m.SubId, new { id = "hdnSubId" })*@
                                        <select id="ddlPagelist" name="PageName" class=form-control col-md-7 col-xs-12></select>
                                        @Html.ValidationMessageFor(m => m.PageName, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(m => m.SubId, new { Id = "hdnSubId" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Banner Image <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Image, new { @class = "form-control col-md-7 col-xs-12", @id = "fileUploadImage", @autocomplete = "off", @type = "file" })
                                        @Html.ValidationMessageFor(m => m.Image, "", new { @class = "text-danger" })
                                        <label style="float:right">(Recommended image size (1500 * 500))</label>
                                        <img id="imgPreview" style="display:none;height:100px;width:150px;" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Heading <span class="required" style="color: red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextAreaFor(m => m.Heading, new { @class = "form-control col-md-7 col-xs-12", @id = "txtHeading", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.Heading, "", new { @class = "text-danger" })
                                        @*@Html.HiddenFor(m => m.MasterId, new { MId = "hdnMasterId" })*@

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Description <span class="required" style="color: red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control col-md-7 col-xs-12", @id = "txtDescription" })
                                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                                        <label style="float:right">(Use imgRight, imgLeft, imgFull class for Images )</label>
                                    </div>
                                </div>

                                 <div class="form-group">
                                     <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                         Image Alt Tag
                                     </label>
                                     <div class="col-md-6 col-sm-6 col-xs-12">
                                         @Html.TextBoxFor(m => m.Img_Alt_Tag, new { @class = "form-control col-md-7 col-xs-12", @id = "txtImg_Alt_Tag", @autocomplete = "off" })
                                     </div>
                                 </div>
                                <div class="ln_solid"></div>

                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        @if (ViewBag.ActionType == "Update")
                                        {
                                            <input type="submit" value="Update" id="btnsumbit" class="btn btn-success StoreDDLValueinhihhenfields" title="Submit" name="btnAction">
                                            @Html.HiddenFor(m => m.Id, new { id = "hdnId" })
                                            @Html.HiddenFor(m => m.imgPreview, new { @id = "hdnImage" })
                                        }
                                        else
                                        {
                                            <input type="submit" value="Submit" id="btnsumbit" class="btn btn-success StoreDDLValueinhihhenfields" title="Submit" name="btnAction">
                                        }


                                        <input type="reset" value="Cancel" id="btnreset" class="btn btn-primary" title="Cancel">

                                  </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

         <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <tr>
                                        <th>Sr No.</th>

                                        <th>
                                            Menu
                                        </th>
                                        <th>
                                            Page Name
                                        </th>
                                        <th>
                                            Heading
                                        </th>

                                        <th>
                                            Description
                                        </th>
                                        <th>
                                            BannerImage
                                        </th>
                                        <th>
                                            Image Alt Tag
                                        </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    @if (Model.SolutionsTechnologyIndustryDetailList != null)
                                    {
                                        foreach (var item in Model.SolutionsTechnologyIndustryDetailList)
                                        {
                                            <tr class="counter">
                                                <td>@Html.DisplayFor(modelItem => item.Sr)</td>

                                                <td>

                                                    @Html.DisplayFor(modelItem => item.Menu)
                                                </td>

                                                <td>

                                                    @Html.DisplayFor(modelItem => item.PageName)
                                                </td>

                                                <td>

                                                    @Html.DisplayFor(modelItem => item.Heading)
                                                </td>

                                                <td>
                                                    @Html.Raw(item.Description)
                                                </td>
                                                <td>
                                                    <img src="~/Content/uploads/InnerBanner/@item.Image" style="height:100px;width:150px;" />
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Img_Alt_Tag)
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("SolutionsTechnologyIndustryGallary", "Admin", new {ID =item.Id})" title="Add">
                                                        <button type="button" class="btn btn-info">
                                                            Add
                                                        </button>
                                                    </a>
                                                </td>




                                                <td>
                                                    <a href="@Url.Action("EditSolutionsTechnologyIndustryDetail", "Admin", new { Id = item.Id })" onclick="edit();" title="Edit">
                                                        <button type="button" class="btn ">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                    </a>

                                                    <a href="@Url.Action("DeleteSolutionsTechnologyIndustryDetail", "Admin", new { Id = item.Id })" title="Delete" onclick="return confirm('Are you sure you want to delete this Record?')">
                                                        <button type="button" class="btn ">
                                                            <i class="fa fa-close"></i>
                                                        </button>
                                                    </a>

                                                </td>
                                            </tr>
                                        }
                                    }

                           
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<style>
    img {
    width:200px;
    }
</style>


@Scripts.Render("~/Admin/FormValidation")
<script src="~/Content/ckeditor/ckeditor.js?@DateTime.Now.Millisecond"></script>
<script type="text/javascript" src="~/Content/ckeditor/adapters/jquery.js"></script>

@*<script>
    CKEDITOR.replace("txtDescription");

</script>*@
<script type="text/javascript">
    $(function () {
        CKEDITOR.replace("txtDescription",
  { filebrowserImageUploadUrl:  '/Upload.ashx' }); //path to "Upload.ashx"
    });
</script>

<script>

    $(function () {
        $('#ddllist').change(function () {
            $.getJSON('/Admin/BindSubListForDetail/' + $('#ddllist').val(), function (data) {
                var items = '<option>Select Page Name</option>';
                $.each(data, function (i, state) {
                    items += "<option value='" + state.Value + "'>" + state.Text + "</option>";
                });
                $('#ddlPagelist').html(items);
            });
        });

        //alert($('#hdnSubId').val())

        var hdSubVal = $('#hdnSubId').val();
        //alert(typeof (hdSubVal))
        if (hdSubVal != "0") {
            $.getJSON('/Admin/BindSubListForDetail/' + $('#ddllist').val(), function (data) {
                var items = '<option>Select Page Name</option>';
                $.each(data, function (i, state) {
                    if (state.Value == hdSubVal) {
                        items += "<option value='" + state.Value + "' selected>" + state.Text + "</option>";

                    } else {
                        items += "<option value='" + state.Value + "'>" + state.Text + "</option>";

                    }
                });
                $('#ddlPagelist').html(items);
            });
        }

    });




    var id = $("#hdnId").val();
    //alert(id)
    if (id != undefined && id != 0) {
        $('#imgPreview').show();
        $('#imgPreview').attr('src', '/Content/uploads/InnerBanner/' + $("#hdnImage").val());
    }



    //ddlPagelist
    $('.StoreDDLValueinhihhenfields').click(function () {
        

        var imgVal = $("#hdnImage").val();
        if (imgVal != undefined && imgVal != "") {
            $('#fileUploadImage').rules('remove', 'required')
        }

        var id = $('#ddlPagelist').Val();
        $('#hdnSubId').val(id);
    })
   

</script>





