﻿@model Patvin.Models.TechnologyImageVideoCaption
@using System.Web.Optimization

@{
    ViewBag.Title = "TechnologyImageVideoCaption";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

        @using (Html.BeginForm("TechnologyImageVideoCaption", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12 col-md-offset-1">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Technology Image & Video Caption</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @if (TempData["Message"] != null)
                            {
                                if (TempData["Message"].ToString() == "success")
                                {
                                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }

                                else if (TempData["Message"].ToString() == "warning")
                                {
                                    <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                                else if (TempData["Message"].ToString() == "error")
                                {
                                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                            }

                            <br>
                            <div id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                          
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Title <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control col-md-7 col-xs-12", @id = "txttitle", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                              
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Type <span class="required" style="color:red;">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top:9px;">
                                        @Html.DropDownListFor(m => m.Type, new List<SelectListItem>
                                         {   new SelectListItem {Text="Image",Value="Image" },
                                             new SelectListItem {Text="Video", Value="Video" }}, "Select Type", new { @class = "form-control", title = "Select Type" })
                                        @Html.ValidationMessageFor(m => m.Type, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group" id="divPdf" style="display:none;">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Image <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Image, new { @class = "form-control col-md-7 col-xs-12", @id = "fileUploadImage", @autocomplete = "off", @type = "file" })
                                        @Html.ValidationMessageFor(m => m.Image, "", new { @class = "text-danger" })
                                        <a id="imgPreview" style="display:none">View Pdf</a>
                                        @Html.HiddenFor(m => m.Id, new { id = "hdnId" })
                                    </div>
                                </div>
                                <div class="form-group" id="divUrl" style="display:none;">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Video Url <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Video, new { @class = "form-control col-md-7 col-xs-12", @id = "txtVideoUrl", @autocomplete = "off", @placeholder = "https://www.google.co.in/" })
                                        @Html.ValidationMessageFor(m => m.Video, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                          


                                <div class="ln_solid"></div>

                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        @if (ViewBag.ActionType == "Update")
                                        {
                                            <input type="submit" value="Update" id="btnsumbit" class="btn btn-success StoreDDLValueinhihhenfields" title="Submit" name="btnAction">                                 
                                            @Html.HiddenFor(m => m.imgPreview, new { @id = "hdnImage" })
                                        }
                                        else
                                        {
                                            <input type="submit" value="Submit" id="btnsumbit" class="btn btn-success StoreDDLValueinhihhenfields" title="Submit" name="btnAction">
                                        }

                                        <input type="reset" value="Cancel" id="btnreset" class="btn btn-primary" title="Cancel">
                                        @*<input type="button" value="View List" title="View List" class="btn btn-dark" id="btnviewlist">*@
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr No.</th>
                               
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Image/Video
                                    </th>                                   
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>

                                @if (Model.TechnologyImageVideoCaptionList != null)
                                {
                                    foreach (var item in Model.TechnologyImageVideoCaptionList)
                                    {
                                        <tr class="counter">
                                            <td>@Html.DisplayFor(modelItem => item.Sr)</td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Title)
                                            </td>
                                            <td><a href="@(item.Type.ToString()=="Image"?"/Content/uploads/Images/"+item.Image:item.Video)" target="_blank" />View</td>

                                          
                                            <td>
                                                <a href="@Url.Action("EditTechnologyImageVideoCaption", "Admin", new { Id = item.Id})" title="Edit">
                                                    <button type="button" class="btn ">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                </a>

                                                <a href="@Url.Action("DeleteTechnologyImageVideoCaption", "Admin", new { id = item.Id })" title="Delete" onclick="return confirm('Are you sure you want to delete this Record?')">
                                                    <button type="button" class="btn ">
                                                        <i class="fa fa-close"></i>
                                                    </button>
                                                </a>

                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@Scripts.Render("~/Admin/FormValidation")


<script>
    //debugger;
     var type = $('#Type').val();
    if (type == 'Image') {
        $('#divPdf').show();
        $('#divUrl').hide();
    }
    else if (type == 'Video') {
        $('#divUrl').show();
        $('#divPdf').hide();
    }
    else {
        $('#divUrl').hide();
        $('#divPdf').hide();
    }

    $('#Type').change(function () {
        //debugger;
        var type = $(this).val();
        if (type == 'Image') {
            $('#txtVideoUrl').rules('remove', 'required');
            $('#fileUploadImage').rules('add', 'required');

            $('#divPdf').show();
            $('#divUrl').hide();
        }
        else if (type == 'Video') {
            $('#fileUploadImage').rules('remove', 'required');
            $('#txtVideoUrl').rules('add', 'required');

            $('#divUrl').show();
            $('#divPdf').hide();
        }
        else {
            $('#divUrl').hide();
            $('#divPdf').hide();
        }
    })

    $('.StoreDDLValueinhihhenfields').click(function () {
        //debugger;
        var type = $('#Type').val();
        var id = $("#hdnId").val();
        if (id == undefined && id == 0) {
            if (type != undefined && type != '') {
                if (type == 'Image') {
                    $('#txtVideoUrl').rules('remove', 'required');
                    $('#fileUploadImage').rules('add', 'required');
                }
                else if (type == 'Video') {
                    $('#fileUploadImage').rules('remove', 'required');
                    $('#txtVideoUrl').rules('add', 'required');
                }
            }
        } else {
            $('#fileUploadImage').rules('remove', 'required');
            $('#txtVideoUrl').rules('remove', 'required');
        }
        //var imgVal = $("#hdnImage").val();
        //if (imgVal != undefined && imgVal != "") {
        //    $('#fileUploadImage').rules('remove', 'required')
        //}
    })

    var id = $("#hdnId").val();
    if (id != undefined && id != 0) {
        var type = $('#Type').val();
        if (type == 'Image') {
            $('#imgPreview').show();
            $('#imgPreview').attr('href', '/Content/uploads/Images/' + $("#hdnImage").val());
        }
    }

</script>

<style>
    /* MODIFIED DATE PICKER */
    .ui-datepicker {
        width: 250px !important;
        padding: 2px !important;
        font-size: 14px !important;
    }

        .ui-datepicker table {
            margin: 0 !important;
        }

        .ui-datepicker .ui-widget-header {
            background: #04869a !important;
            /*color: #fff;*/
            font-weight: normal;
        }

    .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
        background: #04869a !important;
        color: #fff !important;
        border: 1px solid #04869a !important;
    }

    .ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
        margin: 0px 4px !important;
        font-size: 13px !important;
    }

    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
        background: #04869a !important;
        color: #fff !important;
        border: 1px solid #04869a !important;
    }
</style>
