﻿@model Patvin.Models.ApplyForJob
@using System.Web.Optimization

@{
    Layout = "~/Views/Shared/WebsiteMaster.cshtml";
}


@section metatags{
    @Html.Raw(ViewBag.Title)

}

<div class="mainContainer container-fluid">

    <div class="row msgAlert">
        <div class="maxWidth">
            <p style="margin-bottom:0;">
                Our Team looks forward to Serving you once this COVID-19 Pandemic subsides, till then stay safe & healthy.
                @*<a href="~/Content/uploads/PATVIN Health Advisory.pdf" target="_blank">Patvin Health Advisory</a>*@
            </p>
        </div>
    </div>

    <div class="row innerPageBanner">

        <div class="inpageImg" style="background-image:url(/Content/uploads/InnerBanner/@ViewBag.InnerBanner">

            <div class="maxWidth text-center">
                <div class="pageTitle">
                    <div class="breadcrums"><a href="~/">Home</a></div>
                    <h1>Careers</h1>
                </div>
            </div>

        </div>

    </div>

    <div class="row pageContent">
        <div class="container-fluid">

            <div class="row punchline text-center">
                <div class="maxWidth" style="font-size:18px">
                    We Ideate, Innovate and Accomplish.
                </div>
            </div>


            <div class="maxWidth">

                <div class="row my-5" style="background:#f6f6f6;border:1px solid #eee;">
                    @Html.Raw(ViewBag.CareerOverview)

                    @*<div class="col-lg-6">

                        <div class="careerFirst">

                            <div class="title">
                                <h4>Life at Patvin is</h4>
                                <h2 class="titillium orangeColor">Challenging, Fulfilling and Exciting!</h2>
                            </div>

                            <p>Patvin offers access to world-class resources for personal and professional growth.</p>
                            <p>At Patvin, you'll have the chance to take on challenging responsibilities, working with top-notch, professionals from around the country. You will be part of a culture of excellence. You would not be just working for a living; you will be part of a global team that's focused on making a difference in the everyday lives of people.</p>
                            <p>People are central to Patvin's growth strategy. <strong class="blueColor">People are our strength and pride.</strong></p>
                            <p>Fundamental to the work at Patvin and to its competitive position is respect for development of employees.</p>

                        </div>

                    </div>*@

                    <div class="col-lg-6 p-0 careerImgside">

                        <div class="cisGallery">

                            @Html.Raw(ViewBag.BindCareerOverviewImages)
                            @*<div style="background-image:url(images/employerofchoice.jpg);">
                                <div class="cisImgbox"><img src="images/employerofchoice.jpg"></div>
                            </div>

                            <div style="background-image:url(images/whychoose.jpg);">
                                <div class="cisImgbox"><img src="images/whychoose.jpg"></div>
                            </div>

                            <div style="background-image:url(images/slide_1.jpg);">
                                <div class="cisImgbox"><img src="images/slide_1.jpg"></div>
                            </div>*@

                        </div>

                    </div>

                </div>

            </div>



            <div class="row">
                <div class="container-fluid wbContainer py-4">

                    <div class="maxWidth whiteColor">
                        <div class="row">

                            <div class="col-md-3 col-12 px-0">
                                <div class="title titillium whiteColor">
                                    <h2>We<strong>Believe</strong></h2>
                                </div>
                            </div>

                            @Html.Raw(ViewBag.BindWeBelive)

                            @*<div class="col-md-3 col-sm-4 wbBox">
                                <p><strong class="no">1.</strong><br> Employee Development is not just about acquiring skills to solve specific problems, but also about addressing challenges and expanding perspectives.</p>
                            </div>

                            <div class="col-md-3 col-sm-4 wbBox">
                                <p><strong class="no">2.</strong><br> Continuing Personal Development is as much an obligation of all Employees as it is of Supervisors, Executives and Managers.</p>
                            </div>

                            <div class="col-md-3 col-sm-4 wbBox">
                                <p><strong class="no">3.</strong><br> Building Human Competencies and Capacities is critical to our continued growth and success.</p>
                            </div>*@

                        </div>
                    </div>

                </div>
            </div>


            <div class="row">
                <div class="container-fluid">

                    <div class="maxWidth">

                        <div class="row justify-content-center">

                            <div class="col-md-9 text-center">
                                <div class="mt-5">
                                    <p><strong class="blueColor">Patvin is a young company, with an average age of 25 years.</strong><br> Talent is drawn from diverse academic and professional backgrounds. Patvin targets the the market for talent, provides better perspectives and has a number of expatriates on its rolls. Patvin endeavors to create a workplace where every person can reach his or her full potential.</p>

                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="container-fluid p-0 mb-5">

                                <div class="title text-center"><h2>Meet Our People</h2></div>

                                <div class="employeeTestimonialContainer et_Slider">

                                    @Html.Raw(ViewBag.BindOurPeople)
                                    @*<div>
                                        <div class="employeeTestim">
                                            <div class="employeeImg"><img src="images/emp_1.jpg"></div>
                                            <div class="employeeContent">
                                                <p>Patvin is a young company, with an average age of 25 years. Talent is drawn from diverse academic and professional backgrounds. Patvin targets the the market for talent, provides better perspectives and has a number of expatriates on its rolls. Patvin endeavors to create a workplace where every person can reach his or her full potential.</p>
                                                <p class="employeeName"><strong>Vinita Darole</strong> (Manager - Marketing)</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="employeeTestim">
                                            <div class="employeeImg"><img src="images/emp_2.jpg"></div>
                                            <div class="employeeContent">
                                                <p>Patvin is a young company, with an average age of 25 years. Talent is drawn from diverse academic and professional backgrounds. Patvin targets the the market for talent, provides better perspectives and has a number of expatriates on its rolls. Patvin endeavors to create a workplace where every person can reach his or her full potential.</p>
                                                <p class="employeeName"><strong>Vinita Darole</strong> (Manager - Marketing)</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="employeeTestim">
                                            <div class="employeeImg"><img src="images/emp_3.jpg"></div>
                                            <div class="employeeContent">
                                                <p>Patvin is a young company, with an average age of 25 years. Talent is drawn from diverse academic and professional backgrounds. Patvin targets the the market for talent, provides better perspectives and has a number of expatriates on its rolls. Patvin endeavors to create a workplace where every person can reach his or her full potential.</p>
                                                <p class="employeeName"><strong>Vinita Darole</strong> (Manager - Marketing)</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="employeeTestim">
                                            <div class="employeeImg"><img src="images/emp_1.jpg"></div>
                                            <div class="employeeContent">
                                                <p>Patvin is a young company, with an average age of 25 years. Talent is drawn from diverse academic and professional backgrounds. Patvin targets the the market for talent, provides better perspectives and has a number of expatriates on its rolls. Patvin endeavors to create a workplace where every person can reach his or her full potential.</p>
                                                <p class="employeeName"><strong>Vinita Darole</strong> (Manager - Marketing)</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="employeeTestim">
                                            <div class="employeeImg"><img src="images/emp_2.jpg"></div>
                                            <div class="employeeContent">
                                                <p>Patvin is a young company, with an average age of 25 years. Talent is drawn from diverse academic and professional backgrounds. Patvin targets the the market for talent, provides better perspectives and has a number of expatriates on its rolls. Patvin endeavors to create a workplace where every person can reach his or her full potential.</p>
                                                <p class="employeeName"><strong>Vinita Darole</strong> (Manager - Marketing)</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="employeeTestim">
                                            <div class="employeeImg"><img src="images/emp_3.jpg"></div>
                                            <div class="employeeContent">
                                                <p>Patvin is a young company, with an average age of 25 years. Talent is drawn from diverse academic and professional backgrounds. Patvin targets the the market for talent, provides better perspectives and has a number of expatriates on its rolls. Patvin endeavors to create a workplace where every person can reach his or her full potential.</p>
                                                <p class="employeeName"><strong>Vinita Darole</strong> (Manager - Marketing)</p>
                                            </div>
                                        </div>
                                    </div>*@

                                </div>



                            </div>
                        </div>


                    </div>

                </div>
            </div>

            <div class="row">
                <div class="container-fluid coTitleText py-4 mb-5">
                    <div class="maxWidth">
                        <div class="row">

                            <div class="title_table">
                                <div class="title_left">
                                    <div class="title titillium whiteColor">
                                        <h2>Explore our<strong>Current Openings</strong></h2>
                                    </div>
                                </div>
                                <div class="title_right wo_btn whiteColor">

                                    <p>Patvin is an employer of choice for top-notch professionals who see challenges in large-scale initiatives that support economic growth and development. No matter what your field or range of interests, there are vacancies where your talents can be applied and developed. We have employees from different cultures and backgrounds working in a variety of jobs in different domains. Whatever be your area of expertise, Patvin is likely to have an opportunity for you.</p>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="maxWidth mb-5">
                <div class="row fade_anim">
                    @Html.Raw(ViewBag.BindCurrentOpening)

                    @*<div class="container-fluid vacancyBox">
                        <div class="row">
                            <div class="col-md-9 col-lg-10">
                                <h2 class="titillium">Resident Sales Engineer (Male)</h2>
                                <ul class="vacancyTags clearfix">
                                    <li title="Location"><i class="fas fa-map-marker-alt"></i> Pune </li>
                                    <li title="No. of Post"><i class="fas fa-check-circle"></i> 1 Post </li>
                                    <li title="Qualification"><i class="fas fa-graduation-cap"></i> BE & Dipl. Mechanical </li>
                                    <li title="Experience Required"><i class="fas fa-briefcase"></i> 3 to 7 yrs </li>
                                </ul>
                                <p>Experience in Selling of Engineering Capital Goods, should be well versed with generating leads, Business Development etc. Will be responsible for Client servicing & Revenue Collection. Presentation Skill. Will operate from his residence. Not pursuing any education/ Course.</p>
                            </div>
                            <div class="col-md-3 col-lg-2 d-flex align-items-center justify-content-md-center">
                                <button type="button" class="orangeBtn" data-fancybox data-type="ajax" data-src="careers_form.html" data-touch="false" style="display:block">Apply Now</button>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid vacancyBox">
                        <div class="row">
                            <div class="col-md-9 col-lg-10">
                                <h2 class="titillium">Resident Sales Engineer (Male)</h2>
                                <ul class="vacancyTags clearfix">
                                    <li title="Location"><i class="fas fa-map-marker-alt"></i> Pune </li>
                                    <li title="No. of Post"><i class="fas fa-check-circle"></i> 1 Post </li>
                                    <li title="Qualification"><i class="fas fa-graduation-cap"></i> BE & Dipl. Mechanical </li>
                                    <li title="Experience Required"><i class="fas fa-briefcase"></i> 3 to 7 yrs </li>
                                </ul>
                                <p>Experience in Selling of Engineering Capital Goods, should be well versed with generating leads, Business Development etc. Will be responsible for Client servicing & Revenue Collection. Presentation Skill. Will operate from his residence. Not pursuing any education/ Course.</p>
                            </div>
                            <div class="col-md-3 col-lg-2 d-flex align-items-center justify-content-md-center">
                                <button type="button" class="orangeBtn" data-fancybox data-type="ajax" data-src="careers_form.html" data-touch="false" style="display:block">Apply Now</button>
                            </div>
                        </div>
                    </div>*@

                    <div class="d-none">
                        <div class="csForm uploadbgicon px-4 px-sm-5 py-4" id="Career_form">

                            <div class="csfContent">
                                <div class="csfTitle titillium orangeColor"><h2>Apply For The Position</h2></div>

                                <div class="csf_dwnload"><span id="spnTitle"></span><br /> <span id="spnLocation"></span></div>

                                <p>Enter the details below and upload your resume.</p>


                                @using (@Html.BeginForm("Careers", "Website", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                                {
                                    @Html.HiddenFor(m => m.Role, new { @Id = "Role" })
                                    @Html.HiddenFor(m => m.Location, new { @Id = "Location" })

                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                    </div>
                                  

                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email Address", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.ContactNo, new { @class = "form-control", placeholder = "Mobile No.", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.ContactNo, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="custom-file-upload form-group">
                                        @Html.TextBoxFor(m => m.Resume, new { @class = "myFile form-control", placeholder = "Resume", @type = "file", @id = "fileResume" })
                                        @Html.ValidationMessageFor(m => m.Resume, "", new { @class = "text-danger" })
                                        <label id="lblfileUploadResume" class="fileUpload"></label>
                                        @Html.HiddenFor(m => m.fakePath, new { @id = "hdnFakePath" })
                                    </div>

                                    <div class="w-100 pt-3"></div>

                                    <div class="form-group">
                                        <button type="submit" class="orangeBtn">Send Request</button>
                                    </div>

                                }

                            </div>
                        </div>

                        <div class="csForm downloadbgicon px-4 px-sm-5 py-4" id="case_study_form1">

                            <div class="csfContent">
                                <div class="csfContent text-center pt-5">
                                    <div class="csfTitle titillium orangeColor"><h2>Thank You!</h2></div>

                                    <p>Our team will contact you shortly.</p>

                                </div>


                            </div>

                        </div>
                        </div>
                    </div>

            </div>

        </div>
    </div>

</div>

@if (TempData["Message"] != null)
{
    if (TempData["Message"].ToString() == "success")
    {
        <script>
                $(document).ready(function () {

                    $("#case_study_form1").fancybox().trigger('click');

                })
        </script>
    }
}
@Scripts.Render("~/Admin/FormValidation")

<script>

$('.et_Slider').slick({slidesToShow:3,slidesToScroll:3,speed:1000,cssEase:'ease',dots:false,arrows:true,infinite:false,responsive:[
    {breakpoint:992,settings:{slidesToShow:2,slidesToScroll:2}},
    {breakpoint:650,settings:{slidesToShow:1,slidesToScroll:1}}
	]
});

$('.cisGallery').slick({slidesToShow:1,slidesToScroll:1,speed:1000,cssEase:'ease',dots:false,arrows:true,infinite:true,autoplay:true,autoplaySpeed:4000,fade:true,pauseOnHover:true,});

$("body").prepend("<a href='#' class='scrollToTop fade_anim'></a>"),$(window).scroll(function(){$(this).scrollTop()>200?$(".scrollToTop").fadeIn():$(".scrollToTop").fadeOut()}),$(".scrollToTop").click(function(){return $("html, body").animate({scrollTop:0},800),!1});

$(function () {
  $('.vacancyTags li').tooltip()
})


function RoleSelected(role,Location) {
    //alert(role);
    jQuery('#spnTitle').html(role);
    jQuery('#spnLocation').html(Location);

    $('#Role').val(role);
    $('#Location').val(Location);

}


$("body").on("change", "#fileResume", function () {
    debugger;
    var fileUploadResume = document.getElementById("fileResume").value;
    $('#hdnFakePath').val(fileUploadResume);
    var allowedFiles = [".doc", ".docx", ".pdf"];
    var fileUpload = $("#fileResume");
    var lblError = $("#lblfileUploadResume");
    var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(" + allowedFiles.join('|') + ")$");
    if (!regex.test(fileUpload.val().toLowerCase())) {
        lblError.html("Please upload files having extensions: <b>" + allowedFiles.join(', ') + "</b> only.").attr('style', 'color:Red');
        $('.clsfile').val('notAllow');
        return false;
    }
    lblError.html(fileUploadResume).attr('style', 'color:black');
    $('.clsfile').val('Allow');
    return true;
});
</script>

    

