﻿@model Patvin.Models.Casestudyform
@using System.Web.Optimization

@{
   
    Layout = "~/Views/Shared/WebsiteMaster.cshtml";
}


@section metatags{
    @Html.Raw(ViewBag.Title)

}

<div class="mainContainer container-fluid">

    @*corona message*@
    <div class="row msgAlert">
        <div class="maxWidth">
            <p style="margin-bottom:0;">
                Our Team looks forward to Serving you once this COVID-19 Pandemic subsides, till then stay safe & healthy.
                @*<a href="~/Content/uploads/PATVIN Health Advisory.pdf" target="_blank">Patvin Health Advisory</a>*@
            </p>
        </div>
    </div>

    <div class="row innerPageBanner">

        <div class="inpageImg" style="background-image:url(/Content/uploads/InnerBanner/@ViewBag.InnerBanner">

            <div class="maxWidth">
                <div class="pageTitle text-center">
                    <div class="breadcrums"><a href="~/">Home</a><a>Products & Solutions</a></div>
                    <h1>Case Studies</h1>
                </div>
            </div>

        </div>

    </div>

    <div class="row pageContent">
        <div class="container-fluid">
            <div class="maxWidth solnListSection mt-5">
                <div class="fade_anim">

                    <div class="row">

                        @Html.Raw(ViewBag.BindCaseStudyListing)

                    </div>

                    <div class="d-none">

                        <div class="csForm downloadbgicon px-4 px-sm-5 py-4" id="case_study_form">

                            <div class="csfContent">
                                <div class="csfTitle titillium orangeColor"><h2>Register to Download</h2></div>

                                <div class="csf_dwnload">
                                    <span id="spnTitle"></span>

                                    @*@Html.Raw(ViewBag.Title);*@
                                </div>

                                <p>Enter the details below to download the case study.</p>


                                @using (@Html.BeginForm("CaseStudyListing", "Website", FormMethod.Post))
                                {
                                    @Html.HiddenFor(m => m.Title, new { @Id = "Title" })

                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", placeholder = "Company Name", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.CompanyName, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email Address", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="w-100 pt-3"></div>

                                    <div class="form-group">
                                        <button type="submit" class="orangeBtn">Send Request</button>
                                    </div>

                                }

                            </div>

                        </div>

                        <div class="csForm downloadbgicon px-4 px-sm-5 py-4" id="case_study_form1">

                            <div class="csfContent">
                                <div class="csfContent text-center pt-5">
                                    <div class="csfTitle titillium orangeColor"><h2>Thank You!</h2></div>

                                    <p>We will send you an email with the requested case study. </p>

                                </div>


                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>


    </div>



    @if (TempData["Message"] != null)
    {
        if (TempData["Message"].ToString() == "success")
        {
            <script>
                $(document).ready(function () {

                    $("#case_study_form1").fancybox().trigger('click');

                })
            </script>
        }
    }

</div>



@Scripts.Render("~/Admin/FormValidation")


    <script>
        function RoleSelected(role) {
            //alert(role);
            jQuery('#spnTitle').html(role);
            $('#Title').val(role);

        }
        



    </script>


