﻿@model Patvin.Models.Casestudyform

@{
    Layout = null;
}

<!DOCTYPE html>

@*<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Casestudyform</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>*@

<div class="csForm downloadbgicon px-4 px-sm-5 py-4">

    <div class="csfContent">
        <div class="csfTitle titillium orangeColor"><h2>Register to Download</h2></div>

        <div class="csf_dwnload">@Html.LabelFor(m=>m.Title)</div>

        <p>Enter the details below to download the case study.</p>

       @using (@Html.BeginForm("Casestudyform", "Website", FormMethod.Post))
       {

            <div class="form-group">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name", @autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", placeholder = "Company Name", @autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.CompanyName, "", new { @class = "text-danger" })         
            </div>

            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email Address", @autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })             
            </div>

            <div class="w-100 pt-3"></div>

            <div class="form-group">
                <button type="submit" class="orangeBtn">Send Request</button>
            </div>

       }

    </div>


</div>