﻿@model Patvin.Models.ContactUs
@using System.Web.Optimization

@{
     
    Layout = "~/Views/Shared/WebsiteMaster.cshtml";
}


@section metatags{
    @Html.Raw(ViewBag.Title)

}

<div class="mainContainer container-fluid">

    <div class="row msgAlert">
        <div class="maxWidth">
            <p style="margin-bottom:0;">
                Our Team looks forward to Serving you once this COVID-19 Pandemic subsides, till then stay safe & healthy.
                @*<a href="~/Content/uploads/PATVIN Health Advisory.pdf" target="_blank">Patvin Health Advisory</a>*@
            </p>
        </div>
    </div>

    <div class="row innerPageBanner">

        <div class="inpageImg" style="background-image:url(/Content/uploads/InnerBanner/@ViewBag.InnerBanner">

            <div class="maxWidth text-center">
                <div class="pageTitle">
                    <div class="breadcrums"><a href="~/">Home</a></div>
                    <h1>Contact Us</h1>
                </div>
            </div>

        </div>

    </div>

    <div class="row pageContent">
        <div class="container-fluid">

            <div class="maxWidth">

                <div class="row" style="margin-top:50px;margin-bottom:50px">

                    <div class="col-md-6 contactEmails">

                        <div class="row contactDetails fade_anim">
                            <div class="col-12 align-self-center text-center whiteColor"><h6 style="padding:15px;border-bottom:1px dotted #89abbb;">Quick Contacts</h6></div>

                            <div class="col-sm-6 qe_box">
                                <i class="far fa-money-bill-alt"></i>
                                <strong class="titillium">Sales</strong> <a href="mailto:@TempData["Sales"].ToString()">@TempData["Sales"].ToString()</a>/ <a href="mailto:@TempData["Sales1"].ToString()">@TempData["Sales1"].ToString()</a>
                            </div>

                            <div class="col-sm-6 qe_box">
                                <i class="fas fa-cogs"></i>
                                <strong class="titillium">Services</strong> <a href="mailto:@TempData["Services"].ToString()">@TempData["Services"].ToString()</a>
                            </div>

                            <div class="col-sm-6 qe_box">
                                <i class="fas fa-shopping-cart"></i>
                                <strong class="titillium">Purchasing</strong> <a href="mailto:@TempData["Purchasing"].ToString()">@TempData["Purchasing"].ToString()</a>
                            </div>

                            <div class="col-sm-6 qe_box">
                                <i class="fas fa-truck-moving"></i>
                                <strong class="titillium">Dispatches</strong> <a href="mailto:@TempData["Dispatches"].ToString()">@TempData["Dispatches"].ToString()</a>
                            </div>

                        </div>

                    </div>

                    <div class="col-md-6 contactForm fade_anim">

                        <div class="title titillium">
                            <h2><strong>Email our Experts</strong></h2>
                        </div>

                        <p style="margin-bottom:10px">Please drop us a line if you've any query related to our products or services.</p>

                        @using (@Html.BeginForm("ContactUs", "Website", FormMethod.Post))
                        {
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.Subject, new List<SelectListItem>
                                        {
                                            new SelectListItem{ Text="Sales Inquiry", Value = "Sales Inquiry" },
                                            new SelectListItem{ Text="Supplier", Value = "Supplier" },
                                            new SelectListItem{ Text="Dispatch related", Value = "Dispatch related" },
                                            new SelectListItem{ Text="Service related", Value = "Service related" },
                                         }, "Select Subject", new { @class = "form-control", title = "Select Subject" })
                                @Html.ValidationMessageFor(m => m.Subject, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", placeholder = "Name", @autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", @autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.TextBoxFor(m => m.ContactNo, new { @id = "contacUstid", @class = "form-control", placeholder = "Mobile No.", @autocomplete = "off", @onkeypress = "return isNumberKey(event)" })
                                @Html.ValidationMessageFor(m => m.ContactNo, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.TextAreaFor(m => m.Comment, new { @class = "form-control", placeholder = "Message", @autocomplete = "off", @rows = "4" })
                                @Html.ValidationMessageFor(m => m.Comment, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group row p-0 m-0">

                                <div class="col-xs-12 col-sm-auto col-md-12 col-lg-auto pl-0 mb-2">
                                    <button type="submit" class="orangeBtn">Send Message</button>
                                </div>

                                <div class="col p-0" style="line-height:1.2"><small>Please note: Careers applications will not be processed through this area, use the dedicated Careers section of the website for this purpose.</small></div>
                            </div>
                        }
                    </div>
                </div>



                <div class="d-none">
                    <div class="csForm downloadbgicon px-4 px-sm-5 py-4" id="case_study_form1">

                        <div class="csfContent">
                            <div class="csfContent text-center pt-5">
                                <div class="csfTitle titillium orangeColor"><h2>Thank You!</h2></div>

                                <p>Our team will contact you shortly.</p>

                            </div>


                        </div>

                    </div>

                </div>

                <div class="row mb-4">
                    <div class="col-sm-6 align-self-center">
                        <div class="title">
                            <h2>
                                <strong class="orangeColor titillium text-uppercase">Pan India<br class="d-sm-block d-none"> Sales Network</strong>
                                Call : +91 22 62863333
                            </h2>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <img src="/Content/Resource/website/images/PanIndiaSales.jpg" class="img-fluid">
                    </div>
                </div>

                <div class="row pageContent fade_anim">
                    <div class="w-100 addressTitle">
                        <div class="title titillium text-center">
                            <h4>Reach Us</h4>
                            <h2 style="margin-bottom:0;">Our Address</h2>
                        </div>
                    </div>


                    @Html.Raw(ViewBag.Address)

                    @*<div class="col-sm-6 col-lg-3 addressBox">
                            <h3><img src="/Content/Resource/website/images/pointer_a.png" style="height:25px;margin-right:5px;"> Head Office</h3>
                            <p>
                                Patvin Engineering Pvt. Ltd.<br>
                                W-193, TTC Industrial Area,<br /> Khairane MIDC, Behind Reliance Silicon,<br /> Thane - Belapur road,<br /> Navi Mumbai - 400709
                            </p>
                            <p class="contNo"><i class="fas fa-phone" title="Telephone"></i> +91 22 33831500,<br> +91 22 27780310</p>
                            <a class="locateBtn orangeBtn" data-title="4">Locate</a>
                        </div>

                        <div class="col-sm-6 col-lg-3 addressBox">
                            <h3><img src="/Content/Resource/website/images/pointer_b.png" style="height:25px;margin-right:5px;"> Registered Office</h3>
                            <p>
                                Patvin Engineering Pvt. Ltd.<br>
                                106, Veena Killedar Industrial Estate,<br /> 10/14, Pais Street Byculla (w),<br /> Mumbai – 400011
                            </p>
                            <a class="locateBtn orangeBtn" data-title="1">Locate</a>
                        </div>

                        <div class="col-sm-6 col-lg-3 addressBox">
                            <h3><img src="/Content/Resource/website/images/pointer_c.png" style="height:25px;margin-right:5px;"> Factory</h3>
                            <p>
                                Patvin Engineering Pvt. Ltd.<br>
                                Unit 2, A-196, TTC Industrial Area,<br /> Khairane MIDC, Behind Reliance Silicon,<br /> Thane - Belapur road,<br /> Navi Mumbai - 400709
                            </p>
                            <p class="contNo"><i class="fas fa-phone" title="Telephone"></i> +91 22 33831500,<br> +91 22 27780310</p>
                            <a class="locateBtn orangeBtn" data-title="2">Locate</a>
                        </div>

                        <div class="col-sm-6 col-lg-3 addressBox">
                            <h3><img src="/Content/Resource/website/images/pointer_d.png" style="height:25px;margin-right:5px;"> Service Office</h3>
                            <p>
                                Patvin Engineering Pvt. Ltd.<br>
                                Plot No. 86, H block,<br /> Pimpri - 1,<br /> Pune - 411018
                            </p>
                            <p class="contNo"><i class="fas fa-phone" title="Telephone"></i> 020 46772727</p>
                            <p class="contNo"><i class="fas fa-fax" title="Fax"></i> 020 46772728</p>
                            <a class="locateBtn orangeBtn" data-title="3">Locate</a>
                        </div>*@

                </div>

            </div>

            <div id="controls" class="d-none"></div>
            <div class="row" id="gmap" style="height:400px;background:#111;margin-top:30px;"></div>

        </div>
    </div>

</div>
@Scripts.Render("~/Admin/FormValidation")


@if (TempData["Message"] != null)
{
    if (TempData["Message"].ToString() == "success")
    {
        <script>
            $(document).ready(function () {

                $("#case_study_form1").fancybox().trigger('click');

            })
        </script>
    }
}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0-QV-vOMkroQttms3BkjfKrR1E1rZWVI"></script>
<script src="~/Content/Resource/website/js/maplace.min.js"></script>

<script>

    $(function () {

       var myMarkers = [];
        
        $.get("/Website/SaveEmployeeRecord", function (data) {
            //debugger;

            for (i in data) {
             
                myMarkers.push({ lat: data[i].Latitude, lon: data[i].Longitude, icon: '/Content/uploads/Images/' + data[i].Image + '', title: data[i].Heading, html: '<h1>' + data[i].Title + '</h1><h2>(' + data[i].Heading + ')</h2><p>' + data[i].Description + '</p>', animation: google.maps.Animation.DROP, zoom: 14 })
                
            }
            callMapFun();

        });

        function callMapFun() {
            new Maplace({
                locations: myMarkers,
                controls_on_map: false,
                controls_type: 'list',
                styles: {
                    'Greyscale': [
                                    {
                                        "featureType": "all",
                                        "elementType": "labels.text.fill",
                                        "stylers": [{ "saturation": 36 }, { "color": "#000000" }, { "lightness": 40 }]
                                    },
                                    {
                                        "featureType": "all",
                                        "elementType": "labels.text.stroke",
                                        "stylers": [{ "visibility": "on" }, { "color": "#000000" }, { "lightness": 16 }]
                                    },
                                    {
                                        "featureType": "all",
                                        "elementType": "labels.icon",
                                        "stylers": [{ "visibility": "off" }]
                                    },
                                    {
                                        "featureType": "administrative",
                                        "elementType": "geometry.fill",
                                        "stylers": [{ "color": "#000000" }, { "lightness": 20 }]
                                    },
                                    {
                                        "featureType": "administrative",
                                        "elementType": "geometry.stroke",
                                        "stylers": [{ "color": "#000000" }, { "lightness": 17 }, { "weight": 1.2 }]
                                    },
                                    {
                                        "featureType": "landscape",
                                        "elementType": "geometry",
                                        "stylers": [{ "color": "#000000" }, { "lightness": 20 }]
                                    },
                                    {
                                        "featureType": "poi",
                                        "elementType": "geometry",
                                        "stylers": [{ "color": "#000000" }, { "lightness": 21 }]
                                    },
                                    {
                                        "featureType": "road.highway",
                                        "elementType": "geometry.fill",
                                        "stylers": [{ "color": "#000000" }, { "lightness": 17 }]
                                    },
                                    {
                                        "featureType": "road.highway",
                                        "elementType": "geometry.stroke",
                                        "stylers": [{ "color": "#000000" }, { "lightness": 29 }, { "weight": 0.2 }]
                                    },
                                    {
                                        "featureType": "road.arterial",
                                        "elementType": "geometry",
                                        "stylers": [{ "color": "#000000" }, { "lightness": 18 }]
                                    },
                                    {
                                        "featureType": "road.local",
                                        "elementType": "geometry",
                                        "stylers": [{ "color": "#000000" }, { "lightness": 16 }]
                                    },
                                    {
                                        "featureType": "transit",
                                        "elementType": "geometry",
                                        "stylers": [{ "color": "#000000" }, { "lightness": 19 }]
                                    },
                                    {
                                        "featureType": "water",
                                        "elementType": "geometry",
                                        "stylers": [{ "color": "#000000" }, { "lightness": 17 }]
                                    }
                    ]
                }
            }).Load();
        }
        
    });


    @Html.Raw(ViewBag.Function)

    //$('.locateBtn[data-title="1"]').click(function () {
    //    $('.ullist').find('#ullist_a_1').trigger('click')
    //});
    //$('.locateBtn[data-title="2"]').click(function () {
    //    $('.ullist').find('#ullist_a_2').trigger('click')
    //});
    //$('.locateBtn[data-title="3"]').click(function () {
    //    $('.ullist').find('#ullist_a_3').trigger('click')
    //});
    //$('.locateBtn[data-title="4"]').click(function () {
    //    $('.ullist').find('#ullist_a_4').trigger('click')
    //});


    $('.locateBtn').click(function () {
        $("html,body").animate({ scrollTop: $('#gmap').offset().top - 130 }, 800)
    })

    $("body").prepend("<a href='#' class='scrollToTop fade_anim'></a>"), $(window).scroll(function () { $(this).scrollTop() > 200 ? $(".scrollToTop").fadeIn() : $(".scrollToTop").fadeOut() }), $(".scrollToTop").click(function () { return $("html, body").animate({ scrollTop: 0 }, 800), !1 });

</script>