﻿
<div class="maxWidth">
    <div class="row py-5">

        <div class="col-lg-4 col-md-4">
            <div class="titillium foottl">Products & Solutions</div>
            <div class="container-fluid clearfix">
                <ul class="row quickLinks fade_anim">
                    @Html.Raw(ViewBag.SolutionsFooter)
                    @*<li class="col-6"><a href="">Paint Circulation Systems</a></li>
                    <li class="col-6"><a href="">Paint Application System</a></li>
                    <li class="col-6"><a href="">Color Change System </a></li>
                    <li class="col-6"><a href="">Two Component Paint System - 2K System </a></li>
                    <li class="col-6"><a href="">Sealant and Adhesive Systems </a></li>
                    <li class="col-6"><a href="">Automation in Sealant Adhesive </a></li>
                    <li class="col-6"><a href="">NVH Application Systems </a></li>
                    <li class="col-6"><a href="">Lubrication Systems </a></li>
                    <li class="col-6"><a href="">Piggable System </a></li>
                    <li class="col-6"><a href="">UR Robots </a></li>*@
                </ul>
            </div>

        </div>

        <div class="col-lg-4 col-md-4">
            <div class="titillium foottl">Industries Served</div>
            <div class="container-fluid clearfix">
                <ul class="row quickLinks fade_anim">
                    @Html.Raw(ViewBag.IndustriesFooter)
                    @*<li class="col-6"><a href="">Automotive & Transportation</a></li>
                    <li class="col-6"><a href="">Auto components</a></li>
                    <li class="col-6"><a href="">Pharmaceutical </a></li>
                    <li class="col-6"><a href="">Aerospace </a></li>
                    <li class="col-6"><a href="">White goods </a></li>
                    <li class="col-6"><a href="">Industrial Products </a></li>
                    <li class="col-6"><a href="">FMCG</a></li>*@
                </ul>
            </div>
        </div>
	<div class="col-lg-4 col-md-4">
            <div class="titillium foottl">Services</div>
            <div class="container-fluid clearfix">
                <ul class="row quickLinks fade_anim">
        			<li class="col-6"><a href='/Services#turnkey-projects'>Turnkey Projects</a></li>
        			<li class="col-6"><a href='/Services#system-refurbishment'>System Refurbishment</a></li>
        			<li class="col-6"><a href='/Services#service---amc'>Service & AMC</a></li>
        			<li class="col-6"><a href='/Services#spare-parts-'>Spare Parts </a></li>
        			<li class="col-6"><a href='/Services#customer-experience-centre'>Customer Experience Centre</a></li>
        			<li class="col-6"><a href='/Services#training'>Training</a></li>
                </ul>

                <ul class="row quickLinks fade_anim">
                    <li class="col-6"> <a href="~/Newsroom"><b>Newsroom</b></a></li>
                    <li class="col-6"><a href="~/Careers"><b>Careers</b></a></li>
                    <li class="col-6"><a href="~/green-initiatives"><b>Green Initiatives</b></a></li>
                </ul>
            </div>
		
        </div>

	

        <div class="col-lg-2 col-md-12">
            <div class="titillium foottl">Follow us on:</div>
            <a href="https://www.linkedin.com/company/patvin-engineering-pvt-ltd" target="_blank"><img src="~/Content/Resource/website/images/linkedin_btn.png" alt="linkedin icon" style="max-width:100%" /></a>
            @*<script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
            <script type="IN/FollowCompany" data-id="14526047">
           </script>*@
        </div>

    </div>
</div>
