﻿@model Patvin.Models.GetInTouchForm

<div class="container-fluid prodFormContainer fade_anim whiteColor" style="height:auto;">

    <div class="tl text-uppercase"><i class="far fa-comment-dots orangeColor" style="font-size:28px;vertical-align:middle;margin-right:5px"></i> Get in Touch</div>

    @using (@Html.BeginForm("GetInTouchForm", "Website", FormMethod.Post))
    {


        <div class="form-group">
            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", placeholder = "Name", @autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", @autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.ContactNo, new { @id = "contacUstid", @class = "form-control", placeholder = "Mobile No.", @autocomplete = "off", @onkeypress = "return isNumberKey(event)" })
            @Html.ValidationMessageFor(m => m.ContactNo, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.TextAreaFor(m => m.Comment, new { @class = "form-control", placeholder = "Message", @autocomplete = "off", @rows = "4" })
            @Html.ValidationMessageFor(m => m.Comment, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <button type="submit" class="orangeBtn">Send Message</button>
        </div>

    }

</div>
