﻿@{
    ViewBag.Title = "GreenSulutions";
    Layout = "~/Views/Shared/WebsiteMaster.cshtml";
}


<div class="mainContainer container-fluid">

    <div class="row innerPageBanner">

        <div class="inpageImg" style="background-image:url(/Content/uploads/InnerBanner/@ViewBag.InnerBanner">

            <div class="maxWidth text-center">
                <div class="pageTitle">
                    <div class="breadcrums"><a href="~/">Home</a><a>About Us</a></div>
                    <h1>Green Solutions</h1>
                </div>
            </div>

        </div>

    </div>

    <div class="row pageContent">
        <div class="container-fluid">

            <div class="maxWidth fade_anim">
                <div class="row">
                    <div class="w-100 my-5">
                        <p>Every solution we provide is designed with a special impetus in controlling environmental emissions, increase productivity, improving quality, saving materials and at the same time consuming less energy. </p>

                        <h2 class="orangeColor">Eco-Friendly Solutions</h2>
                        <p>"To reduce VOCs, manufacturers are constantly looking for solutions to minimize material wastage with more efficient equipment and automated processes. Patvin systems are equipped with advanced features that help you reduce your carbon footprints by controlling waste and environmental emissions.</p>
                        <p>For example in a Paint Circulation system, we provide precise flow and velocity at the lowest running energy costs.</p>
                        <p>With ecofriendly solutions, Patvin contributes to a more sustainable world.</p>

                        <h2 class="orangeColor">Resource Conservation</h2>
                        <p>One of the most important resources of nature is Energy. Every solution that we deliver counts high in energy efficiency as well as effective use and recovery of raw materials.</p>
                        <p>For example, our color change systems allow clever recovery of paint during the color change, saving paint and cleaning solvents/ Our pigging solutions have helped our customers recover significant amounts of the useable product and over 95% lower consumption of flushing solvent.</p>
                        <p>Not only does this contribute towards conserving resources but it also allows for substantial cost savings for our customers.</p>
                        <p>We can automate your industrial processes to achieve the above mentioned advantages. The accuracy of robots has substantially transformed the conventional fluid handling industry. Automation in fluid handling systems has proven to reduce material consumption by up to 30%. Increased control and access to amount of material used enable huge savings on material costs. Using plural component proportioners, that mix material close to the gun, and using automatic electrostatic guns that increase transfer efficiency, you can save material and reduce VOC emissions.</p>

                        <h2 class="orangeColor">Minimizing Scrap and Proper waste management</h2>
                        <p>With the use of innovative tools and automated processes, we reduce the amount of scrap produced in our manufacturing activities. We also follow an efficient waste management system that disposes waste in the most safe manner and focuses on maximum recycling of materials.</p>

                </div>
            </div>

        </div>
    </div>

</div>
    </div>



