﻿<header class="container-fluid fade_anim sina-nav mobile-sidebar navbar-fixed" data-top="150">
    <div class="row topHeader fade_anim">

        <div class="maxWidth opensans">

            <div class="row">
                <div class="col">
                    <div class="brandTagline"><img src="/Content/Resource/website/images/tagline.png" title="Your Partner for Quality..." alt="your partner for quality"></div>
                </div>
                <div class="col">
                    <div class="searchbox">
                        @*<input type="text" placeholder="Search">*@
                        <input type="text" id="txtSearch" placeholder="Search">
                        <button><i class="fas fa-search" onclick="MobSearchKeyword()"></i></button>

                    </div>
                </div>
            </div>

            <!--<div class="loginBox titillium"><a href="" class="orangeBtn"><strong>Login</strong></a></div>

            <div class="top_social">
                <ul>
                <li><a href="" title="Facebook"><span class="fab fa-facebook-f"></span></a></li>
                <li><a href="" title="Twitter"><span class="fab fa-twitter"></span></a></li>
                <li><a href="" title="YouTube"><span class="fab fa-youtube"></span></a></li>
                <li><a href="" title="LinkedIn"><span class="fab fa-linkedin-in"></span></a></li>
                </ul>
            </div>-->
        </div>

    </div>

    <div class="row bottomHeader">

        <div class="maxWidth">
            <div class="logo fade_anim"><a href="~/"><img src="/Content/Resource/website/images/logo.jpg" alt="Patvin logo"></a></div>

            <div class="menuBox no_anim titillium collapse navbar-collapse" id="navbar-menu">

                <ul class="sina-menu no_anim" data-in="fadeInUp" data-out="fadeOutDown">

                    <li class="@Html.Raw(ViewBag.ActiveMenu == "Home"?"active":"")"><a href="~/">Home</a></li>

                    <li class='@Html.Raw(ViewBag.ActiveMenu == "WhoWeAre"?"dropdown active":ViewBag.ActiveMenu =="Management"?"dropdown active":ViewBag.ActiveMenu =="OurValues"?"dropdown active":ViewBag.ActiveMenu =="HealthSafety"?"dropdown active":"dropdown")'>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us</a>
                        <ul class="dropdown-menu">
                            <li class='@Html.Raw(ViewBag.ActiveMenu == "WhoWeAre"?"active":"")'><a href="~/WhoWeAre">Who We Are </a></li>
                            <li class='@Html.Raw(ViewBag.ActiveMenu == "Management"?"active":"")'><a href="~/LeadershipTeam">Leadership Team</a></li>
                            <li class='@Html.Raw(ViewBag.ActiveMenu == "OurValues"?"active":"")'><a href="~/OurValues">Our Values</a></li>
                            <li class='@Html.Raw(ViewBag.ActiveMenu == "HealthSafety"?"active":"")'><a href="~/HealthSafety">Health & Safety </a></li>
                        </ul>
                    </li>

                    <li class="@Html.Raw(ViewBag.ActiveMenu == "products"?"dropdown active":ViewBag.ActiveMenu =="Solutions"?"dropdown active":ViewBag.ActiveMenu =="Technology"?"dropdown active":ViewBag.ActiveMenu =="CaseStudyListing"?"dropdown active":ViewBag.ActiveMenu =="Testimonials"?"dropdown active":"dropdown")">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products & Solutions</a>
                        <ul class="dropdown-menu">
                            <li class="@Html.Raw(ViewBag.ActiveMenu == "products"?"active":"")"><a href="~/products">Products</a></li>
                            <li class="@Html.Raw(ViewBag.ActiveMenu == "Solutions"?"dropdown active":"dropdown")">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Solutions</a>
                                <ul class="dropdown-menu">
                                    @Html.Raw(ViewBag.Solutions)
                                </ul>
                            </li>
                            <li class="@Html.Raw(ViewBag.ActiveMenu == "Technology"?"dropdown active":"dropdown")">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Technology</a>
                                <ul class="dropdown-menu">
                                    @*<li><a href="~/website/Automation">Automation</a></li>
                                        <li><a href="#">Industrie 4.0 </a></li>
                                        <li><a href="#">Human Robot Collaboration</a></li>*@
                                    @Html.Raw(ViewBag.Technology)
                                </ul>
                            </li>
                            <li class="@Html.Raw(ViewBag.ActiveMenu == "CaseStudyListing"?"active":"")" ><a href="~/CaseStudyListing">Case Studies</a></li>
                            <li class="@Html.Raw(ViewBag.ActiveMenu == "Testimonials"?"active":"")"><a href="~/Testimonials">Testimonials</a></li>
                        </ul>
                    </li>

                    <li class="@Html.Raw(ViewBag.ActiveMenu == "Collaborative Robots"?"dropdown active":"dropdown")">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Collaborative Robots</a>
                        <ul class="dropdown-menu">
                            @Html.Raw(ViewBag.CollaborativeRobots)
                            <li class="@Html.Raw(ViewBag.ActiveMenu == "Blogs"?"active":"")"><a href="~/Blogs">Blogs</a></li>
                        </ul>
                    </li>

                    <li class="@Html.Raw(ViewBag.ActiveMenu == "Services"?"dropdown active":"dropdown")">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services</a>
                        <ul class="dropdown-menu">
                            @Html.Raw(ViewBag.ServicesMenu)
                        </ul>
                    </li>

                    <li class="@Html.Raw(ViewBag.ActiveMenu == "Industries"?"dropdown active":"dropdown")">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Industries</a>
                        <ul class="dropdown-menu">
                            @Html.Raw(ViewBag.Industries)
                        </ul>
                    </li>

                    <li class="@Html.Raw(ViewBag.ActiveMenu == "Newsroom"?"active":"")"><a href="~/Newsroom">Newsroom</a></li>

                    <li class="@Html.Raw(ViewBag.ActiveMenu == "Careers"?"active":"")"><a href="~/Careers">Careers</a></li>

                    <li class="@Html.Raw(ViewBag.ActiveMenu == "ContactUs"?"active":"")"><a href="~/ContactUs">Contact Us</a></li>
                </ul>

            </div>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"><i class="fa fa-bars"></i></button>

        </div>

    </div>


    @*<script>
        $(document).ready(function () {
            $('ul li').click(function () {
                alert($(this).text());
                $('ul li').removeClass("active");
                $(this).addClass("active");
            });
            });
        </script>*@

</header>




