﻿@{
   
    Layout = "~/Views/Shared/WebsiteMaster.cshtml";
}


@section metatags{
    @Html.Raw(ViewBag.Title)

}

<div class="mainContainer container-fluid">

    @*corona message*@
    <div class="row msgAlert">
        <div class="maxWidth">
            <p style="margin-bottom:0;">
                Our Team looks forward to Serving you once this COVID-19 Pandemic subsides, till then stay safe & healthy.
                @*<a href="~/Content/uploads/PATVIN Health Advisory.pdf" target="_blank">Patvin Health Advisory</a>*@
            </p>
        </div>
    </div>

    <div class="row innerPageBanner">

        <div class="inpageImg" style="background-image:url(/Content/uploads/InnerBanner/@ViewBag.InnerBanner">

            <div class="maxWidth text-center">
                <div class="pageTitle">
                    <div class="breadcrums"><a href="~/">Home</a><a>About Us</a></div>
                    <h1>Health & Safety</h1>
                </div>
            </div>

        </div>

    </div>

    <div class="row pageContent">
        <div class="container-fluid">

            <div class="maxWidth fade_anim">
                <div class="row">
                    <div class="w-100 my-5">

                        @Html.Raw(ViewBag.CMS)
                    </div>

                    @*

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut purus tortor, iaculis accumsan massa a, aliquet elementum diam. Aenean gravida ante a mi cursus, at efficitur tortor consectetur. Fusce sed lacinia libero. Donec id risus magna. Quisque dictum elit sed commodo viverra. Donec sit amet commodo erat. Ut pretium lobortis lacus quis rutrum.</p>
                        <p>Sed euismod ullamcorper sapien efficitur imperdiet. Vestibulum <strong>pulvinar venenatis metus, vel</strong> auctor dui mollis eu. Cras quis nunc tempor, fringilla neque at, vestibulum ex. Nullam molestie turpis ac elit rutrum vulputate. Nullam hendrerit sem nibh, et venenatis tortor iaculis nec. Donec mi velit, dictum fermentum auctor vel, elementum eget purus. Donec ultrices risus vestibulum dui fermentum, eu fermentum purus dapibus.</p>
                        <p>Duis dui leo, posuere id ex nec, condimentum mattis tortor. Vestibulum in ornare quam. <a href="#">Nunc non rhoncus</a> est, non porta justo. Duis ac nisl vel metus congue sodales. In id est ac mauris commodo venenatis eget sed ipsum. Aliquam quis felis leo. Fusce a magna ac orci ultricies porta ac et ex. Phasellus pharetra quam quam, eget suscipit eros viverra a. Donec ultricies condimentum nulla ut maximus. Maecenas viverra finibus felis, at semper elit. Donec molestie enim et leo gravida sagittis. Nullam id vestibulum dolor. Etiam tempor consequat pretium. Proin ultrices dui feugiat cursus rhoncus. Duis et ante in eros varius cursus sit amet non orci.</p>

                        <h2>Nullam id vestibulum dolor. Etiam tempor consequat pretium.</h2>

                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Nam vitae sem et felis viverra laoreet sed in magna.</li>
                            <li>Etiam varius mi a turpis malesuada blandit.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Nam vitae sem et felis viverra laoreet sed in magna.</li>
                            <li>Etiam varius mi a turpis malesuada blandit.</li>
                        </ul>

                        <p>Mauris in felis porta, ornare lacus a, malesuada sapien. Donec auctor leo sed risus pretium imperdiet nec vulputate nibh. Nam ut aliquet justo, non varius odio. Nam vel nulla sapien. Quisque egestas, purus eu porta hendrerit, turpis felis imperdiet magna, ac fermentum ipsum ligula in magna. Vivamus feugiat lorem vel felis suscipit fringilla. Suspendisse consectetur et ligula et lacinia. Maecenas et lectus accumsan, aliquam massa non, consectetur justo. Quisque odio risus, ultrices nec elit sed, vehicula consectetur dolor. Integer at sapien aliquet, efficitur arcu eu, suscipit dolor. Aenean eu convallis sem, id elementum risus.</p>
                        <p>Nulla non metus eu elit ornare dictum id at lacus. Vivamus hendrerit dignissim congue. Suspendisse quis gravida magna. Nulla a commodo odio. Donec vel elementum purus. Maecenas quis nisi sollicitudin, ornare velit varius, semper augue. Proin quis consectetur ligula, et eleifend felis. Cras finibus nibh sit amet eros consequat, sed lacinia magna mollis. Nullam scelerisque erat a purus luctus, id egestas tortor scelerisque. Etiam laoreet, erat cursus tincidunt gravida, tellus nisl eleifend odio, at maximus nibh lectus ut metus. In hac habitasse platea dictumst. Pellentesque dictum mauris quis nunc luctus semper sed sit amet nunc. Duis pharetra lectus et purus convallis pretium ut vitae est. Integer ac gravida massa, eget ultrices ligula.</p>

                    *@

                </div>
            </div>

        </div>
    </div>

</div>

