﻿@{
    ViewBag.Title = "HumanRobotCollaboration";
    Layout = "~/Views/Shared/WebsiteMaster.cshtml";
}


<div class="mainContainer container-fluid">

    <div class="row innerPageBanner">

        <div class="inpageImg" style="background-image:url(images/banner_about.jpg)">

            <div class="maxWidth">
                <div class="pageTitle text-center">
                    <div class="breadcrums"><a href="index.html">Home</a><a>Products & solutions</a><a>Technology</a></div>
                    <h1>Human Robot Collaboration</h1>
                </div>
            </div>

        </div>

    </div>

    <div class="row pageContent">
        <div class="container-fluid">

            <div class="row punchline text-center">
                <div class="maxWidth">
                    Constant Pressure Optimized Systems. Temperature System (High Viscosity). Velocity and Pressure Balanced System.
                </div>
            </div>

            <div class="row">
                <div class="maxWidth" style="margin-top:40px;">

                    <div class="row">


                        <div class="col-md-7 col-lg-8">
                            @Html.Raw(ViewBag.HumanRobotCollaboration)
                            @*<div class="productContent">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                                    <h2 class="blueColor">Where does it come from?</h2>

                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>

                                    <ul class="twoinrow">
                                        <li>Constant Pressure Optimized Systems.</li>
                                        <li>Temperature System (High Viscosity).</li>
                                        <li>Velocity and Pressure Balanced System.</li>
                                        <li>Water Borne and Solvent Borne Compatible System.</li>
                                        <li>Pneumatically Powered System.</li>
                                        <li>Hydraulically Powered System.</li>
                                        <li>Electrically Powered System.</li>
                                        <li>Constant Agitation Systems</li>
                                    </ul>

                                </div>*@

                        </div>

                        <div class="col-md-5 col-lg-4">

                            <div class="productCarousel mb-4">
                                <div class="productImgSlider">
                                    @Html.Raw(ViewBag.BindTechnologyImageVideoCaption)
                                    @*<div>
                                            <div class="pc_img_slide">
                                                <a href="images/prod_1.jpg" data-fancybox="img_gallery" data-caption="Image 1 caption" class="fancyimg"><img src="images/prod_1.jpg"></a>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="pc_img_slide">
                                                <a href="images/prod_2.jpg" data-fancybox="img_gallery" data-caption="Image 2 caption" class="fancyimg"><img src="images/prod_2.jpg"></a>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="pc_img_slide">
                                                <a href="images/prod_3.jpg" data-fancybox="img_gallery" data-caption="Image 3 caption" class="fancyimg"><img src="images/prod_3.jpg"></a>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="pc_img_slide">
                                                <a href="images/prod_4.jpg" data-fancybox="img_gallery" data-caption="" class="fancyimg"><img src="images/prod_4.jpg"></a>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="pc_img_slide">
                                                <a href="https://www.youtube.com/watch?v=qSnUdIAsTLs&amp;autoplay=1" data-fancybox="img_gallery" data-caption="Video Caption" class="fancyvideo">
                                                    <img src="https://img.youtube.com/vi/qSnUdIAsTLs/sddefault.jpg">
                                                </a>
                                            </div>
                                        </div>*@
                                </div>
                            </div>

                            <div class="container-fluid solutionLinks fade_anim clearfix mb-5">
                                <div class="row sl_title"><i class="fas fa-cogs whiteColor" style="font-size:20px;vertical-align:middle;margin-right:10px;line-height:1.5;opacity:.7"></i> <strong>SOLUTIONS</strong></div>
                                @Html.Raw(ViewBag.Solution)
                                @*<ul class="clearfix">
                                        <li><a href="solutions.html">Paint Circulation Systems</a></li>
                                        <li><a href="#">Paint Application System </a></li>
                                        <li><a href="#">Color Change System </a></li>
                                        <li><a href="#">Two Component Paint System - 2K System </a></li>
                                        <li><a href="#">Sealant and Adhesive Systems </a></li>
                                        <li><a href="#">Automation in Sealant Adhesive </a></li>
                                        <li><a href="#">NVH Application Systems </a></li>
                                        <li><a href="#">Lubrication Systems </a></li>
                                        <li><a href="#">Piggable System</a></li>
                                        <li><a href="#">UR robots</a></li>
                                    </ul>*@
                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>


    <!-- Services Starts -->
    <div class="maxWidth">
        <div class="row">
            <div class="homeservices_section">

                <div class="hs_column fade_anim">
                    <img src="images/ic_service_1.png">
                    <h2 class="titillium">Turnkey Projects</h2>
                    <p>Local manufacturing of sub systems and components</p>
                    <a href="">Read More <i class="fas fa-chevron-circle-right"></i></a>
                </div>

                <div class="hs_column fade_anim">
                    <img src="images/ic_service_2.png">
                    <h2 class="titillium">System Refurbishment</h2>
                    <p>Good experience and exposure to a variety of applications and systems</p>
                    <a href="">Read More <i class="fas fa-chevron-circle-right"></i></a>
                </div>

                <div class="hs_column fade_anim">
                    <img src="images/ic_service_3.png">
                    <h2 class="titillium">AMC/Service Contract</h2>
                    <p>Rated high on Satisfaction thereby giving repeat business</p>
                    <a href="">Read More <i class="fas fa-chevron-circle-right"></i></a>
                </div>

                <div class="hs_column fade_anim">
                    <img src="images/ic_service_4.png">
                    <h2 class="titillium">Spare Parts</h2>
                    <p>Good amount of inventory of spares to reduce customer down time</p>
                    <a href="">Read More <i class="fas fa-chevron-circle-right"></i></a>
                </div>

                <div class="hs_column fade_anim">
                    <img src="images/ic_service_5.png">
                    <h2 class="titillium">Technical Assitance</h2>
                    <p>Good amount of inventory of spares to reduce customer down time</p>
                    <a href="">Read More <i class="fas fa-chevron-circle-right"></i></a>
                </div>

                <div class="hs_column fade_anim">
                    <img src="images/ic_service_6.png">
                    <h2 class="titillium">Demo Centre</h2>
                    <p>Rated high on Satisfaction thereby giving repeat business</p>
                    <a href="">Read More <i class="fas fa-chevron-circle-right"></i></a>
                </div>

                <div class="hs_column fade_anim">
                    <img src="images/ic_service_7.png">
                    <h2 class="titillium">Training</h2>
                    <p>Good amount of inventory of spares to reduce customer down time</p>
                    <a href="">Read More <i class="fas fa-chevron-circle-right"></i></a>
                </div>

            </div>
        </div>
    </div>
    <!-- Services Ends -->
    <!-- Industries Starts -->

    <div class="row">

        <div class="maxWidth">
            <div class="solutionContact">

                <div class="row">

                    <div class="col-md-5 p-0">

                        <div class="solnText_holder">
                            <div class="title titillium" style="color:#fff;">
                                <h2>Get Solutions For <strong class="orangeColor">All Industries</strong></h2>
                            </div>

                            <p style="margin-bottom:10px;">Consult our technical team for an expert solution to your need.</p>
                            <a href="#" class="orangeBtn" style="width:150px;display:block;margin:auto;">Contact Us</a>
                        </div>

                    </div>

                    <div class="col-md-7">

                        <div class="row industriesList fade_anim">
                            <a href="" class="col-lg-3 col-sm-4 col-6">
                                <img src="images/ic_auto_trans.png" data-title="">
                                <h3>Automotive & Transportation</h3>
                            </a>
                            <a href="" class="col-lg-3 col-sm-4 col-6">
                                <img src="images/ic_auto_comp.png" data-title="">
                                <h3>Auto Components</h3>
                            </a>
                            <a href="" class="col-lg-3 col-sm-4 col-6">
                                <img src="images/ic_pharma.png" data-title="">
                                <h3>Pharmaceutical</h3>
                            </a>
                            <a href="" class="col-lg-3 col-sm-4 col-6">
                                <img src="images/ic_aerospace.png" data-title="">
                                <h3>Aerospace </h3>
                            </a>
                            <a href="" class="col-lg-3 col-sm-4 col-6">
                                <img src="images/ic_white_goods.png" data-title="">
                                <h3>White Goods</h3>
                            </a>
                            <a href="" class="col-lg-3 col-sm-4 col-6">
                                <img src="images/ic_ind_prod.png" data-title="">
                                <h3>Industrial Products</h3>
                            </a>
                            <a href="" class="col-lg-3 col-sm-4 col-6">
                                <img src="images/ic_fcmg.png" data-title="">
                                <h3>FMCG</h3>
                            </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- Industries Ends -->

</div>

<script>

$('.productImgSlider').slick({slidesToShow:1,slidesToScroll:1,autoplay:true,autoplaySpeed:5000,pauseOnHover:false,pauseOnFocus:true,infinite:false,speed:1000,cssEase:'ease',dots:false,arrows:true});

//$('.bgSlider').slick({slidesToShow:1,slidesToScroll:1,autoplay:true,autoplaySpeed:5000,speed:1000,pauseOnHover:false,cssEase:'ease',dots:false,arrows:false,fade:true});

$('.partnersLogos').slick({slidesToShow:1,slidesToScroll:1,autoplay:true,autoplaySpeed:4000,speed:1000,pauseOnHover:false,cssEase:'ease',dots:false,arrows:false,fade:true});

$('.homeservices_section').slick({slidesToShow:4,slidesToScroll:4,autoplay:true,autoplaySpeed:8000,pauseOnHover:true,infinite:true,speed:1000,cssEase:'ease',dots:true,arrows:true,responsive:[
    {breakpoint:1150,settings:{slidesToShow:3,slidesToScroll:3}},
    {breakpoint:768,settings:{slidesToShow:2,slidesToScroll:2}},
    {breakpoint:576,settings:{slidesToShow:1,slidesToScroll:1}}
	]
});

$("body").prepend("<a href='#' class='scrollToTop fade_anim'></a>"),$(window).scroll(function(){$(this).scrollTop()>200?$(".scrollToTop").fadeIn():$(".scrollToTop").fadeOut()}),$(".scrollToTop").click(function(){return $("html, body").animate({scrollTop:0},800),!1});
</script>
