﻿@{
    
    Layout = "~/Views/Shared/WebsiteMaster.cshtml";
}

@section metatags{
    @Html.Raw(ViewBag.Title)

    }

<div class="mainContainer container-fluid">
    <!-- Banner Starts -->

    @*corona message*@
    <div class="row msgAlert">
        <div class="maxWidth">
            <p style="margin-bottom:0;">
                We at PATVIN Wish all our Clients and partners good Health during this COVID-19 Pandemic. "Stay Home - Stay Safe".<br/>
                <a href="~/Content/uploads/PATVIN Health Advisory.pdf" target="_blank">Patvin Health Advisory</a> /
                <a href="~/Content/uploads/Patvin Supplier Communications.pdf" target="_blank">Patvin Supplier Communications</a> /
                <a href="~/Content/uploads/Sanitizer Sprayer COVID-19,042020.pdf" target="_blank">Sanitization Equipment</a> /
                <a data-fancybox="" data-width="600" data-height="334"  href="~/Content/uploads/video/Sanitizer_Sprayer_Application.mp4"> 
                    Sanitizer Sprayer Application
                </a> /
                <a data-fancybox="" data-width="600" data-height="334" href="~/Content/uploads/video/Hand Held Sanitizer.mp4">
                    Hand Held Sanitizer
                </a> /
                <a data-fancybox="" data-width="600" data-height="334" href="~/Content/uploads/video/GX-21 Sanitizer Sprayer_New.mp4">
                    GX-21 Sprayer
                </a>
            </p>
        </div>
    </div>


    <div class="row">

        <div class="homeBanner container-fluid text-center">
            <div class="homeSlider">
                @Html.Raw(ViewBag.Banner)

            </div>
        </div>

    </div>

    <!-- Banner Ends -->
    <div class="w-100"></div>

    <div class="row">

        @Html.Raw(ViewBag.WorldClassSolutions)


        <div class="container-fluid logosContainer">
            <div class="row">
                <div class="maxWidth">

                    <div class="clientLogoScroll ">
                        @Html.Raw(ViewBag.WorldClassSolutionspartners)
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="homeIntro d-none" style="padding-top:70px;padding-bottom:70px;">
        <a href="" class="orangeBtn"><i class="far fa-file-pdf" style="font-size:20px;margin-right:5px;"></i> Download Brochure</a>
    </div>

    <div class="w-100"></div>

    <!-- About Starts -->
    <div class="row">
        <div class="aboutSection container-fluid">
            <div class="buildingimage"></div>

            <div class="row">
                <div class="maxWidth">
                    <div class="row">
                        <div class="col-lg-7 buildingimg_mobile">

                            <div class="aboutTextHolder">
                                @Html.Raw(ViewBag.AboutPatvin)

                                <div class="clearfix"></div>
                                <a href="/WhoWeAre" class="orangeBtn" style="display:inline-block;">Read More</a>

                            </div>

                        </div>

                        <div class="col-lg-5">

                            <div class="statisticContainer">

                                @Html.Raw(ViewBag.HomeStatistics)

                            </div>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
    </div>
    <!-- About Ends -->
    <!-- Solutions Starts -->
    <div class="row">
        <div class="container-fluid solnSection" id="industrialSolutions">
            <div class="maxWidth">

                <div class="title_table">
                    <div class="title_left">
                        <div class="title titillium" style="color:#fff;">
                            <h1 class="txtBig"><strong>Industrial Solutions</strong></h1>
                        </div>
                    </div>
                    <div class="title_right wo_btn" style="color:#f6f6f6">

                        @Html.Raw(ViewBag.IndustrialSolutions)

                    </div>

                </div>

            </div>
        </div>

        <div class="maxWidth solnListSection">
            <div class="homeSolnCarousel">

                @Html.Raw(ViewBag.ProductSolutions)

            </div>

        </div>
    </div>
    <!-- Solutions Ends -->
    <!-- Industries Starts -->

    <div class="row">

        <div class="maxWidth">
            <div class="solutionContact">

                <div class="row">

                    <div class="col-md-5 p-0">

                        <div class="solnText_holder">
                            <div class="title titillium" style="color:#fff;">
                                <h2>Get Solutions For <strong class="orangeColor">All Industries</strong></h2>
                            </div>

                            <p style="margin-bottom:10px;">Consult our technical team for an expert solution to your need.</p>
                            <a href="/ContactUs" class="orangeBtn" style="width:150px;display:block;margin:auto;">Contact Us</a>
                        </div>

                    </div>

                    <div class="col-md-7">

                        <div class="row industriesList fade_anim">
                            @Html.Raw(ViewBag.HomeIndustries)
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- Industries Ends -->
    <!-- Services Starts -->
    <div class="maxWidth">
        <div class="row">
            <div class="homeservices_section">

                @Html.Raw(ViewBag.HomeServices)

            </div>
        </div>
    </div>
    <!-- Services Ends -->
    <!-- whychoose Starts -->
    <div class="row">
        <div class="container-fluid whyChoose_container">
            <div class="row">
                <div class="maxWidth whyChoose_table">
                    @Html.Raw(ViewBag.GreenWorld)
                </div>
            </div>
        </div>

    </div>
    <!-- whychoose Ends -->

</div>

<script>

$('.homeSlider').slick({slidesToShow:1,slidesToScroll:1,autoplay:true,autoplaySpeed:8000,pauseOnHover:false,infinite:true,speed:1000,fade:true,cssEase:'linear',dots:false,arrows:true});

$('.homeservices_section').slick({slidesToShow:4,slidesToScroll:4,autoplay:true,autoplaySpeed:8000,pauseOnHover:true,infinite:true,speed:1000,cssEase:'ease',dots:true,arrows:true,responsive:[
    {breakpoint:1150,settings:{slidesToShow:3,slidesToScroll:3}},
    {breakpoint:768,settings:{slidesToShow:2,slidesToScroll:2}},
    {breakpoint:576,settings:{slidesToShow:1,slidesToScroll:1}}
	]
});

$('.clientLogoScroll').slick({slidesToShow:4,slidesToScroll:4,autoplay:true,autoplaySpeed:3000,pauseOnHover:false,infinite:true,speed:1000,cssEase:'ease',dots:true,arrows:false,responsive:[
    {breakpoint:1150,settings:{slidesToShow:3,slidesToScroll:3}},
    {breakpoint:768,settings:{slidesToShow:2,slidesToScroll:2}}
	]																																											});

var a = 0;
$(window).scroll(function() {
  var oTop = $('.counter').offset().top - window.innerHeight;
  if (a == 0 && $(window).scrollTop() > oTop) {
    $('.counter').each(function() {
      var $this = $(this),
        countTo = $this.attr('data-count');
      $({
        countNum: $this.text()
      }).animate({
          countNum: countTo
        },
        {
          duration: 2000,
          easing: 'swing',
          step: function() {
            $this.text(Math.floor(this.countNum));
          },
          complete: function() {
            $this.text(this.countNum);
          }
        });
    });
    a = 1;
  }
});
$("body").prepend("<a href='#' class='scrollToTop fade_anim'></a>"), $(window).scroll(function () { $(this).scrollTop() > 200 ? $(".scrollToTop").fadeIn() : $(".scrollToTop").fadeOut() }), $(".scrollToTop").click(function () { return $("html, body").animate({ scrollTop: 0 }, 800), !1 });

$(".slide .orangeBtn").click(function(){
	var target = $(this).attr('href');
	var targetHash = target.substring(target.lastIndexOf('#'));
	$('html, body').animate({scrollTop:$(targetHash).offset().top-140},1500,'swing');
});


$('.homeSolnCarousel').slick({
    slidesToShow: 4, slidesToScroll: 4, infinite: true, speed: 1000, cssEase: 'ease', dots: true, arrows: true, responsive: [
    { breakpoint: 1150, settings: { slidesToShow: 3, slidesToScroll: 3 } },
    { breakpoint: 768, settings: { slidesToShow: 2, slidesToScroll: 2 } },
    { breakpoint: 576, settings: { slidesToShow: 1, slidesToScroll: 1 } }
    ]
});
</script>

