﻿@model Patvin.Models.Management

@{

    Layout = "~/Views/Shared/WebsiteMaster.cshtml";
}

@section metatags{
    @Html.Raw(ViewBag.Title)

}

<div class="mainContainer container-fluid">

    @*corona message*@
    <div class="row msgAlert">
        <div class="maxWidth">
            <p style="margin-bottom:0;">
                Our Team looks forward to Serving you once this COVID-19 Pandemic subsides, till then stay safe & healthy.
                @*<a href="~/Content/uploads/PATVIN Health Advisory.pdf" target="_blank">Patvin Health Advisory</a>*@
            </p>
        </div>
    </div>

    <div class="row innerPageBanner">

        <div class="inpageImg" style="background-image:url(/Content/uploads/InnerBanner/@ViewBag.InnerBanner">

            <div class="maxWidth text-center">
                <div class="pageTitle">
                    <div class="breadcrums"><a href="index.html">Home</a><a>About Us</a></div>
                    <h1>Leadership Team</h1>
                </div>
            </div>

        </div>

    </div>

    <div class="row pageContent">
        <div class="container-fluid">

            <div class="maxWidth fade_anim">
                <div class="row valuesMain">

                    <div class="container-fluid text-center my-5">
                        @Html.Raw(ViewBag.CMS)
                    </div>

                    <div class="container-fluid">

                        @Html.Raw(ViewBag.Management)
         
                    </div>


                </div>
            </div>

        </div>
    </div>



</div>

<script src="~/Content/Resource/website/js/jquery.fittext.js"></script>
<script src="~/Content/Resource/website/js/jquery.waypoints.min.js"></script>

<script>
    jQuery(".flexFont").fitText(1);
</script>
