﻿@{
  
    Layout = "~/Views/Shared/WebsiteMaster.cshtml";
}


@section metatags{
    @Html.Raw(ViewBag.Title)

}

<div class="mainContainer container-fluid">

    <div class="row innerPageBanner">

        <div class="inpageImg" style="background-image:url(/Content/uploads/InnerBanner/@ViewBag.InnerBanner">

            <div class="maxWidth text-center">
                <div class="pageTitle">
                    <div class="breadcrums"><a href="~/">Home</a></div>
                    <h1>@ViewBag.PageName</h1>
                </div>
            </div>

        </div>

    </div>

    <div class="row pageContent">
        <div class="container-fluid">

            <div class="maxWidth fade_anim">
                <div class="row">
                    <div class="w-100 my-5">
                 @Html.Raw(ViewBag.Description)
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


