﻿@model Patvin.Models.GetInTouchForm
@using System.Web.Optimization

@{
   
    Layout = "~/Views/Shared/WebsiteMaster.cshtml";
}


@section metatags{
    @Html.Raw(ViewBag.Title)

}
<div class="mainContainer container-fluid">

    <div class="row innerPageBanner">

        <div class="inpageImg" style="background-image:url(/Content/uploads/InnerBanner/@ViewBag.InnerBanner)">

            <div class="maxWidth">
                <div class="pageTitle text-center">
                    <div class="breadcrums"><a href="~/">Home</a><a href="/Newsroom">Newsroom</a></div>
                    <h1>@Html.Raw(ViewBag.Type)</h1>
                </div>
            </div>

        </div>

    </div>

    <div class="row pageContent">
        <div class="container-fluid">

            <div class="row">
                <div class="maxWidth" style="margin-top:40px;">

                    <div class="row">

                        <div class="col-md-7 col-lg-8">
                            <div class="productContent">

                                @Html.Raw(ViewBag.BindNewsDetails)

                            </div>

                        </div>

                        <div class="col-md-5 col-lg-4 mb-5">

                            <div class="container-fluid prodFormContainer fade_anim whiteColor" style="height:auto;">

                                <div class="tl text-uppercase"><i class="far fa-comment-dots orangeColor" style="font-size:28px;vertical-align:middle;margin-right:5px"></i> Get in Touch</div>


                                @using (@Html.BeginForm("NewsRoomDetail", "Website", FormMethod.Post))
                                {
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", placeholder = "Name", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.ContactNo, new { @id = "contacUstid", @class = "form-control", placeholder = "Mobile No.", @autocomplete = "off", @onkeypress = "return isNumberKey(event)" })
                                        @Html.ValidationMessageFor(m => m.ContactNo, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.TextAreaFor(m => m.Comment, new { @class = "form-control", placeholder = "Message", @autocomplete = "off", @rows = "4" })
                                        @Html.ValidationMessageFor(m => m.Comment, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="orangeBtn">Send Message</button>
                                    </div>

                                }

                            </div>

                        </div>

                        <div class="d-none">
                            <div class="csForm downloadbgicon px-4 px-sm-5 py-4" id="case_study_form1">

                                <div class="csfContent">
                                    <div class="csfContent text-center pt-5">
                                        <div class="csfTitle titillium orangeColor"><h2>Thank You!</h2></div>

                                        <p>Our team will contact you shortly.</p>

                                    </div>


                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>


    <!-- Case Studies Starts -->

    <div class="row">
        <div class="container-fluid casestudiesSection">
            <div class="maxWidth">

                <div class="title_table">
                    <div class="title_left">
                        <div class="title titillium" style="color:#fff;">
                            <h4>Our Projects</h4>
                            <h2><strong>Case Studies</strong></h2>
                        </div>
                    </div>
                    <div class="title_right" style="color:#fff;">

                        <p>The experience gained over the years and the consistent drive for technical innovations and improvements have helped to attain the apex in offering innovative solutions to diverse global markets.</p>

                        <a href="/CaseStudyListing" class="whiteBtn">View All Projects</a>

                    </div>

                </div>

            </div>
        </div>

    </div>

    <!-- Case Studies Ends -->
    <!-- Services Starts -->
    <div class="maxWidth">
        <div class="row">
            <div class="homeservices_section">

       @Html.Raw(ViewBag.HomeServices)
            </div>
        </div>
    </div>
    <!-- Services Ends -->
    <!-- Industries Starts -->

    <div class="row">

        <div class="maxWidth">
            <div class="solutionContact">

                <div class="row">

                    <div class="col-md-5 p-0">

                        <div class="solnText_holder">
                            <div class="title titillium" style="color:#fff;">
                                <h2>Get Solutions For <strong class="orangeColor">All Industries</strong></h2>
                            </div>

                            <p style="margin-bottom:10px;">Consult our technical team for an expert solution to your need.</p>
                            <a href="/ContactUs" class="orangeBtn" style="width:150px;display:block;margin:auto;">Contact Us</a>
                        </div>

                    </div>

                    <div class="col-md-7">

                        <div class="row industriesList fade_anim">
                         @Html.Raw(ViewBag.HomeIndustries)
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- Industries Ends -->

</div>


@if (TempData["Message"] != null)
{
    if (TempData["Message"].ToString() == "success")
    {
        <script>
                $(document).ready(function () {

                    $("#case_study_form1").fancybox().trigger('click');

                })
        </script>
    }
}


@Scripts.Render("~/Admin/FormValidation")

<script>


$('.productImgSlider').slick({slidesToShow:1,slidesToScroll:1,autoplay:true,autoplaySpeed:5000,pauseOnHover:false,pauseOnFocus:true,infinite:false,speed:1000,cssEase:'ease',dots:false,arrows:true
//	responsive:[
//    {breakpoint:1150,settings:{slidesToShow:3,slidesToScroll:3}},
//    {breakpoint:768,settings:{slidesToShow:2,slidesToScroll:2}},
//    {breakpoint:576,settings:{slidesToShow:1,slidesToScroll:1}}
//	]
});

$('.homeservices_section').slick({slidesToShow:4,slidesToScroll:4,autoplay:true,autoplaySpeed:8000,pauseOnHover:true,infinite:true,speed:1000,cssEase:'ease',dots:true,arrows:true,responsive:[
    {breakpoint:1150,settings:{slidesToShow:3,slidesToScroll:3}},
    {breakpoint:768,settings:{slidesToShow:2,slidesToScroll:2}},
    {breakpoint:576,settings:{slidesToShow:1,slidesToScroll:1}}
	]
});

$("body").prepend("<a href='#' class='scrollToTop fade_anim'></a>"),$(window).scroll(function(){$(this).scrollTop()>200?$(".scrollToTop").fadeIn():$(".scrollToTop").fadeOut()}),$(".scrollToTop").click(function(){return $("html, body").animate({scrollTop:0},800),!1});
</script>
