﻿@{
     
    Layout = "~/Views/Shared/WebsiteMaster.cshtml";
}


@section metatags{
    @Html.Raw(ViewBag.Title)

}

<div class="mainContainer container-fluid">

    <div class="row msgAlert">
        <div class="maxWidth">
            <p style="margin-bottom:0;">
                Our Team looks forward to Serving you once this COVID-19 Pandemic subsides, till then stay safe & healthy.
                @*<a href="~/Content/uploads/PATVIN Health Advisory.pdf" target="_blank">Patvin Health Advisory</a>*@
            </p>
        </div>
    </div>

    <div class="row innerPageBanner">

        <div class="inpageImg" style="background-image:url(/Content/uploads/InnerBanner/@ViewBag.InnerBanner">

            <div class="maxWidth text-center">
                <div class="pageTitle">
                    <div class="breadcrums"><a href="~/">Home</a></div>
                    <h1>Newsroom</h1>
                </div>
            </div>

        </div>

    </div>

    <div class="row pageContent">
        <div class="container-fluid p-0">

            <div class="maxWidth my-5">
                <div class="row justify-content-md-center">



                    <div class="w-100 newsMain">

                        <ul class="row justify-content-md-center newsTabs mb-5 rounded-pill nav nav-pills" id="mvq-tab" role="tablist">
                            @Html.Raw(ViewBag.Type)

                            @*<li class="col p-0 nav-item">
                                    <a class="nav-link active" role="tab" data-toggle="pill" href="#news" id="tab-news" aria-controls="news" aria-selected="true">
                                        News
                                    </a>
                                </li>
                                <li class="col p-0 nav-item">
                                    <a class="nav-link" role="tab" data-toggle="pill" href="#events" id="tab-events" aria-controls="events" aria-selected="false">
                                        Events
                                    </a>
                                </li>*@
                        </ul>

                        <div class="w-100"></div>

                        <div class="col p-0 tab-content" id="mvq-tabContent">

                            <div class="tab-pane fade show active masonry-container" role="tabpanel" id="news" aria-labelledby="tab-news">
                                @Html.Raw(ViewBag.News)
                            </div>

                            <div class="tab-pane fade masonry-container" role="tabpanel" id="events" aria-labelledby="tab-mission">
                                @Html.Raw(ViewBag.Event)
                            </div>

                            <div class="tab-pane fade masonry-container" role="tabpanel" id="techarticles" aria-labelledby="tab-techarticles">
                                @Html.Raw(ViewBag.Articles)
                            </div>


                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

</div>


    <script src="~/Content/Resource/website/js/masonry.pkgd.min.js"></script>
    <script src="~/Content/Resource/website/js/imagesloaded.pkgd.min.js"></script>

    <script>
        (function ($) {
            var $container = $('.masonry-container');
            $container.imagesLoaded(function () {
                $container.masonry({
                    columnWidth: '.articleBox',
                    itemSelector: '.articleBox'
                });
            });
            $('a[data-toggle="pill"]').each(function () {
                var $this = $(this);
                $this.on('shown.bs.tab', function () {
                    $container.imagesLoaded(function () {
                        $container.masonry({
                            columnWidth: '.articleBox',
                            itemSelector: '.articleBox'
                        });
                    });
                });
            });
        })(jQuery);

        $("body").prepend("<a href='#' class='scrollToTop fade_anim'></a>"), $(window).scroll(function () { $(this).scrollTop() > 200 ? $(".scrollToTop").fadeIn() : $(".scrollToTop").fadeOut() }), $(".scrollToTop").click(function () { return $("html, body").animate({ scrollTop: 0 }, 800), !1 });

    </script>
