﻿@model Patvin.Models.OurValues

@{
   
    Layout = "~/Views/Shared/WebsiteMaster.cshtml";
}


@section metatags{
    @Html.Raw(ViewBag.Title)

}

<div class="mainContainer container-fluid">


    @*corona message*@
    <div class="row msgAlert">
        <div class="maxWidth">
            <p style="margin-bottom:0;">
                Our Team looks forward to Serving you once this COVID-19 Pandemic subsides, till then stay safe & healthy.
                @*<a href="~/Content/uploads/PATVIN Health Advisory.pdf" target="_blank">Patvin Health Advisory</a>*@
            </p>
        </div>
    </div>

    <div class="row innerPageBanner">

        <div class="inpageImg" style="background-image:url(/Content/uploads/InnerBanner/@ViewBag.InnerBanner">

            <div class="maxWidth text-center">
                <div class="pageTitle">
                    <div class="breadcrums"><a href="index.html">Home</a><a>About Us</a></div>
                    <h1>Our Values</h1>
                </div>
            </div>

        </div>

    </div>

    <div class="row pageContent">
        <div class="container-fluid">

            <div class="maxWidth fade_anim">
                <div class="row valuesMain">

                    
                    <div class="container-fluid text-center my-5">
                        @Html.Raw(ViewBag.CMS)
                        @*<p>Our values form the roots of our company culture. They guide the way we treat our business partners, our communities and each other.</p>
                        <p>Our values place our customers at the heart of everything we do. They drive our commitment to constant improvement and innovation, efficiency, passion to deliver the best and be a reliable partner to our clients.</p>*@
                    </div>

                    @Html.Raw(ViewBag.OurValues)
                    @*<div class="w-100 text-center valueContainer" id="a">
                        <img src="images/vic_reliability.png">
                        <h2 class="font-weight-bold text-uppercase flexFont">Reliability</h2>
                        <p>A reliable partner to our clients and stakeholders, a reliable employer to our people and reliable global citizens. Patvin sees reliable and competent customer service as the basis for customer satisfaction and assumes complete responsibility for reliable and successful functioning of our products.  The leading position that Patvin enjoys today in the core area of business with repeat business from most of our clients stands to our promise of reliability. </p>
                    </div>

                    <div class="w-100 text-center valueContainer" id="b">
                        <img src="images/vic_commitment.png">
                        <h2 class="font-weight-bold text-uppercase flexFont">Commitment</h2>
                        <p>
                            "We promise to be on time, every time.
                            It is rightly said Time is Money! Our solid experience, indepth expertise, effective team work and right attitude help us fulfill our commitment towards our customers. Patvin is proud to have earned the reputation that it enjoys - of being dependable and resourceful."
                        </p>
                    </div>

                    <div class="w-100 text-center valueContainer" id="c">
                        <img src="images/vic_efficiency.png">
                        <h2 class="font-weight-bold text-uppercase flexFont">Efficiency</h2>
                        <p>We ensure highest levels of efficiency at all times in all aspects - materials, energy, efforts, cost, quality and time. We strive hard to help customers solve difficult manufacturing problems, increase productivity, improve quality, conserve energy, save expensive materials, control environmental emissions and reduce labour costs. Patvin thus enables its customers to realize investments quickly, reliably and consequently allowing time, cost, and quality advantages to be achieved.</p>
                    </div>

                    <div class="w-100 text-center valueContainer" id="d">
                        <img src="images/vic_innovation.png">
                        <h2 class="font-weight-bold text-uppercase flexFont">Innovation</h2>
                        <p>We are here for nothing but to innovate! Leaner, flatter and an adaptable enterprise, we are geared to work smarter and respond quickly to changing market dynamics. We innovate new solutions that keep you at par with the industry and ahead of your competition.</p>
                    </div>

                    <div class="w-100 text-center valueContainer" id="e">
                        <img src="images/vic_passion.png">
                        <h2 class="font-weight-bold text-uppercase flexFont">Passion</h2>
                        <p>We are team of individuals who are passionate about delivering our best. From the smallest task to complex activities, we enjoy making a difference and adding value to every task that we undertake. That is what helps us excel and deliver the highest levels of quality.</p>
                    </div>*@

                </div>
            </div>

        </div>
    </div>

</div>

<script src="~/Content/Resource/website/js/jquery.fittext.js"></script>
<script src="~/Content/Resource/website/js/jquery.waypoints.min.js"></script>

<script>
    jQuery(".flexFont").fitText(1);
</script>

