﻿@model Patvin.Models.GetInTouchForm
@using System.Web.Optimization
@{
   
    Layout = "~/Views/Shared/WebsiteMaster.cshtml";
}


@section metatags{
    @Html.Raw(ViewBag.Title)

}

<div class="mainContainer container-fluid">

    @*corona message*@
    <div class="row msgAlert">
        <div class="maxWidth">
            <p style="margin-bottom:0;">
                Our Team looks forward to Serving you once this COVID-19 Pandemic subsides, till then stay safe & healthy.
                @*<a href="~/Content/uploads/PATVIN Health Advisory.pdf" target="_blank">Patvin Health Advisory</a>*@
            </p>
        </div>
    </div>

    <div class="row innerPageBanner">

        <div class="inpageImg" style="background-image:url(/Content/uploads/InnerBanner/@ViewBag.InnerBanner">

            <div class="maxWidth text-center">
                <div class="pageTitle">
                    <div class="breadcrums" style="position:absolute;top:5px;left:0;"><a href="~/">Home</a><a>Product & Solutions</a></div>
                    <h1>Products</h1>
                </div>
            </div>

        </div>

    </div>

    <div class="row pageContent">
        <div class="container-fluid">

            <div class="row">
                <div class="maxWidth">

                    <div class="row justify-content-center">
                        <div class="col-md-9 mt-5 mb-4 text-center">
                            @Html.Raw(ViewBag.CMS)
                            @*<p>Patvin represents <strong class="blueColor text-uppercase d-block">leading global manufacturers as their official distributor in India</strong> for supplying Industrial equipment including Paint applicators, Pumps, Packages, Plural component equipment, Valves, Speciality Adapters, Industrial Cobots and related accessories.</p>*@
                        </div>
                    </div>

                    <div class="row productPartners mb-4 fade_anim">
                        @Html.Raw(ViewBag.BindPartners)

                        @*<div class="col-lg-3 col-sm-4 col-6 pplogo">
                                <a data-fancybox data-src="#partner_1" href="javascript:;">
                                    <div class="ppimg"><img src="images/logo_2.png"></div>
                                    <span>31 years</span>
                                </a>

                                <div id="partner_1" class="partnersDetails" style="display:none">
                                    <div class="partnerLogo"><img src="images/logo_2.png"></div>
                                    <p>Graco is a leader in fluid handling components and systems. Graco products move, measure, control, dispense and apply a wide range of fluids and viscous materials used in vehicle lubrication, commercial and industrial settings. Patvin is an official distributor of Graco products for a variety of applications including Finishing, Lubrication, Coating & Foam, Process, Sanitary, Sealants & Adhesives.</p>
                                    <p>With more than 30 years of successful experience, we have the expertise to help you find systems for fluid handling to fit the specification needed in your applications.</p>
                                </div>

                            </div>

                            <div class="col-lg-3 col-sm-4 col-6 pplogo">
                                <a data-fancybox data-src="#partner_2" href="javascript:;">
                                    <div class="ppimg"><img src="images/logo_4.png"></div>
                                    <span>12 years</span>
                                </a>

                                <div id="partner_2" class="partnersDetails" style="display:none">
                                    <div class="partnerLogo"><img src="images/logo_4.png"></div>
                                    <p>Carlisle Fluid Technologies (CFT) manufactures spraying, pumping, mixing, metering, and curing equipment for a variety of coatings used in the transportation, general industrial, protective coating, wood, specialty and auto refinishing markets. Some of their brands - DeVilbiss&reg;, Ransburg&reg; and Binks&reg; provide advanced technology for finishing applications in particular and the general industry.</p>
                                    <p>For the last 12 years, Patvin has been associated with Carlisle Fluid Technologies delivering systems and equipments within Liquid finishing , Electrostatics, Automotive Refinishing and Paint Finishing Systems.</p>
                                </div>

                            </div>

                            <div class="col-lg-3 col-sm-4 col-6 pplogo">
                                <a data-fancybox data-src="#partner_3" href="javascript:;">
                                    <div class="ppimg"><img src="images/logo_3.png"></div>
                                    <span>8 years</span>
                                </a>

                                <div id="partner_3" class="partnersDetails" style="display:none">
                                    <div class="partnerLogo"><img src="images/logo_3.png"></div>
                                    <p>HOSCO is a manufacturer of smooth bore, "cavity-free" stainless steel fittings and accessories designed specifically for the use in paint circulating and application finishing systems. Patvin associates with HOSCO for the last 8 years for their range of products.</p>
                                </div>

                            </div>

                            <div class="col-lg-3 col-sm-4 col-6 pplogo">
                                <a data-fancybox data-src="#partner_4" href="javascript:;">
                                    <div class="ppimg"><img src="images/logo_1.png"></div>
                                    <span>1 year</span>
                                </a>

                                <div id="partner_4" class="partnersDetails" style="display:none">
                                    <div class="partnerLogo"><img src="images/logo_1.png"></div>
                                    <p>In 2018 Patvin partnered with Universal Robots (UR) to bring safe, flexible, and easy-to-use 6-axis industrial robotic arms to businesses of every size, all over the world. UR develops industrial collaborative robots that automate and streamline repetitive industrial processes. There are three different collaborative robot sizes that are easily integrated into existing production environments. With six articulation points and a wide scope of flexibility, these collaborative robot arms are designed to mimic the range of motion of a human arm. The collaborative robots have 3 different payloads 3, 5 and 10 kgs. UR robot arms can automate virtually anything, we mean virtually anything; from assembly to painting, from screw-driving to labeling, from packing to polishing, from injection molding to welding, and whatever other processing task you can think of. Thanks to the flexibility of the UR family, the robot arms are economically viable for even small-batch and mixed-product assembly.</p>
                                </div>

                            </div>*@
                    </div>

                </div>
            </div>


            <div class="row productRange">

                <div class="maxWidth py-5 fade_anim">
                    <div class="title text-center titillium"><h2>We provide wide range of products</h2></div>

                    <div class="row">
                        @Html.Raw(ViewBag.BindRangeOfProducts)
                        @*                        <div class="col-md-4 mb-3">
                                <h3 class="orangeColor font-weight-bold border-bottom pb-2">Finishing Equipment</h3>
                                <ul>
                                    <li>Spray Guns</li>
                                    <li>Electrostatic Spray Guns</li>
                                    <li>2K Systems</li>
                                    <li>Finishing Accessories</li>
                                    <li>Pumps</li>
                                    <li>Rotary Bell Applicators</li>
                                    <li>Spray Packages</li>
                                    <li>Ball Valves</li>
                                    <li>Smooth Bore Fitting and Adaptors</li>
                                    <li>Quick Disconnects</li>
                                    <li>Restrictors and Flow Regulators</li>
                                    <li>Paint and Air Hoses</li>
                                </ul>
                            </div>

                            <div class="col-md-4 mb-3">
                                <h3 class="orangeColor font-weight-bold border-bottom pb-2">Sealant and Adhesive Applications</h3>
                                <ul>
                                    <li>Hot Melt Equipment</li>
                                    <li>Meter-Mix-Dispense Equipment</li>
                                    <li>Metering Packages</li>
                                    <li>Supply Systems</li>
                                </ul>
                            </div>

                            <div class="col-md-4 mb-3">
                                <h3 class="orangeColor font-weight-bold border-bottom pb-2">Pumps</h3>
                                <ul>
                                    <li>Paint Transfer Applications</li>
                                    <li>Lubrication Applications</li>
                                    <li>Bulk Transfer - Chemical and Pharma.</li>
                                    <li>Small Pumping Stations</li>
                                </ul>
                            </div>*@

                    </div>

                </div>

            </div>

            <!-- product & form Ends -->
            <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

            <div class="row mt-3" id="customerService">
                <div class="maxWidth">
                    <div class="row my-5">
                        <div class="col-lg-4 pb-4 sspTitle">
                            <strong class="orangeColor titillium">24x7</strong> <br> <span>Service and Spare Parts</span>
                        </div>
                        <div class="col">
                            @Html.Raw(ViewBag.ServiceSpareParts)

                            @*<div class="row">
                                    <div class="col-auto"> <img src="images/ic_service_1.png"> </div>
                                    <div class="col">
                                        <h3 class="titillium font-weight-bold blueColor mb-1">Dedicate Service Team</h3>
                                        <p>We have an extensive and trained service network throughout the country with staff positioned strategically near customers to offer timely assistance. Our service engineers and technicians are trained by our principals, to offer efficient service support and training to our clients.</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-auto"> <img src="images/ic_service_4.png"> </div>
                                    <div class="col">
                                        <h3 class="titillium font-weight-bold blueColor mb-1">Adequate Spares Inventory</h3>
                                        <p>Our support infrastructure for spares and repairs further provides our customers with timely and effective on-site preventive maintenance and repair service. We hold an inventory of spares to the tune of INR 50 Million to offer efficient after sales services to our customers.</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-auto"> <img src="images/ic_service_7.png"> </div>
                                    <div class="col">
                                        <h3 class="titillium font-weight-bold blueColor mb-1">Perceptive Approach</h3>
                                        <p>A detailed study is undertaken based on the client’s production pattern to identify the critical spares, expected life cycle of wear & tear parts and spares consumption. An attempt is made to gather this data and stock the most critical spares for all the customers.</p>
                                    </div>
                                </div>*@

                        </div>
                    </div>
                </div>
            </div>

            <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

            <div class="row">

                <div class="maxWidth">
                    <div class="solutionContact">

                        <div class="row">

                            <div class="col-md-5 p-0">

                                <div class="solnText_holder">
                                    <div class="title titillium" style="color:#fff;">
                                        <h2>Get Solutions For <strong class="orangeColor">All Industries</strong></h2>
                                    </div>

                                    <p style="margin-bottom:10px;">Consult our technical team for an expert solution to your need.</p>
                                    <a href="/ContactUs" class="orangeBtn" style="width:150px;display:block;margin:auto;">Contact Us</a>
                                </div>

                            </div>

                            <div class="col-md-7">

                                <div class="row industriesList fade_anim">
                                    @Html.Raw(ViewBag.HomeIndustries)
                                    @*<a href="" class="col-lg-3 col-sm-4 col-6">
                                            <img src="images/ic_auto_trans.png" data-title="">
                                            <h3>Automotive & Transportation</h3>
                                        </a>
                                        <a href="" class="col-lg-3 col-sm-4 col-6">
                                            <img src="images/ic_auto_comp.png" data-title="">
                                            <h3>Auto Components</h3>
                                        </a>
                                        <a href="" class="col-lg-3 col-sm-4 col-6">
                                            <img src="images/ic_pharma.png" data-title="">
                                            <h3>Pharmaceutical</h3>
                                        </a>
                                        <a href="" class="col-lg-3 col-sm-4 col-6">
                                            <img src="images/ic_aerospace.png" data-title="">
                                            <h3>Aerospace </h3>
                                        </a>
                                        <a href="" class="col-lg-3 col-sm-4 col-6">
                                            <img src="images/ic_white_goods.png" data-title="">
                                            <h3>White Goods</h3>
                                        </a>
                                        <a href="" class="col-lg-3 col-sm-4 col-6">
                                            <img src="images/ic_ind_prod.png" data-title="">
                                            <h3>Industrial Products</h3>
                                        </a>
                                        <a href="" class="col-lg-3 col-sm-4 col-6">
                                            <img src="images/ic_fcmg.png" data-title="">
                                            <h3>FMCG</h3>
                                        </a>*@
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

            <div class="row">
                <div class="maxWidth">

                    <div class="row">

                        <div class="col-md-7 col-lg-8 mb-5">
                            @Html.Raw(ViewBag.BindRandomTestimonials)

                            @*<div class="csTestimonial">

                                    <div class="container-fluid cstitle"><strong>Testimonials</strong></div>

                                    <div class="cs_testim">

                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words.</p>
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>

                                        <p class="cstestimName"><strong>Vinita Darole</strong><br> Manager - Marketing <br> Patvin Engineering Pvt. Ltd.</p>

                                    </div>


                                </div>*@

                        </div>

                        <div class="col-md-5 col-lg-4 mb-5">

                            <div class="container-fluid prodFormContainer fade_anim whiteColor" style="height:auto;">

                                <div class="tl text-uppercase"><i class="far fa-comment-dots orangeColor" style="font-size:28px;vertical-align:middle;margin-right:5px"></i> Get in Touch</div>

                                @using (@Html.BeginForm("products", "Website", FormMethod.Post))
                                {


                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", placeholder = "Name", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.ContactNo, new { @id = "contacUstid", @class = "form-control", placeholder = "Mobile No.", @autocomplete = "off", @onkeypress = "return isNumberKey(event)" })
                                        @Html.ValidationMessageFor(m => m.ContactNo, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.TextAreaFor(m => m.Comment, new { @class = "form-control", placeholder = "Message", @autocomplete = "off", @rows = "4" })
                                        @Html.ValidationMessageFor(m => m.Comment, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="orangeBtn">Send Message</button>
                                    </div>

                                }

                            </div>

                        </div>

                        <div class="d-none">
                            <div class="csForm downloadbgicon px-4 px-sm-5 py-4" id="case_study_form1">

                                <div class="csfContent">
                                    <div class="csfContent text-center pt-5">
                                        <div class="csfTitle titillium orangeColor"><h2>Thank You!</h2></div>

                                        <p>Our team will contact you shortly.</p>

                                    </div>


                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

@Scripts.Render("~/Admin/FormValidation")

@if (TempData["Message"] != null)
{
    if (TempData["Message"].ToString() == "success")
    {
        <script>
                $(document).ready(function () {

                    $("#case_study_form1").fancybox().trigger('click');

                })
        </script>
    }
}

<script>
    if (window.location.hash) {
        var hash = window.location.hash;
        $('html, body').animate({ scrollTop: $(hash).offset().top - 140 }, 1500, 'swing');
    }
</script>
