﻿@model Patvin.Models.Search

@{
    ViewBag.Title = "Search_Result";
    Layout = "~/Views/Shared/WebsiteMaster.cshtml";
}

<div class="mainContainer container-fluid">

    <div class="row innerPageBanner">

        <div class="inpageImg" style="background-image:url(/Content/uploads/InnerBanner/@ViewBag.InnerBanner">

            <div class="maxWidth text-center">
                <div class="pageTitle">
                    <div class="breadcrums"><a href="index.html">Home</a><a>Search Result</a></div>
                    <h1>Search result for "@ViewBag.SearchTitle"</h1>
                </div>
            </div>

        </div>

    </div>

    <div class="row pageContent">
        <div class="container-fluid">

            <div class="maxWidth fade_anim">
                <div class="row">

                    <div class="w-100 my-5">

                        @Html.HiddenFor(m => m.searchReasult, new { value = "<%= Request['SearchKey'] %>" })

                        <p class="col-md-12" id="pError" style="display:none" align="center">
                            No matching result found.<br>
                            Please modify your search criteria and try searching again.
                        </p>

                        @Html.Raw(ViewBag.Heading)
                        
                       
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>



