﻿@{

    Layout = "~/Views/Shared/WebsiteMaster.cshtml";
}


@section metatags{
    @Html.Raw(ViewBag.Title)

}

<div class="mainContainer container-fluid">

    @*corona message*@
    <div class="row msgAlert">
        <div class="maxWidth">
            <p style="margin-bottom:0;">
                Our Team looks forward to Serving you once this COVID-19 Pandemic subsides, till then stay safe & healthy.
                @*<a href="~/Content/uploads/PATVIN Health Advisory.pdf" target="_blank">Patvin Health Advisory</a>*@
            </p>
        </div>
    </div>

    <div class="row innerPageBanner">

        <div class="inpageImg" style="background-image:url(/Content/uploads/InnerBanner/@ViewBag.InnerBanner">

            <div class="maxWidth text-center">
                <div class="pageTitle">
                    <div class="breadcrums"><a href="~/">Home</a></div>
                    <h1>Turnkey Automation Solutions</h1>
                </div>
            </div>

        </div>

    </div>

    <div class="row pageContent">
        <div class="container-fluid">

            <div class="maxWidth" id="scrollme">

                @Html.Raw(ViewBag.BindServices)

                @*<div class="row my-5 serviceSection">
                    <!--id="Turnkey_Projects"-->

                    <div class="col-lg-7 p-0 serviceTextBox">
                        <div class="px-5 py-4">
                            <img src="images/ic_service_1.png">
                            <h2 class="titillium">Turnkey Projects</h2>
                            <p><strong>Patvin</strong> is a leading supplier of Paint Circulation & Sealant systems. Whether small volume or large robotic paint/ Sealant systems, we are the first choice.  From design & engineering to system integration, installation, training and service, Patvin offers superior turnkey solutions. Our team includes expert engineering professionals, designers, programmers, service engineers, and technicians with broad experience in the field.<p>
                            <p>The experience gained over the years and the consistent drive for technical innovations and improvements have helped Patvin attain the leadership position in offering innovative solutions to diverse global markets. We continue to develop innovative solutions for complex applications, investing 3% of our revenues into research and development.</p>
                        </div>
                    </div>

                    <div class="col-lg-5 p-0 serviceImgBox">
                        <img src="images/employerofchoice.jpg">
                    </div>

                </div>

                <div class="row my-5 serviceSection">
                    <!--id="System_Refurbishment"-->

                    <div class="col-lg-7 p-0 serviceTextBox">
                        <div class="px-5 py-4">
                            <img src="images/ic_service_2.png">
                            <h2 class="titillium">System Refurbishment</h2>
                            <p><strong>Patvin</strong> is a leading supplier of Paint Circulation & Sealant systems. Whether small volume or large robotic paint/ Sealant systems, we are the first choice.  From design & engineering to system integration, installation, training and service, Patvin offers superior turnkey solutions. Our team includes expert engineering professionals, designers, programmers, service engineers, and technicians with broad experience in the field.<p>
                            <p>The experience gained over the years and the consistent drive for technical innovations and improvements have helped Patvin attain the leadership position in offering innovative solutions to diverse global markets. We continue to develop innovative solutions for complex applications, investing 3% of our revenues into research and development.</p>
                        </div>
                    </div>

                    <div class="col-lg-5 p-0 serviceImgBox">
                        <img src="images/employerofchoice.jpg">
                    </div>

                </div>

                <div class="row my-5 serviceSection">
                    <!--id="AMC_Service_Contract"-->

                    <div class="col-lg-7 p-0 serviceTextBox">
                        <div class="px-5 py-4">
                            <img src="images/ic_service_3.png">
                            <h2 class="titillium">AMC/ Service Contract</h2>
                            <p><strong>Patvin</strong> is a leading supplier of Paint Circulation & Sealant systems. Whether small volume or large robotic paint/ Sealant systems, we are the first choice.  From design & engineering to system integration, installation, training and service, Patvin offers superior turnkey solutions. Our team includes expert engineering professionals, designers, programmers, service engineers, and technicians with broad experience in the field.<p>
                            <p>The experience gained over the years and the consistent drive for technical innovations and improvements have helped Patvin attain the leadership position in offering innovative solutions to diverse global markets. We continue to develop innovative solutions for complex applications, investing 3% of our revenues into research and development.</p>
                        </div>
                    </div>

                    <div class="col-lg-5 p-0 serviceImgBox">
                        <img src="images/employerofchoice.jpg">
                    </div>

                </div>

                <div class="row my-5 serviceSection">
                    <!--id="Spare_Parts"-->

                    <div class="col-lg-7 p-0 serviceTextBox">

                        <div class="px-5 py-4">
                            <img src="images/ic_service_4.png">
                            <h2 class="titillium">Spare Parts</h2>
                            <p><strong>Patvin</strong> is a leading supplier of Paint Circulation & Sealant systems. Whether small volume or large robotic paint/ Sealant systems, we are the first choice.  From design & engineering to system integration, installation, training and service, Patvin offers superior turnkey solutions. Our team includes expert engineering professionals, designers, programmers, service engineers, and technicians with broad experience in the field.<p>
                            <p>The experience gained over the years and the consistent drive for technical innovations and improvements have helped Patvin attain the leadership position in offering innovative solutions to diverse global markets. We continue to develop innovative solutions for complex applications, investing 3% of our revenues into research and development.</p>
                        </div>

                    </div>

                    <div class="col-lg-5 p-0 serviceImgBox">
                        <img src="images/employerofchoice.jpg">
                    </div>

                </div>

                <div class="row my-5 serviceSection">
                    <!--id="Technical_Assitance"-->

                    <div class="col-lg-7 p-0 serviceTextBox">
                        <div class="px-5 py-4">
                            <img src="images/ic_service_5.png">
                            <h2 class="titillium">Technical Assitance</h2>
                            <p><strong>Patvin</strong> is a leading supplier of Paint Circulation & Sealant systems. Whether small volume or large robotic paint/ Sealant systems, we are the first choice.  From design & engineering to system integration, installation, training and service, Patvin offers superior turnkey solutions. Our team includes expert engineering professionals, designers, programmers, service engineers, and technicians with broad experience in the field.<p>
                            <p>The experience gained over the years and the consistent drive for technical innovations and improvements have helped Patvin attain the leadership position in offering innovative solutions to diverse global markets. We continue to develop innovative solutions for complex applications, investing 3% of our revenues into research and development.</p>
                        </div>
                    </div>

                    <div class="col-lg-5 p-0 serviceImgBox">
                        <img src="images/employerofchoice.jpg">
                    </div>

                </div>

                <div class="row my-5 serviceSection">
                    <!--id="Demo_Centre"-->

                    <div class="col-lg-7 p-0 serviceTextBox">
                        <div class="px-5 py-4">
                            <img src="images/ic_service_6.png">
                            <h2 class="titillium">Demo Centre</h2>
                            <p><strong>Patvin</strong> is a leading supplier of Paint Circulation & Sealant systems. Whether small volume or large robotic paint/ Sealant systems, we are the first choice.  From design & engineering to system integration, installation, training and service, Patvin offers superior turnkey solutions. Our team includes expert engineering professionals, designers, programmers, service engineers, and technicians with broad experience in the field.<p>
                            <p>The experience gained over the years and the consistent drive for technical innovations and improvements have helped Patvin attain the leadership position in offering innovative solutions to diverse global markets. We continue to develop innovative solutions for complex applications, investing 3% of our revenues into research and development.</p>
                        </div>
                    </div>

                    <div class="col-lg-5 p-0 serviceImgBox">
                        <img src="images/employerofchoice.jpg">
                    </div>

                </div>

                <div class="row my-5 serviceSection">
                    <!--id="Training"-->

                    <div class="col-lg-7 p-0 serviceTextBox">
                        <div class="px-5 py-4">
                            <img src="images/ic_service_7.png">
                            <h2 class="titillium">Training</h2>
                            <p><strong>Patvin</strong> is a leading supplier of Paint Circulation & Sealant systems. Whether small volume or large robotic paint/ Sealant systems, we are the first choice.  From design & engineering to system integration, installation, training and service, Patvin offers superior turnkey solutions. Our team includes expert engineering professionals, designers, programmers, service engineers, and technicians with broad experience in the field.<p>
                            <p>The experience gained over the years and the consistent drive for technical innovations and improvements have helped Patvin attain the leadership position in offering innovative solutions to diverse global markets. We continue to develop innovative solutions for complex applications, investing 3% of our revenues into research and development.</p>
                        </div>
                    </div>

                    <div class="col-lg-5 p-0 serviceImgBox">
                        <img src="images/employerofchoice.jpg">
                    </div>

                </div>*@

            </div>

        </div>

    </div>

</div>

<script>
    if (window.location.hash) {
        var hash = window.location.hash;
        $('html, body').animate({ scrollTop: $(hash).offset().top - 140 }, 1500, 'swing');
    }

    $(".dropdown-menu a").click(function () {
        var target = $(this).attr('href');
        var targetHash = target.substring(target.lastIndexOf('#'));
        $('html, body').animate({ scrollTop: $(targetHash).offset().top - 140 }, 1500, 'swing');
    });
</script>

