﻿@{
 
    Layout = "~/Views/Shared/WebsiteMaster.cshtml";
}


@section metatags{
    @Html.Raw(ViewBag.Title)

}

<div class="mainContainer container-fluid">

    @*corona message*@
    <div class="row msgAlert">
        <div class="maxWidth">
            <p style="margin-bottom:0;">
                Our Team looks forward to Serving you once this COVID-19 Pandemic subsides, till then stay safe & healthy.
                @*<a href="~/Content/uploads/PATVIN Health Advisory.pdf" target="_blank">Patvin Health Advisory</a>*@
            </p>
        </div>
    </div>

    <div class="row innerPageBanner">

        <div class="inpageImg" style="background-image:url(/Content/uploads/InnerBanner/@ViewBag.InnerBanner">

            <div class="maxWidth text-center">
                <div class="pageTitle">
                    <div class="breadcrums"><a href="~/">Home</a><a>Products & Solutions</a></div>
                    <h1>Testimonials</h1>
                </div>
            </div>

        </div>

    </div>

        <div class="row pageContent">
            <div class="container-fluid">

                <div class="maxWidth">

                    <div class="row fade_anim" style="margin-bottom:50px;margin-top:40px;">

                        @Html.Raw(ViewBag.Testimonials)

                        @*<div class="col-md-10 mx-auto my-4 p-0 testimBox">
                                <div class="testimonial pb-4 pt-5 px-5">
                                    <p>The Management and employees of PATVIN ENGINEERING PVT LTD, are committed to consistently deliver enhanced value to our customers in the systems that we deliver.</p>
                                    <p>We would achieve this through continual improvement of our processes and systems by way of Innovation, Technology, Knowledge Management and Employee Training.</p>
                                </div>
                                <div class="testim_author">
                                    <strong>Vinita Darole</strong>,<br>Manager - Marketing,<br>Patvin Engineering Pvt. Ltd.
                                </div>
                            </div>

                            <div class="col-md-10 mx-auto my-4 p-0 testimBox">
                                <div class="testimonial pb-4 pt-5 px-5">
                                    <p>The Management and employees of PATVIN ENGINEERING PVT LTD, are committed to consistently deliver enhanced value to our customers in the systems that we deliver.</p>
                                </div>
                                <div class="testim_author">
                                    <strong>Vinita Darole</strong>,<br>Manager - Marketing,<br>Patvin Engineering Pvt. Ltd.
                                </div>
                            </div>

                            <div class="col-md-10 mx-auto my-4 p-0 testimBox">
                                <div class="testimonial pb-4 pt-5 px-5">
                                    <p>The Management and employees of PATVIN ENGINEERING PVT LTD, are committed to consistently deliver enhanced value to our customers in the systems that we deliver.</p>
                                    <p>We would achieve this through continual improvement of our processes and systems by way of Innovation, Technology, Knowledge Management and Employee Training.</p>
                                </div>
                                <div class="testim_author">
                                    <strong>Vinita Darole</strong>,<br>Manager - Marketing,<br>Patvin Engineering Pvt. Ltd.
                                </div>
                            </div>

                            <div class="col-md-10 mx-auto my-4 p-0 testimBox">
                                <div class="testimonial pb-4 pt-5 px-5">
                                    <p>The Management and employees of PATVIN ENGINEERING PVT LTD, are committed to consistently deliver enhanced value to our customers in the systems that we deliver.</p>
                                    <p>We would achieve this through continual improvement of our processes and systems by way of Innovation, Technology, Knowledge Management and Employee Training.</p>
                                </div>
                                <div class="testim_author">
                                    <strong>Vinita Darole</strong>,<br>Manager - Marketing,<br>Patvin Engineering Pvt. Ltd.
                                </div>
                            </div>

                            <div class="col-md-10 mx-auto my-4 p-0 testimBox">
                                <div class="testimonial pb-4 pt-5 px-5">
                                    <p>The Management and employees of PATVIN ENGINEERING PVT LTD, are committed to consistently deliver enhanced value to our customers in the systems that we deliver.</p>
                                    <p>We would achieve this through continual improvement of our processes and systems by way of Innovation, Technology, Knowledge Management and Employee Training.</p>
                                </div>
                                <div class="testim_author">
                                    <strong>Vinita Darole</strong>,<br>Manager - Marketing,<br>Patvin Engineering Pvt. Ltd.
                                </div>
                            </div>

                            <div class="col-md-10 mx-auto my-4 p-0 testimBox">
                                <div class="testimonial pb-4 pt-5 px-5">
                                    <p>The Management and employees of PATVIN ENGINEERING PVT LTD, are committed to consistently deliver enhanced value to our customers in the systems that we deliver.</p>
                                    <p>We would achieve this through continual improvement of our processes and systems by way of Innovation, Technology, Knowledge Management and Employee Training.</p>
                                </div>
                                <div class="testim_author">
                                    <strong>Vinita Darole</strong>,<br>Manager - Marketing,<br>Patvin Engineering Pvt. Ltd.
                                </div>
                            </div>

                            <div class="col-md-10 mx-auto my-4 p-0 testimBox">
                                <div class="testimonial pb-4 pt-5 px-5">
                                    <p>The Management and employees of PATVIN ENGINEERING PVT LTD, are committed to consistently deliver enhanced value to our customers in the systems that we deliver.</p>
                                    <p>We would achieve this through continual improvement of our processes and systems by way of Innovation, Technology, Knowledge Management and Employee Training.</p>
                                </div>
                                <div class="testim_author">
                                    <strong>Vinita Darole</strong>,<br>Manager - Marketing,<br>Patvin Engineering Pvt. Ltd.
                                </div>
                            </div>*@

                    </div>

                </div>

            </div>
        </div>

    

</div>
 

