﻿@{
    
    Layout = "~/Views/Shared/WebsiteMaster.cshtml";
}


@section metatags{
    @Html.Raw(ViewBag.Title)

}

<div class="mainContainer container-fluid">

    @*corona message*@
    <div class="row msgAlert">
        <div class="maxWidth">
            <p style="margin-bottom:0;">
                Our Team looks forward to Serving you once this COVID-19 Pandemic subsides , till then stay safe & healthy.
                @*<a href="~/Content/uploads/PATVIN Health Advisory.pdf" target="_blank">Patvin Health Advisory</a>*@
            </p>
        </div>
    </div>

    <div class="row innerPageBanner">

        <div class="inpageImg" style="background-image:url(/Content/uploads/InnerBanner/@ViewBag.InnerBanner">

            <div class="maxWidth text-center">
                <div class="pageTitle">
                <div class="breadcrums"><a href="~/">Home</a><a>About Us</a></div>
                <h1>Who We Are</h1>
                </div>
            </div>

        </div>

    </div>

    <div class="row pageContent">
        <div class="container-fluid">

            <div class="maxWidth">

                <div class="row" style="margin-top:50px;margin-bottom:50px;background:#f6f6f6;">

                    <div class="col-md-7">

                        <div class="cmpyProf">
                            <h2 class="titillium blueColor">Founded <strong>in 1987,</strong></h2>

                            @Html.Raw(ViewBag.Founded)

                            @*<p><strong>Patvin</strong> is a leading supplier of Paint Circulation & Sealant systems. Whether small volume or large robotic paint/ Sealant systems, we are the first choice.  From design & engineering to system integration, installation, training and service, Patvin offers superior turnkey solutions. Our team includes expert engineering professionals, designers, programmers, service engineers, and technicians with broad experience in the field.<p>
                            <p>The experience gained over the years and the consistent drive for technical innovations and improvements have helped Patvin attain the leadership position in offering innovative solutions to diverse global markets. We continue to develop innovative solutions for complex applications, investing 3% of our revenues into research and development.</p>*@

                        </div>

                    </div>

                    <div class="col-md-5">
                        <div class="cmpy_usp">

                            <div class="uspScroll titillium">
                                @Html.Raw(ViewBag.FoundedImageText)
                                @*<p>Engineering company with 120 Employees.</p>
                                <p>Service Automotive companies & tier 1 markets.</p>
                                <p>We specialize in Paint & Sealant Application Equipment.</p>
                                <p>Inventory of parts & spares.</p>
                                <p>Dedicated Service Network across the company.</p>*@
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row flamesBg" style="margin-bottom:50px;">
                    <div class="col-md-4 p-0 align-self-center">
                        <div class="title titillium">
                            <h2>Your Partner For Quality.</h2>
                        </div>
                    </div>
                    <div class="col-md-8 px-0 px-md-4 mvq_tabs">

                        <ul class="nav nav-pills mb-3" id="mvq-tab" role="tablist">
                            @Html.Raw(ViewBag.Heading)
                            @*<li class="nav-item">
                                <a class="nav-link active" role="tab" data-toggle="pill" href="#cf-quality" id="tab-quality" aria-controls="cf-quality" aria-selected="true">
                                    <i class="far fa-thumbs-up"></i> Quality Policy
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" role="tab" data-toggle="pill" href="#cf-mission" id="tab-mission" aria-controls="cf-mission" aria-selected="false">
                                    <i class="fas fa-bullseye"></i> Our Mission
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" role="tab" data-toggle="pill" href="#cf-vision" id="tab-vision" aria-controls="cf-vision" aria-selected="false">
                                    <i class="far fa-eye"></i> Our Vision
                                </a>
                            </li>*@
                        </ul>

                        <div class="tab-content mt-4" id="mvq-tabContent">

                            @Html.Raw(ViewBag.Description)
                            @*<div class="tab-pane fade show active" role="tabpanel" id="cf-quality" aria-labelledby="tab-quality">
                                <p>We, the Management and employees of Patvin Engineering Private Limited, are committed to consistently <strong>deliver enhanced value to our customers</strong> in the systems that we deliver.<p>
                                <p>We would achieve this through continual improvement of our processes and systems by way of <strong class="orangeColor">Innovation, Technology, Knowledge Management and Employee Training</strong>.</p>
                            </div>

                            <div class="tab-pane fade" role="tabpanel" id="cf-mission" aria-labelledby="tab-mission">
                                <p>Providing <strong>High Quality Innovative Solutions</strong> to our Clients along with continual Growth Opportunities to our Partners and team Members.<p>
                                <p>We are <strong class="orangeColor">Committed to Excellence</strong> without compromising our Core Objectives of Diligence and Integrity.</p>
                            </div>

                            <div class="tab-pane fade" role="tabpanel" id="cf-vision" aria-labelledby="tab-vision">
                                <p>To <strong>Make Complex Operations/ Solutions Simple</strong>, Robust and Effective without compromising Our High Quality.</p>
                            </div>*@
                        </div>

                    </div>
                </div>

            </div>

            <div class="row py-5 timelineDiv">
                <div class="maxWidth">

                    <div class="title text-center titillium" style="position:relative;">
                        <h4>Check Our</h4>
                        <h2><strong>Milestones</strong></h2>
                    </div>

                    <div id="cd-timeline" class="cd-container">

                        @Html.Raw(ViewBag.Milestone)

                        @*<div class="cd-timeline-block">
                            <div class="cd-timeline-img">1987</div>
                            <div class="cd-timeline-content">
                                <p>Patvin signs Distributorship agreement with for M/s. GRACO Inc., USA. </p>
                            </div>
                        </div>

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img">1995</div>
                            <div class="cd-timeline-content">
                                <p>Supplied first turn key project to General Motors during their factory installation in India. </p>
                            </div>
                        </div>

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img">1996</div>
                            <div class="cd-timeline-content">
                                <p>Delivered large project to Mahindra Ford JV.</p>
                            </div>
                        </div>

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img">1997</div>
                            <div class="cd-timeline-content">
                                <p>Delivered first Hydraulically powered PCS systems, to Hyundai Motors Chennai, India.</p>
                            </div>
                        </div>

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img">1998</div>
                            <div class="cd-timeline-content">
                                <p>Delivered first project to Toyoto Kirloskar Pumps, Bangalore.</p>
                            </div>
                        </div>

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img">2002</div>
                            <div class="cd-timeline-content">
                                <p>Patvin signs an agreement to work with ITW Automotive (now Carlisle) for the Paint application business.</p>
                            </div>
                        </div>

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img">2004</div>
                            <div class="cd-timeline-content">
                                <p>Delivered Auto color changer system to Mahindra and Mahindra.</p>
                            </div>
                        </div>

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img">2006 </div>
                            <div class="cd-timeline-content">
                                <p>Inaugurated new Plant at Navi Mumbai.</p>
                            </div>
                        </div>

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img">2007 </div>
                            <div class="cd-timeline-content">
                                <p>Inaugurated Paint & Sealant Application Laboratory.</p>
                            </div>
                        </div>

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img">2009 </div>
                            <div class="cd-timeline-content">
                                <p>Inaugurated service centre facility at Pune.</p>
                            </div>
                        </div>

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img">2011 </div>
                            <div class="cd-timeline-content">
                                <p>Delivered first electrically powered PCS systems to Mahindra, Nagpur.</p>
                            </div>
                        </div>

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img">2012 </div>
                            <div class="cd-timeline-content">
                                <p>Inaugurated Plant 2 for Manufacturing and completed 25 years of successful Business.</p>
                            </div>
                        </div>

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img">2017 </div>
                            <div class="cd-timeline-content">
                                <p>Inaugurated Plant 3.</p>
                            </div>
                        </div>

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img">2019 </div>
                            <div class="cd-timeline-content">
                                <p>Inaugurated new Paint & Sealant Lab.</p>
                            </div>
                        </div>*@

                    </div>

                </div>
            </div>

            <div class="maxWidth">

                <div class="row my-5">
                    <div class="w-100">
                        <div class="title text-center"><h2>Infrastructure & Facilities</h2></div>

                        <div class="row infraGallery fade_anim">

                            @Html.Raw(ViewBag.InfrastructureFacilities)
                            @*<div class="col-lg-4 col-sm-6">
                                <a href="images/employerofchoice.jpg" data-fancybox="img_gallery" data-caption="Design Centre" class="infra_thumb">
                                    <img src="images/employerofchoice.jpg">
                                    <strong>Design Centre</strong>
                                </a>
                            </div>

                            <div class="col-lg-4 col-sm-6">
                                <a href="images/prod_1.jpg" data-fancybox="img_gallery" data-caption="Engineering and Projects facility" class="infra_thumb">
                                    <img src="images/prod_1.jpg">
                                    <strong>Engineering and Projects facility</strong>
                                </a>
                            </div>

                            <div class="col-lg-4 col-sm-6">
                                <a href="images/prod_2.jpg" data-fancybox="img_gallery" data-caption="Manufacturing Units" class="infra_thumb">
                                    <img src="images/prod_2.jpg">
                                    <strong>Manufacturing Units</strong>
                                </a>
                            </div>

                            <div class="col-lg-4 col-sm-6">
                                <a href="images/prod_3.jpg" data-fancybox="img_gallery" data-caption="Demonstration and Development Lab" class="infra_thumb">
                                    <img src="images/prod_3.jpg">
                                    <strong>Demonstration and Development Lab</strong>
                                </a>
                            </div>

                            <div class="col-lg-4 col-sm-6">
                                <a href="images/prod_4.jpg" data-fancybox="img_gallery" data-caption="Training Centre" class="infra_thumb">
                                    <img src="images/prod_4.jpg">
                                    <strong>Training Centre</strong>
                                </a>
                            </div>

                            <div class="col-lg-4 col-sm-6">
                                <a href="images/employerofchoice.jpg" data-fancybox="img_gallery" data-caption="Service Centre" class="infra_thumb">
                                    <img src="images/employerofchoice.jpg">
                                    <strong>Service Centre</strong>
                                </a>
                            </div>*@

                        </div>

                    </div>


                </div>

            </div>

        </div>

    </div>

</div>

<script src="~/Content/Resource/website/js/modernizr.js"></script>

<script>
$('.uspScroll').slick({slidesToShow:1,slidesToScroll:1,autoplay:true,autoplaySpeed:3000,pauseOnHover:false,infinite:true,speed:500,cssEase:'ease-in',dots:true,arrows:false});

jQuery(document).ready(function($){
	var $timeline_block = $('.cd-timeline-block');

	//hide timeline blocks which are outside the viewport
	$timeline_block.each(function(){
		if($(this).offset().top > $(window).scrollTop()+$(window).height()*0.75) {
			$(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden');
		}
	});

	//on scolling, show/animate timeline blocks when enter the viewport
	$(window).on('scroll', function(){
		$timeline_block.each(function(){
			if( $(this).offset().top <= $(window).scrollTop()+$(window).height()*0.75 && $(this).find('.cd-timeline-img').hasClass('is-hidden') ) {
				$(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
			}
		});
	});
});



$("body").prepend("<a href='#' class='scrollToTop fade_anim'></a>"),$(window).scroll(function(){$(this).scrollTop()>200?$(".scrollToTop").fadeIn():$(".scrollToTop").fadeOut()}),$(".scrollToTop").click(function(){return $("html, body").animate({scrollTop:0},800),!1});
</script>


