﻿@using System.Web.Optimization

<!DOCTYPE html>

<html>
<head>
    <meta name="theme-color" content="#bfc2d1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Content/Resource/website/images/logo.jpg")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/Content/Resource/website/images/logo.jpg")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/Content/Resource/website/images/logo.jpg")">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    @Styles.Render("~/Admin/css1")
    @Scripts.Render("~/Admin/js1")
    @Styles.Render("~/Admin/css2")

    <!-- Icon font-->
    <link rel="stylesheet" href="~/Content/Resource/website/css/icon-font.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Resource/website/css/flaticon.css">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Content("~/Admin/Index/")" class="site_title">
                            @*<i class="fa fa-paw"></i>*@
                            <img src="@Url.Content("~/Content/Resource/website/images/logo.jpg")" alt="Image Not Available" class="img-circle profile_img" style="height:34px;width:34px;margin-top: 2px;margin-left: 1px;">
                            <span>Super Admin</span>
                        </a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="@Url.Content("~/Content/Resource/website/images/logo.jpg")" alt="Image Not Available" class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>Patvin</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li><a href="~/Admin/Index/"><i class="fa fa-home"></i>Dashboard </a></li>
                                <li>
                                    <a><i class="fa fa-edit"></i>Home Page CMS<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="~/Admin/HomeBanner">Home Banner</a></li>
                                        <li><a href="~/Admin/CMS/1">World Class Solutions Intro</a></li>
                                        <li><a href="~/Admin/HomeSolutions">Home Page Partners</a></li>
                                        <li><a href="~/Admin/CMS/2">About Patvin</a></li>
                                        <li><a href="~/Admin/HomeStatistics">Statistics</a></li>
                                        <li><a href="~/Admin/CMS/3">Industrial Solutions Intro</a></li>
                                        <li><a href="~/Admin/HomeProductSolutions">Industrial Solutions List</a></li>
                                        <li><a href="~/Admin/HomeIndustries">Industries Icon Links</a></li>
                                        <li><a href="~/Admin/HomeGreenWorld">Green World</a></li>
                                        <li><a href="~/Admin/SocialMedia/1">Footer Contact Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="~/Admin/InnerBanner"><i class="fa fa-edit"></i>Inner Page Banners</a></li>
                                <li>
                                    <a><i class="fa fa-edit"></i>About Us <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a>Who We Are<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li class="sub_menu">
                                                    <a href="~/Admin/CMS/4">Founded</a>
                                                </li>
                                                <li>
                                                    <a href="~/Admin/CMS/5">Founded Slide Text</a>
                                                </li>
                                                <li>
                                                    <a href="~/Admin/QualityMissionVison">Quality Mission Vison</a>
                                                </li>
                                                <li>
                                                    <a href="~/Admin/Milestone">Milestone</a>
                                                </li>
                                                <li>
                                                    <a href="~/Admin/InfrastructureFacilities"> Infrastructure & Facilities  </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a>Leadership Team<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li class="sub_menu">
                                                <a href="~/Admin/CMS/10">Leadership Team Overview</a>
                                                </li>
                                                <li class="sub_menu">
                                                <a href="~/Admin/Management">Leadership Team</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a>Our Values<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li class="sub_menu">
                                                    <a href="~/Admin/CMS/6">Our Values Introduction</a>
                                                </li>
                                                <li>
                                                    <a href="~/Admin/OurValues">Our Values</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="sub_menu">
                                            <a href="~/Admin/CMS/7">Health & Safety</a>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a><i class="fa fa-edit"></i>Product & Solutions<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a>Product<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li class="sub_menu">
                                                    <a href="~/Admin/CMS/8">Product Introduction</a>
                                                </li>
                                                <li>
                                                    <a href="~/Admin/ProductPartners">Product Partners</a>
                                                </li>
                                                <li>
                                                    <a href="~/Admin/RangeOfProduct">Range Of Product</a>
                                                </li>
                                                <li>
                                                    <a href="~/Admin/ServiceSpareParts">Service & Spare Parts</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="~/Admin/SolutionsTechnologyIndustry">Solutions Technology Industries<span></span></a>
                                            @*<a>Technology<span class="fa fa-chevron-down"></span></a>*@
                                            @*<ul class="nav child_menu">
                                                    <li class="sub_menu">
                                                        <a href="~/Admin/SolutionsTechnologyIndustry">Solution Technology Industries</a>
                                                    </li>

                                                </ul>*@
                                        </li>
                                        <li>
                                            <a href="~/Admin/SolutionsTechnologyIndustryDetail">Solutions Technology Industries Details<span></span></a>
                                        </li>
                                        <li><a href="~/Admin/CaseStudies">Case Studies</a></li>
                                        <li><a href="~/Admin/Testimonials">Testimonials</a></li>
                                    </ul>
                                </li>


                                @*<li><a href="~/Admin/WhatWeOffer"><i class="fa fa-edit"></i>What We Offer </a></li>*@


                                <li><a href="~/Admin/Services"><i class="fa fa-edit"></i>Services</a></li>
                                <li><a href="~/Admin/NewsRoom"><i class="fa fa-edit"></i>NewsRoom</a></li>

                                <li>
                                    <a><i class="fa fa-edit"></i>Careers <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="~/Admin/CMS/9">Career OverView</a></li>
                                        <li>
                                            <a href="~/Admin/CareerOverViewImages">Career OverView Images</a>
                                        </li>
                                        <li>
                                            <a href="~/Admin/CareerWeBelieve">Career We Believe</a>
                                        </li>
                                        <li>
                                            <a href="~/Admin/CareerOurPeople">Career Our People</a>
                                        </li>
                                        <li>
                                            <a href="~/Admin/CurrentOpenings">Current Openings</a>
                                        </li>
                                        <li>

                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-edit"></i>Contact Us <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="~/Admin/SocialMedia/2">Quick Contacts</a></li>
                                        <li><a href="~/Admin/ReachUs">Addresses</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-edit"></i>Enquiry Recieved <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="~/Admin/ContactUs">Contact Us</a></li>
                                        <li><a href="~/Admin/GetInTouchForm">Get In Touch</a></li>
                                        <li><a href="~/Admin/CasestudyformRegister">Case Study Register</a></li>
                                        <li><a href="~/Admin/ApplyForJob">Applying For Job</a></li>
                                    </ul>
                                </li>

                                <li><a href="~/Admin/AddNewPage"><i class="fa fa-edit"></i>Add Landing Pages</a></li>
                                <li><a href="~/Admin/MetaTag"><i class="fa fa-edit"></i>Add MetaTag</a></li>
                            </ul>
                        </div>


                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small" style="background-color: #4b5f71; padding: 15px 0px 0px 0px;">
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="@Url.Content("~/Content/Resource/website/images/img.jpg")" alt="Image not Available">User

                                    <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="@Url.Content("~/Admin/UpdateProfile")">Profile</a></li>
                                    <li><a href="@Url.Content("~/Admin/ChangePassword")">Change Password</a></li>
                                    <li><a href="@Url.Action("LogOut", "Login", new { @Usertype = "SuperAdmin" })"><i class="fa fa-sign-out pull-right"></i>Log Out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->

            @RenderBody()

            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    © @DateTime.Now.Year  <a href="#">Patvin.</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    @Scripts.Render("~/Admin/js2")

</body>
</html>
