﻿@using System.Web.Optimization
<!DOCTYPE html>

<footer class="container-fluid">
    <div class="row footerContacts">
        @Html.Action("ReachUs")
        <div class="maxWidth">
            <div class="row">
                <div class="col-sm-4 footcontact">
                    <div class="icon"><i class="fas fa-phone-volume"></i></div>
                    <div class="ic_tl titillium">Have a question? Call us now</div>
                    <a href="">@Html.Raw(TempData["CallUs"].ToString())</a>
                </div>
                <div class="col-sm-4 footcontact">
                    <div class="icon"><i class="far fa-envelope"></i></div>
                    <div class="ic_tl titillium">Need support? Drop us an email</div>
                    <a href="mailto:@TempData["MailUs"].ToString()">@TempData["MailUs"].ToString()</a>
                </div>
                <div class="col-sm-4 footcontact">
                    <div class="icon"><i class="far fa-clock"></i></div>
                    <div class="ic_tl titillium">We are open</div>
                    <a>@TempData["opentime"].ToString()</a>
                </div>
            </div>
        </div>

    </div>

    <div class="row footerMain">

        @{Html.RenderAction("FooterList", "Website");}

        @*<div class="maxWidth">
            <div class="row py-5">

                <div class="col-lg-6 col-md-6">
                    <div class="titillium foottl">Products & Solutions</div>
                    <div class="container-fluid clearfix">
                        <ul class="row quickLinks fade_anim">
                            <li class="col-6"><a href="">Paint Circulation Systems</a></li>
                            <li class="col-6"><a href="">Paint Application System</a></li>
                            <li class="col-6"><a href="">Color Change System </a></li>
                            <li class="col-6"><a href="">Two Component Paint System - 2K System </a></li>
                            <li class="col-6"><a href="">Sealant and Adhesive Systems </a></li>
                            <li class="col-6"><a href="">Automation in Sealant Adhesive </a></li>
                            <li class="col-6"><a href="">NVH Application Systems </a></li>
                            <li class="col-6"><a href="">Lubrication Systems </a></li>
                            <li class="col-6"><a href="">Piggable System </a></li>
                            <li class="col-6"><a href="">UR Robots </a></li>
                        </ul>
                    </div>

                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="titillium foottl">Industries Served</div>
                    <div class="container-fluid clearfix">
                        <ul class="row quickLinks fade_anim">
                            <li class="col-6"><a href="">Automotive & Transportation</a></li>
                            <li class="col-6"><a href="">Auto components</a></li>
                            <li class="col-6"><a href="">Pharmaceutical </a></li>
                            <li class="col-6"><a href="">Aerospace </a></li>
                            <li class="col-6"><a href="">White goods </a></li>
                            <li class="col-6"><a href="">Industrial Products </a></li>
                            <li class="col-6"><a href="">FMCG</a></li>
                        </ul>
                    </div>

                </div>

                <div class="col-lg-2 col-md-12">
                    <div class="titillium foottl">Follow us on:</div>
                    <script src="https://platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
                    <script type="IN/FollowCompany" data-id="14526047" data-counter="top">
                    </script>
                </div>

            </div>
        </div>*@

    </div>

    <div class="row bottomFooter">

        <div class="maxWidth text-center">

            © 2021 PATVIN. All Rights Reserved. <span style="display:inline-block"><a href="/privacy-policy">Privacy Policy</a>|<a href="/disclaimer">Disclaimer</a></span>

            <div style="margin-top:7px;color:#aaa;font-size:12px;">
               <a href="https://www.kwebmaker.com" target="_blank">Kwebmaker&trade;</a>
            </div>

        </div>

    </div>
</footer>


