﻿<!--
 CSS
 ==================================================
 -->
<!-- Bootstrap-->

<link rel="stylesheet" href="~/Content/Resource/website/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<link rel="stylesheet" href="~/Content/Resource/website/css/sina-nav.css">
<link rel="stylesheet" href="~/Content/Resource/website/css/style.css">


<script src="/Content/Resource/Website/js/jquery-3.3.1.min.js"></script>
<script src="/Content/Resource/Website/js/slick.min.js"></script>
<script src="/Content/Resource/website/js/jquery.fancybox.min.js"></script>






