﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>

    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  
    @RenderSection("metatags",required:false)

    <meta property='og:title' content="Your partner for quality"/>
    <meta property='og:image' content="http://patvin.co.in/Content/Resource/website/images/Preview_image.jpg"/>

    <link rel="shortcut icon" href="/Content/Resource/website/images/logo.jpg" />
    <link rel="apple-touch-icon" sizes="192x192" href="~/Content/Resource/website/images/logo.jpg">
    <link rel="icon" sizes="192x192" href="images/logo.jpg">
    @Html.Partial("header")
</head>
<body>

    @{Html.RenderAction("HeaderMenu", "Website");}
    

    <div class="menu_overlay fade_anim"></div>

    @RenderBody()

  
    @Html.Partial("footer")

    <script src="/Content/Resource/Website/js/popper.min.js"></script>
    <script src="/Content/Resource/Website/js/bootstrap.min.js"></script>
    <script src="/Content/Resource/Website/js/sina-nav.js"></script>   
   
    <script>

     

$("body").prepend("<a href='#' class='scrollToTop fade_anim'></a>"),$(window).scroll(function(){$(this).scrollTop()>200?$(".scrollToTop").fadeIn():$(".scrollToTop").fadeOut()}),$(".scrollToTop").click(function(){return $("html, body").animate({scrollTop:0},800),!1});
    </script>






    <script>
        function SearchKeyword() {
           
            var searchvalue = $('#txtSearch').val();
        if (searchvalue != '') {
            window.location.href = "/Search_Result/?SearchKey=" + searchvalue + "";
        }
        else {
            alert('Enter search keyword ');
        }
    }


        function MobSearchKeyword() {
            var searchvalue = $('#txtSearch').val();
            //alert(searchvalue);
            if (searchvalue != '') {
                window.location.href = "/Search_Result/?SearchKey=" + searchvalue + "";
            }
            else {
                alert('Enter search keyword ');
            }
        }



    $(document).ready(function () {
        document.onkeypress = function keypress(e) {
            if (e.keyCode == 13) {
                SearchKeyword();
                return false;
            }

        }
    })

    </script>


    <script type="text/javascript">



  var _gaq = _gaq || [];

  _gaq.push(['_setAccount', 'UA-27772177-1']);

  _gaq.push(['_trackPageview']);



  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript';
ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(ga, s);

  })();



    </script>

    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/aacbe5687ff6c3fa2d0e48dd7/9d9fe3a3ad469f43bd3f9128f.js"); </script>

</body>


</html>
